<!-- -------------- Main Wrapper -------------- -->
<section id="content_wrapper">
  <!-- -------------- Topbar -------------- -->
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title"><span class="parent-item"><span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;<span class="fa fa-angle-right"></span></span> ACA IRS Section 6056 Reporting / Client Onboarding Form</span>
      </div>
    </div>
  </header>
  <!-- -------------- /Topbar -------------- -->

  <!-- -------------- Filter , New ControlGroup , ControlGroup ,  -------------- -->
  <section id="content" class="table-layout animated fadeIn">
      <div class="modal-body">
        <!-- <not closed> -->
        <div class="chute chute-center">
          <!-- <not closed> -->
          <div class="allcp-form theme-primary center-block">
            <!-- <closed> -->
            <form method="post" id="allcp-form" novalidate="novalidate">
              <!-- <not closed> -->
              <div class="panel-body">
                <!-- <not closed> -->
                <div class="row">
                  <div class="col-md-12">
                    <!-- Standard Fields-->
                    <div class="panel">
                      <div class="panel-body no-padding" style="margin-top: 0px">
                        <form class="form-horizontal" role="form" [formGroup]="clientOnboardingForm">
                          <div class="section">
                            <label> <h4 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;"> Client Information </h4></label>
                          </div>
                          <div class="section row">
                            <div class="col-md-6 ph10 mb5">
                              <label for="txtControlGroup" class="col-lg-6 control-label"> <h6 class="label-item"> Applicable Large Employer Name</h6></label>
                              <input type="text" id="txtControlGroup" formControlName="aleNameControl" class="gui-input" placeholder="ALE Name...">
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label for="txtControlGroup" class="col-lg-5 control-label"> <h6 class="label-item">Controlled Group Name</h6></label>
                              <input type="text" id="txtControlGroup" formControlName="controlGroupNameControl" class="gui-input" placeholder="Control Group Name...">
                            </div>
                          </div>
                          <div  class="section row">
                            <div class="col-md-6 ph10 mb5">
                              <label for="txtControlGroupEIN" class="col-lg-5 control-label"> <h6 class="label-item"> Address</h6></label>
                              <input type="text" id="txtControlGroupEIN" formControlName="addressControl" class="gui-input" placeholder="Address...">
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label for="txtMeasureStartDate" class="col-lg-6 control-label"> <h6 class="label-item"> City</h6></label>
                              <input type="text" id="txtMeasureStartDate" formControlName="cityControl" class="gui-input" placeholder="City...">
                            </div>
                          </div>
                          <div class="section row">
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label"> <h6 class="label-item"> State</h6></label>
                              <select name="state" class="gui-input" formControlName="stateControl">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA" selected>California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                                <option value="DC">District of Columbia</option>
                                <option value="AS">American Samoa</option>
                                <option value="GU">Guam</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="UM">United s Minor Outlying Islands</option>
                                <option value="VI">Virgin Islands, U.S.</option>
                              </select>
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" for="txtMeasureEndDate1"> <h6 class="label-item"> ZIP</h6>   </label>
                              <input class="gui-input" id="txtMeasureEndDate1" formControlName="zipControl" placeholder="ZIP..." />
                            </div>
                          </div>
                          <div class="section row">
                            <label> <h5 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;"> General Contact </h5></label>
                          </div>
                          <div class="section row">

                            <div class="col-md-6 ph10 mb5">

                              <label class="col-lg-6 control-label" > <h6 class="label-item"> Name</h6></label>
                              <input class="gui-input" id="txtMeasureEndDate2" formControlName="gcNameControl" placeholder="Name..." />
                            </div>
                            <div class="col-md-6 ph10 mb5">

                              <label class="col-lg-6 control-label" > <h6 class="label-item"> Title</h6></label>
                              <input class="gui-input" id="txtMeasureEndDate2" formControlName="gcNameControl" placeholder="Name..." />
                            </div>
                          </div>
                          <div class="section row">
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" > <h6 class="label-item"> Email</h6></label>
                              <input class="gui-input" id="txtMeasureEndDate4" formControlName="gcEmailControl" placeholder="Email..." />
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" for="txtMeasureEndDate3"> <h6 class="label-item"> Phone</h6>  </label>
                              <input class="gui-input"  formControlName="gcPhoneControl" placeholder="Phone..." />
                            </div>
                          </div>
                          <div class="section">
                            <label> <h5 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;"> Contact for On-boarding Inquiries </h5></label>
                          </div>
                          <div class="section row">
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" > <h6 class="label-item"> Name</h6></label>
                              <input class="gui-input" id="txtMeasureEndDate2" formControlName="oicNameControl" placeholder="Name..." />
                            </div>
                            <!--<div class="col-md-6 ph10 mb5">
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" for="txtMeasureEndDate3"> <h6 class="label-item"> Title</h6>  </label>
                              <input class="gui-input"  formControlName="oicTitleControl" placeholder="Title..." />
                            </div>-->
                          </div>
                          <div class="section row">
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" > <h6 class="label-item"> Email</h6></label>
                              <input class="gui-input" id="txtMeasureEndDate4" formControlName="oicEmailControl" placeholder="Email..." />
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" for="txtMeasureEndDate3"> <h6 class="label-item"> Phone</h6>  </label>
                              <input class="gui-input"  formControlName="oicPhoneControl" placeholder="Phone..." />
                            </div>
                          </div>
                          <div class="section">
                            <label> <h4 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;"> General Information</h4></label>
                          </div>
                          <div class="section row">
                            <div class="col-lg-12 ph10 mb5">
                              <label class="control-label" > <h6 class="label-item">Will Revolution report for all legal entities(ALEs)in your organization,or select groups? </h6></label>
                            </div>
                          </div>
                          <md-radio-group formControlName="reportingLegalEntitiesControl" [(ngModel)]="reportingEntities">
                          <div class="section row">
                            <div class="col-lg-12 ph10 mb5">
                              <div class="col-lg-6">
                                <div class="col-lg-6">
                                  <md-radio-button value="all" class="md-primary"> All</md-radio-button>
                                  <!--<md-checkbox aria-label="Checkbox 1">All </md-checkbox>-->
                                </div>
                                <div class="col-lg-6">
                                  <md-radio-button value="payroll" class="md-primary">Some</md-radio-button>
                                  <!--<md-checkbox aria-label="Checkbox 1">Payroll Serviced </md-checkbox>-->
                                </div>
                              </div>
                              <div class="col-lg-6">
                                <div class="col-lg-2">
                                  <md-radio-button value="other" class="md-primary"> Other situation</md-radio-button>
                                  <!--<md-checkbox aria-label="Checkbox 1">Other </md-checkbox>-->
                                </div>
                                <div class="col-lg-6" *ngIf="reportingEntities=='other'">
                                  <input class="gui-input" style="height: 22px"  formControlName="reportingLegalEntitiesExplanationControl" placeholder="Please explain..." /></div>
                              </div>
                            </div>
                          </div>
                          </md-radio-group>
                          <div class="section row">
                            <div class="col-lg-12 ph10 mb5">
                              <label class="control-label" > <h6 class="label-item">Are there any legal entities(ALEs)in your organization that have one FEIN,yet utilize multiple payroll providers to handle payroll?</h6></label>
                              <md-radio-group class="gui-input" style="border: none;" formControlName="entitiesOneFEINMultiplePayrollControl" [(ngModel)]="oneFEINMultiplePayroll" >
                                <md-radio-button value="yes" class="md-primary"> Yes</md-radio-button>
                                <md-radio-button value="no"> No </md-radio-button>
                              </md-radio-group>
                            </div>
                            
                             <div class="col-lg-6 ph10 mb5" *ngIf="oneFEINMultiplePayroll=='yes'">
                              <label class="control-label" > <h6 class="label-item">For the legal entities(ALEs) with one FEINthat use multiple payroll providers,will Revolution file the authoritative 1094-C or the non-authoritative 1094-C </h6></label>
                              <md-radio-group class="gui-input" style="border: none;" formControlName="authoritative1094CControl">
                                <md-radio-button value="authoritative" class="md-primary"> Authoritative </md-radio-button>
                                <md-radio-button value=" nonauthoritative"> Non-Authoritative </md-radio-button>
                              </md-radio-group>
                            </div>
                          </div>
                          <div class="section row">
                            <div class="col-lg-12 ph10 mb5">
                              <label class="control-label" > <h6 class="label-item">Will Revolution be required to aggregate payroll and insurance data from other client sources?</h6></label>
                              <md-radio-group class="gui-input" style="border: none;" formControlName="aggregateFromOtherClientsControl">
                                <md-radio-button value="yes" class="md-primary"> Yes</md-radio-button>
                                <md-radio-button value="no"> No</md-radio-button>
                              </md-radio-group>
                            </div>
                            <div class="col-lg-12 ph10 mb5">
                              <label class="control-label" > <h6 class="label-item">Will Revolution be required to send data to other client sources for any entity's Revolution payrolls?</h6></label>
                              <md-radio-group class="gui-input" style="border: none;" formControlName="sendDataToOtherClientsControl">
                                <md-radio-button value="yes" class="md-primary"> Yes</md-radio-button>
                                <md-radio-button value="no"> No</md-radio-button>
                              </md-radio-group>
                            </div>
                            <div class="col-lg-12 ph10 mb5">
                              <label class="control-label" > <h6 class="label-item">Employee Hours Tracking Method Used</h6></label>
                              <md-radio-group class="gui-input" style="border: none;" formControlName="sendDataToOtherClientsControl">
                                <md-radio-button value="yes" class="md-primary"> Monthly Measurement Method</md-radio-button>
                                <md-radio-button value="no"> look-back Measurement Method</md-radio-button>
                              </md-radio-group>
                            </div>
                          </div>
                          <div class="section">
                            <label> <h4 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;"> Payroll Provider Information</h4></label>
                          </div>
                          <div class="section row">
                            <div class="col-md-12 ph10 mb5">
                              <label class="control-label" > <h6 class="label-item"> Is Payroll Service Provider(s):(check all that apply as it relates to Revolution handlingthe reporting)</h6></label>
                              <!--<md-checkbox formControlName="isPayrollUnionControl"> Union </md-checkbox>
                              <md-checkbox formControlName="isPayrollNonUnionControl"> Non-Union </md-checkbox>-->
                            </div>
                          </div>
                         <!-- <div class="section row">
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >

                              </label>
                              <div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <b>Union</b>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <b>Non Union</b>
                                </label>
                              </div>
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >

                              </label>
                              <div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <b>Union</b>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <b>Non Union</b>
                                </label>
                              </div>
                            </div>
                          </div>-->
                          <div class="section row">
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >
                                <md-checkbox formControlName="isEPControl"> Entertainment Partners</md-checkbox>
                              </label>
                              <!--<div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>-->
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >
                                <md-checkbox formControlName="isEMSControl"> EMS</md-checkbox>
                              </label>
                             <!-- <div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>-->
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >
                                <md-checkbox formControlName="isCCControl"> Cast and Crew</md-checkbox>
                              </label>
                              <!--<div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>-->
                            </div>
                            <!--<div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >
                                <md-checkbox formControlName="isEMSControl"> EMS</md-checkbox>
                              </label>
                             <div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>
                            </div>-->
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >
                                <md-checkbox formControlName="isMSControl"> Media Services</md-checkbox>
                              </label>
                              <!--<div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>-->
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >
                                <md-checkbox formControlName="isADPControl"> ADP</md-checkbox>
                              </label>
                              <!--<div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>-->
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >
                                <md-checkbox formControlName="isEASEControl">Extreme Reach</md-checkbox>
                              </label>
                              <!--<div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>-->
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >
                                <md-checkbox formControlName="isPaychexControl"> Paychex</md-checkbox>
                              </label>
                              <!--<div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>-->
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >
                                <md-checkbox formControlName="isCAPSControl"> CAPS</md-checkbox>
                              </label>
                              <!--<div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>-->
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-6 control-label" >
                                <md-checkbox formControlName="isCeridianControl"> Ceridian</md-checkbox>
                              </label>
                              <!--<div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>-->
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-3 control-label" >
                                <md-checkbox formControlName="isInHousePayrollControl" [(ngModel)]="inHousePayrollProvider" > In-house</md-checkbox>
                              </label>
                              <input class="gui-input" style="width: 50%" *ngIf="inHousePayrollProvider" formControlName="inHousePayrollSystemsControl" placeholder="List any payroll programs used..." />
                              <!--<div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>-->
                            </div>
                            <div class="col-md-6 ph10 mb5">
                              <label class="col-lg-3 control-label" >
                                <md-checkbox formControlName="isOtherPayrollControl" [(ngModel)]="otherPayrollProvider" > Other</md-checkbox>
                              </label>
                                <input class="gui-input" style="width: 50%" *ngIf="otherPayrollProvider" formControlName="otherPayrollDetailsControl" placeholder="Specify..." />
                              <!--<div class="col-md-6">
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                                <label class="col-lg-6 control-label" >
                                  <md-checkbox aria-label="Checkbox 1"></md-checkbox>
                                </label>
                              </div>-->
                            </div>
                          </div>
                          <div class="section">
                            <label> <h4 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;"> Personnel Insurance Information</h4></label>
                          </div>
                          <div class="section row">
                            <div class="ph10 mb5">
                              <label class="control-label" > <h6 class="label-item"> Will handle Reporting for: </h6></label>
                              <md-checkbox [(ngModel)]="corpStaff" [ngModelOptions]="{standalone: true}"> Corporate Staff</md-checkbox>
                              <md-checkbox [(ngModel)]="prodStaff" [ngModelOptions]="{standalone: true}"> Production Personnel</md-checkbox>
                            </div>
                          </div>
                          <div *ngIf="corpStaff">
                            <div class="section row">
                              <label> <h5 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;"> Corporate Personnel Insurance Information</h5></label>
                            </div>
                            <div class="section row">
                              <div class="col-md-6 ph10 mb5">
                                <label class="control-label" > <h6 class="label-item"> Payroll provider used for corporate employees: </h6></label>
                                <input class="gui-input" formControlName="corpPayrollProviderControl"/>
                              </div>
                              <div class="col-md-6 ph10 mb5">
                                <label class="control-label" > <h6 class="label-item">Are the corporate employees payrolled under the same FEIN as the production employees? </h6></label>
                                <md-radio-group class="gui-input" style="border: none;" formControlName="isCorpStaffUnderSameFEINControl" >
                                <md-radio-button value="yes" class="md-primary"> Yes</md-radio-button>
                                <md-radio-button value="no"> No </md-radio-button>
                                </md-radio-group>
                              </div>
                            </div>
                            <div class="section row">
                              <div class="col-md-6 ph10 mb5">
                                <label class="control-label" > <h6 class="label-item"> Roughly how many total corporate employees did you employee this year? </h6></label>
                                <input class="gui-input" formControlName="numberOfCorpEmployeesControl"/>
                              </div>
                              <div class="col-md-6 ph10 mb5">
                                <label class="control-label" > <h6 class="label-item">Is the insurance offered to your corporate employees? </h6></label>
                                <md-radio-group class="gui-input" style="border: none;" formControlName="isInsuranceOfferToCorpStaffControl" [(ngModel)]="isInsuranceOfferedToCorpStaff">
                                  <md-radio-button value="yes" class="md-primary"> Yes</md-radio-button>
                                  <md-radio-button value="no"> No </md-radio-button>
                                </md-radio-group>
                              </div>
                            </div>
                            <div *ngIf="isInsuranceOfferedToCorpStaff == 'yes'">
                              <div class="section row">
                                <div class="col-md-6 ph10 mb5">
                                  <label class="col-lg-6 control-label" > <h6 class="label-item"> Name of Insurance Carrier: </h6></label>
                                  <input class="gui-input"  formControlName="nameOfCorpInsuranceControl" />
                                </div>
                                <div class="col-md-6 ph10 mb5">
                                  <label class="col-lg-6 control-label" > <h6 class="label-item"> Insurance Administration System: </h6></label>
                                  <input class="gui-input"  formControlName="corpInsuranceAdminSystemControl" />
                                </div>
                              </div>
                              <div class="section row">
                                <div class="col-md-6 ph10 mb5">
                                  <label class="col-lg-6 control-label" > <h6 class="label-item"> Contact </h6></label>
                                  <input class="gui-input"  formControlName="corpInsuranceContactNameControl" />
                                </div>
                                <div class="col-md-3 ph10 mb5">
                                  <label class="col-lg-6 control-label" > <h6 class="label-item"> Phone </h6></label>
                                  <input class="gui-input"  formControlName="corpInsuranceContactPhoneControl" />
                                </div>
                                <div class="col-md-3 ph10 mb5">
                                  <label class="col-lg-6 control-label" > <h6 class="label-item"> Email </h6></label>
                                  <input class="gui-input"  formControlName="corpInsuranceContactEmailControl" />
                                </div>
                              </div>
                              <div class="section row">
                                <div class="ph10 mb5">
                                  <label class="control-label" > <h6 class="label-item"> Is the plan </h6></label>
                                  <md-radio-group formControlName="insuranceTypeForCorpInsuranceControl">
                                    <md-radio-button value="fullyinsured" class="md-primary"> fully insured or </md-radio-button>
                                    <md-radio-button value="selfinsured"> self-insured </md-radio-button>
                                  </md-radio-group>
                                </div>
                              </div>
                              <div class="section row">
                                <label class="control-label" > <h6 class="label-item"> Is the plan ACA compliant?(check all that apply)</h6></label>
                              </div>
                              <div class="section row">
                                <md-checkbox formControlName="corpMinEssentialCoverageControl"> Plan provides "Minimum Essential Coverage"?</md-checkbox>
                              </div>
                              <div class="section row">
                                <md-checkbox formControlName="corpAffordablePlanControl" [(ngModel)]="affordablePlan"> Plan is affordable?</md-checkbox>
                              </div>
                              <div class="section row" *ngIf="affordablePlan">
                                <label class="control-label" > <h6 class="label-item"> Which affordability safe habor is used?</h6></label>
                                <md-radio-group formControlName="corpSafeHaborControl">
                                  <md-radio-button value="w2" class="md-primary"> W2 </md-radio-button>
                                  <md-radio-button value="fpl"> FPL </md-radio-button>
                                  <md-radio-button value="rateofpay"> Rate of Pay </md-radio-button>
                                </md-radio-group>
                              </div>
                              <div class="section row">
                                <md-checkbox formControlName="corpMinValueControl"> Plan provides "Minimum Value"</md-checkbox>
                              </div>
                              <div class="section row">
                                <label class="control-label" > <h6 class="label-item"> Who is eligible to enroll in the plan</h6></label>
                              </div>
                              <div class="section row">
                                <md-radio-group formControlName="corpEligibleCoverageControl">
                                  <md-radio-button value="emp" class="md-primary"> Employee Only </md-radio-button>
                                  <md-radio-button value="empandspouse"> Employee + Spouse Only </md-radio-button>
                                  <md-radio-button value="empanddependents"> Employee + Dependents </md-radio-button>
                                  <md-radio-button value="all"> Employee + Spouse + Dependents </md-radio-button>
                                </md-radio-group>
                              </div>
                            </div>
                          </div>
                          <div *ngIf="prodStaff">
                            <div class="section row">
                              <label> <h5 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;"> Production Personnel Insurance Information</h5></label>
                            </div>
                            <div class="section row">
                              <div class="col-md-6 ph10 mb5">
                                <label class="control-label" > <h6 class="label-item">Are the production employees payrolled under the same FEIN as the corporate employees? </h6></label>
                                <md-radio-group class="gui-input" style="border: none;" formControlName="isProdStaffUnderSameFEINControl" >
                                  <md-radio-button value="yes" class="md-primary"> Yes</md-radio-button>
                                  <md-radio-button value="no"> No </md-radio-button>
                                </md-radio-group>
                              </div>
                            </div>
                            <div class="section row">
                              <div class="col-md-6 ph10 mb5">
                                <label class="control-label" > <h6 class="label-item"> Roughly how many total production employees did you employee this year? </h6></label>
                                <input class="gui-input" formControlName="numberOfProdEmployeesControl"/>
                              </div>
                              <div class="col-md-6 ph10 mb5">
                                <label class="control-label" > <h6 class="label-item">Is the insurance offered to your production employees? </h6></label>
                                <md-radio-group class="gui-input" style="border: none;" formControlName="isInsuranceOfferToProdStaffControl" [(ngModel)]="isInsuranceOfferedToProdStaff">
                                  <md-radio-button value="yes" class="md-primary"> Yes</md-radio-button>
                                  <md-radio-button value="no"> No </md-radio-button>
                                </md-radio-group>
                              </div>
                            </div>
                            <div *ngIf="isInsuranceOfferedToProdStaff == 'yes'">
                              <div class="section row">
                                <div class="col-md-6 ph10 mb5">
                                  <label class="col-lg-6 control-label" > <h6 class="label-item"> Name of Insurance Carrier: </h6></label>
                                  <input class="gui-input"  formControlName="nameOfProdInsuranceControl" />
                                </div>
                                <div class="col-md-6 ph10 mb5">
                                  <label class="col-lg-6 control-label" > <h6 class="label-item"> Insurance Administration System: </h6></label>
                                  <input class="gui-input"  formControlName="prodInsuranceAdminSystemControl" />
                                </div>
                              </div>
                              <div class="section row">
                                <div class="col-md-6 ph10 mb5">
                                  <label class="col-lg-6 control-label" > <h6 class="label-item"> Contact </h6></label>
                                  <input class="gui-input"  formControlName="prodInsuranceContactNameControl" />
                                </div>
                                <div class="col-md-3 ph10 mb5">
                                  <label class="col-lg-6 control-label" > <h6 class="label-item"> Phone </h6></label>
                                  <input class="gui-input"  formControlName="prodInsuranceContactPhoneControl" />
                                </div>
                                <div class="col-md-3 ph10 mb5">
                                  <label class="col-lg-6 control-label" > <h6 class="label-item"> Email </h6></label>
                                  <input class="gui-input"  formControlName="prodInsuranceContactEmailControl" />
                                </div>
                              </div>
                              <div class="section row">
                                <div class="ph10 mb5">
                                  <label class="control-label" > <h6 class="label-item"> Is the plan </h6></label>
                                  <md-radio-group formControlName="insuranceTypeForProdInsuranceControl">
                                    <md-radio-button value="fullyinsured" class="md-primary"> fully insured or </md-radio-button>
                                    <md-radio-button value="selfinsured"> self-insured </md-radio-button>
                                  </md-radio-group>
                                </div>
                              </div>
                              <div class="section">
                                <label class="control-label" > <h6 class="label-item"> Is the plan ACA compliant?</h6></label>
                              </div>
                              <div class="section row">
                                <md-checkbox formControlName="prodMinEssentialCoverageControl"> Plan provides "Minimum Essential Coverage"?</md-checkbox>
                              </div>
                              <div class="section row">
                                <md-checkbox formControlName="prodAffordablePlanControl" [(ngModel)]="affordablePlan"> Plan is affordable?</md-checkbox>
                              </div>
                              <div class="section row" *ngIf="affordablePlan">
                                <label class="control-label" > <h6 class="label-item"> Which affordability safe habor is used?</h6></label>
                                <md-radio-group formControlName="prodSafeHaborControl">
                                  <md-radio-button value="w2" class="md-primary"> W2 </md-radio-button>
                                  <md-radio-button value="fpl"> FPL </md-radio-button>
                                  <md-radio-button value="rateofpay"> Rate of Pay </md-radio-button>
                                </md-radio-group>
                              </div>
                              <div class="section row">
                                <md-checkbox formControlName="prodMinValueControl"> Plan provides "Minimum Value"</md-checkbox>
                              </div>
                              <div class="section row">
                                <label class="control-label" > <h6 class="label-item"> Who is eligible to enroll in the plan</h6></label>
                              </div>
                              <div class="section row">
                                <md-radio-group formControlName="prodMinEssentialCoverageControl">
                                  <md-radio-button value="emp" class="md-primary"> Employee Only </md-radio-button>
                                  <md-radio-button value="empandspouse"> Employee + Spouse Only </md-radio-button>
                                  <md-radio-button value="empanddependents"> Employee + Dependents </md-radio-button>
                                  <md-radio-button value="all"> Employee + Spouse + Dependents </md-radio-button>
                                </md-radio-group>
                              </div>
                            </div>
                          </div>
                          <div class="section">
                            <label> <h4 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;"> ALE Member Information</h4></label>
                          </div>
                          <div class="section row">
                            <label class="control-label" > <h6 class="label-item"> Number of ALE Members in ALE/controlled group</h6></label>
                            <input class="gui-input" style="width: 30%" formControlName="numberALEMembersControl" />
                          </div>
                          <div class="section row">
                            <label class="control-label" > <h6 class="label-item"> List of ALE Members </h6></label>
                          </div>
                          <div class="section row">
                            <div class="table-responsive over-x_table">
                              <table id="datatable" class="table table-striped table-bordered table-hover">
                                <tr>
                                  <th class="col-lg-3"><h6>ALE Name</h6></th>
                                  <th class="col-lg-3"><h6>EIN</h6></th>
                                  <th class="col-lg-3"><h6>ALE Name</h6></th>
                                  <th class="col-lg-3"><h6>EIN</h6></th>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName1Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein1Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName2Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein2Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName3Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein3Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName4Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein4Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName5Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein5Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName6Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein6Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName7Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein7Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName8Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein8Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName9Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein9Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName10Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein10Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName11Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein11Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName12Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein12Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName13Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein13Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName14Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein14Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName15Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein15Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName16Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein16Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName17Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein17Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName18Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein18Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName19Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein19Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName20Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein20Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName21Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein21Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName22Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein22Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName23Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein23Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName24Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein24Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName25Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein25Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName26Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein26Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName27Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein27Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName28Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein28Control" placeholder="Enter EIN..." /></td>
                                </tr>
                                <tr >
                                  <td><input class="gui-input" formControlName="aleName29Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein29Control" placeholder="Enter EIN..." /></td>
                                  <td><input class="gui-input" formControlName="aleName30Control" placeholder="Enter ALE Name..." /></td>
                                  <td><input class="gui-input" formControlName="ein30Control" placeholder="Enter EIN..." /></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer text-right">
                <button type="submit" class="btn btn-bordered btn-primary mb5" data-dismiss="modal" (click)="addClientOnboardingInfo()"> Submit</button>
                <button type="reset" class="btn btn-bordered mb5" data-dismiss="modal"> Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </section>
  </section>

