.nav-tabs>li>a{    padding: 10px 20px;}
.nav-tabs li:first-child a {clip-path: polygon(13.5% 0%, 100% 0%,100% 100%, 0 100%);}
.nav-tabs>li { background: url(bg-border.png) no-repeat left 1px top 7px;  } 
.nav-tabs li:first-child{background: none; margin-left: 0px; padding-left: 0}
.nav-tabs>li.active, .nav-tabs>li.active + li{background: none}
a { text-decoration: none;color:#fff}