<!-- -------------- Main Wrapper -------------- -->
<section id="content_wrapper">
  <!-- -------------- Topbar -------------- -->
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title"><span class="parent-item"><span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;<span class="fa fa-angle-right"></span></span> ACA IRS Section 6056 Reporting / Client Onboarding Form</span>
      </div>
    </div>
  </header>
  <!-- -------------- /Topbar -------------- -->
  <section id="content" class="table-layout animated fadeIn">
      <div class="modal-body">
        <!-- <not closed> -->
        <div class="chute chute-center">
          <!-- <not closed> -->
          <div class="allcp-form theme-primary center-block">
            <!-- <closed> -->
            <form method="post" id="allcp-form" novalidate="novalidate">
              <!-- <not closed> -->
              <div class="panel-body">
                <!-- <not closed> -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body no-padding" style="margin-top: 0px">
                          <form class="form-horizontal" role="form" [formGroup]="clientOnboardingForm">
                    <!-- Taber start -->
                      <section class="tab-info">
                          <ul class="nav nav-tabs">
                            <li class="active">
                              <a data-toggle="tab" href="#menu1">
                                <p>ALE Part - 1</p>
                              </a>
                            </li>
                            <li>
                              <a data-toggle="tab" href="#menu2">
                                <p>ALE Part - 2</p>
                              </a>
                            </li>
                            <li>
                              <a data-toggle="tab" href="#menu3">
                                <p>ALE Part - 3</p>
                              </a>
                            </li>
                            <li>
                              <a data-toggle="tab" href="#menu4">
                                <p>ALE Part - 4</p>
                              </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#menu5">
                                  <p>ALE Part - 5</p>
                                </a>
                              </li>
                              <li>
                                  <a data-toggle="tab" href="#menu6">
                                    <p>ALE Part - 6</p>
                                  </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#menu7">
                                      <p>ALE Part - 7</p>
                                    </a>
                                  </li>
                          </ul>
                          <div class="tab-content">
                            <div id="menu1" class="tab-pane fade in active">
                                      <div class="section">
                                          <label> <h4 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;">ACA REPORTING CLIENT INFORMATION FORM</h4></label>
                                        </div>
                                        <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                          <label for="txtControlGroup" class="col-md-12 control-label">Applicable Large Employer(ALE)/Controlled Group Name</label>
                                          <input type="text" class="gui-input" id="txtControlGroup" formControlName="aleNameControl" placeholder="Parent Company Name...">
                                        </div>    
                                        <div class="col-md-6 ">
                                          <label for="txtControlGroupEIN" class="col-lg-5 control-label"> Address</label>
                                          <input type="text"  class="gui-input" id="txtControlGroupEIN" formControlName="addressControl" placeholder="Please Enter Address...">
                                        </div>
                                      </div>
                                      <div class="section row">
                                        <div class="col-md-6 ph10 mb5 ">
                                          <label  class="col-md-6 control-label"> Contact</label>
                                          <input type="text"  class="gui-input" placeholder="Please Enter Contact...">
                                        </div>                       
                                        <div class="col-md-6 ph10 mb5"> 
                                          <label class="col-lg-6 control-label" > Title </label>
                                          <input class="gui-input" id="txtMeasureEndDate2" formControlName="gcNameControl" placeholder="Please Enter Title..." />
                                        </div>
                                      </div>
                                      <div class="section row">        
                                        <div class="col-md-6 ph10 mb5">
                                          <label class="col-lg-6 control-label" for="txtMeasureEndDate3"> Phone  </label>
                                          <input class="gui-input"  formControlName="gcPhoneControl" placeholder="Please Enter Phone..." />
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                          <label class="col-lg-6 control-label" > Email</label>
                                          <input class="gui-input" id="txtMeasureEndDate4" formControlName="gcEmailControl" placeholder="Email..." />
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="form-group col-md-12">
                                          <button type="button" class="btn btn-success" data-toggle="tab" href="#menu2">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </div>
                                      </div>
                                  </div>
                            
                            <div id="menu2" class="tab-pane fade">
                                <div class="section">
                                    <label class="control-label"> <h6 class="label-item" style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;">Employee hours tracking method used to determine full-time employees: </h6></label>
                                    <mat-radio-group class="gui-input" style="border: none;" formControlName="sendDataToOtherClientsControl">
                                        <div class="col-md-6 ph10 mb5">
                                          <mat-radio-button value="yes" class="md-primary"> Monthly Measurement Method</mat-radio-button>
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                          <mat-radio-button value="no"> Look-back Measurement Method</mat-radio-button>
                                        </div>    
                                      </mat-radio-group>
                                  </div> 
                                  <div class="row">
                                    <div class="form-group col-md-12">
                                      <button class="btn btn-success" data-toggle="tab" href="#menu1"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back </button>
                                      <button type="button" class="btn btn-success" data-toggle="tab" href="#menu3">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                    </div>
                                  </div>
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <div class="section">
                                    <label> <h4 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;">ALE Member Information</h4></label>
                                  </div>
                                  <div class="section row">
                                    <div class="col-md-6 ph10 mb5">
                                      <label class="col-lg-12 control-label label-item">Number of ALE Members(Legal Entities)in ALE controlled group:</label>
                                      <input type="text" class="gui-input" formControlName="numberALEMembersControl"  placeholder="Number of ALE Members...">
                                    </div>                       
                                    <div class="col-md-6 ph10 mb5">
                                      <label class="col-lg-12 control-label" for="txtMeasureEndDate1"> List Top 30 ALE Members w/ at least one full-time employee:</label>
                                      <input class="gui-input" placeholder="Atleast one full-time employee..." />
                                    </div>
                                  </div>
                                  
                                  <div class="row">
                                    <div class="form-group col-md-12">
                                      <div class="section">
                                    <label> <h6 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;">Note:ALE Member is each legal entity that is a part of the ALE/controlled group.Name and FEIN of all ALE Members in the organization is requiredon each Form 1094.</h6></label>
                                  </div>
                                      <table class="table table-bordered">
                                        <thead style="background:#d4e2f7; color: #000;" >
                                          <tr align="center">
                                            <th>ALE Name</th>
                                            <th>FEIN</th>
                                            <th>ALE Name</th>
                                            <th>FEIN</th>
                                          </tr>
                                        </thead>
                                        <tbody style="background: #f1f5fc">
                                          <tr>
                                            <td>
                                              <input type="text"  class="gui-input"  formControlName="aleName1Control"  placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein1Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName2Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein2Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName3Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein3Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName4Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein4Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName5Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein5Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName6Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein6Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName7Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein7Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName8Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein8Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName9Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein9Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName10Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein10Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName11Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein11Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName12Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein12Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName13Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein13Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName14Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein14Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName15Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text"class="gui-input" formControlName="ein15Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName16Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein16Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName17Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein17Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName18Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein18Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName19Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text"  class="gui-input" formControlName="ein19Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName20Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text"  class="gui-input" formControlName="ein20Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName21Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text"  class="gui-input" formControlName="ein21Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName22Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein22Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName23Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein23Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName24Control" placeholder="EnterALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein24Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName25Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein25Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text"class="gui-input" formControlName="aleName26Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein26Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName27Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein27Control" placeholder="Enter FEIN">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="aleName28Control" placeholder="Enter ALE Name">
                                            </td>
                                            <td>
                                              <input type="text" class="gui-input" formControlName="ein28Control" placeholder="Enter FEIN">
                                            </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                <input type="text" class="gui-input" formControlName="aleName29Control" placeholder="Enter ALE Name">
                                              </td>
                                              <td>
                                                <input type="text" class="gui-input" formControlName="ein29Control" placeholder="Enter FEIN">
                                              </td>
                                              <td>
                                                <input type="text" class="gui-input" formControlName="aleName30Control" placeholder="Enter ALE Name">
                                              </td>
                                              <td>
                                                <input type="text" class="gui-input" formControlName="ein30Control" placeholder="Enter FEIN">
                                              </td>
                                            </tr>
                                        </tbody>
                                       </table>  
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="form-group col-md-12">
                                        <button class="btn btn-success" data-toggle="tab" href="#menu2"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back </button>
                                        <button type="button" class="btn btn-success" data-toggle="tab" href="#menu4">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                      </div>
                                    </div> 
                            </div>
                            <div id="menu4" class="tab-pane fade">
                                <div class="section">
                                    <div class="col-lg-12 ph10 mb5">
                                        <h6> 1095 Reporting </h6>
                                         <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-6 control-label" >
                                              <mat-checkbox formControlName="isEPControl"> Yes</mat-checkbox>
                                            </label>
                                          </div>
                                          <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-6 control-label" >
                                              <mat-checkbox formControlName="isEMSControl"> No</mat-checkbox>
                                            </label>
                                          </div>
                                        <h6> (If Yes show the below questions) </h6>
                                      </div>
                                  </div>
                                  <div class="row">
                                    <div class="form-group col-md-12">
                                      <button class="btn btn-success" data-toggle="tab" href="#menu3"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back </button>
                                      <button type="button" class="btn btn-success" data-toggle="tab" href="#menu5">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                    </div>
                                  </div> 
                            </div> 
                            <div id="menu5" class="tab-pane fade">
                                    <div class="section row">
                                        <label> <h4 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;"> General Information</h4></label>
                                      </div>
                                      <div class="section row">
                                        <div class="col-lg-12 ph10 mb5">
                                          <label class="control-label" > <h6 class="label-item">Will Revolution report for all legal entities(ALEs)in your organization,or select groups? </h6></label>
                                        </div>
                                        <mat-radio-group formControlName="reportingLegalEntitiesControl" [(ngModel)]="reportingEntities">
                                            <div class="section row">
                                              <div class="col-lg-12 ph10 mb5">
                                                <div class="col-lg-6">
                                                  <div class="col-lg-6">
                                                    <mat-radio-button value="all" class="md-primary"> All</mat-radio-button>
                                                  </div>
                                                  <div class="col-lg-6">
                                                    <mat-radio-button value="selectgroups" class="md-primary">Select Groups</mat-radio-button>
                                                  </div>
                                                </div>
                                                <div class="col-lg-6">
                                                  <div class="col-lg-5">
                                                    <mat-radio-button value="other" class="md-primary"> Other situation</mat-radio-button>
                                                  </div>
                                                  <div class="col-lg-7" *ngIf="reportingEntities=='other'">
                                                    <input class="gui-input" style="height: 22px"  formControlName="reportingLegalEntitiesExplanationControl" placeholder="Please explain..." /></div>
                                                </div>
                                              </div>
                                            </div>
                                            </mat-radio-group>
                                        <!-- <div class="col-lg-6">
                                          <div class="col-lg-6">
                                            <label class="radio-inline"><input type="radio" name="optradio" value="all" class="md-primary">All</label>
                                          </div>
                                          <div class="col-lg-6">
                                            <label class="radio-inline"><input type="radio" name="optradio" value="payroll" class="md-primary" >Select Groups</label>
                                          </div>                               
                                        </div> -->
                                        <!-- <div class="section">
                                        <div class="col-lg-6 ">
                                            <div class="col-lg-6">
                                              <label class="radio-inline"><input type="radio" name="optradio" value="other" class="md-primary">Another Situation</label>
                                            <div *ngIf="yes"><input class="gui-input"   placeholder="Please Explain..." /></div> 
                                            </div>
                                            <div class="col-lg-6" *ngIf="reportingEntities=='other'">
                                                <input class="gui-input" style="height: 22px"  formControlName="reportingLegalEntitiesExplanationControl" placeholder="Please explain..." />
                                            </div>
                                          </div>
                                        </div> -->
                                        </div>
                                      
                                      <div class="section row">
                                        <div class="col-lg-12 ph10 mb5">
                                          <label class="control-label" > <h6 class="label-item">Are they any legal entities(ALE's) in your organization that have one FEIN, however utilize multiple payroll providers to handle payroll?(example: corporate employees and production employees.)</h6></label>
                                          
                                        </div>
                                        <div class="col-lg-6">
                                            <mat-radio-group class="gui-input" style="border: none;" formControlName="entitiesOneFEINMultiplePayrollControl" [(ngModel)]="oneFEINMultiplePayroll" >
                                                <div class="col-lg-6"><mat-radio-button value="yes" class="md-primary"> Yes</mat-radio-button></div>
                                                <div class="col-lg-6"><mat-radio-button value="no"> No </mat-radio-button></div>
                                              </mat-radio-group>                               
                                        </div>
                                      </div>
                                      <div class="section row">
                                        <div class="col-lg-12 ph10 mb5">
                                          <label class="control-label" > <h6 class="label-item">For those legal entitie(ALE's) with one FEIN that use multiple payroll providers, will Revolution file  the authoritative 1094-C or the non-authoritative 1094-C?(each legal entity is required to file one authoritative 1094-C at an aggregate level with IRS, althoughit can file multiple non-authoritative 1094-Cs for various groups of employees)</h6></label>
                                        </div>
                                        <div class="col-lg-6">
                                        <mat-radio-group class="gui-input" style="border: none;" formControlName="authoritative1094CControl">
                                            <div class="col-lg-6">
                                              <mat-radio-button value="authoritative" class="md-primary"> Authoritative </mat-radio-button>
                                            </div>
                                            <div class="col-lg-6">
                                                <mat-radio-button value="nonauthoritative"> Non-Authoritative </mat-radio-button>
                                            </div>
                                          </mat-radio-group>
                                        </div>
                                      </div>
                                      <div class="section row">
                                        <div class="col-lg-12 ph10 mb5">
                                          <label class="control-label" > <h6 class="label-item">Will Revolution also handle the reporting for your corporate entities/employees? </h6></label>
                                        </div>
                                        <div class="col-lg-6">
                                            <mat-radio-group class="gui-input" style="border: none;" formControlName=""  >
                                                <div class="col-lg-6"><mat-radio-button value="yes" class="md-primary"> Yes</mat-radio-button></div>
                                                <div class="col-lg-6"><mat-radio-button value="no"> No </mat-radio-button></div>
                                              </mat-radio-group>                               
                                        </div>
                                        </div>
                                        <div class="section row">
                                        <div class="col-lg-12 ph10 mb5">
                                          <label class="control-label" > <h6 class="label-item">Will Revolution be required to aggregate payroll and insurance data from other client sources? </h6></label>
                                        </div>
                                        <div class="col-lg-6">
                                            <mat-radio-group class="gui-input" style="border: none;" formControlName="aggregateFromOtherClientsControl"  >
                                                <div class="col-lg-6"><mat-radio-button value="yes" class="md-primary"> Yes</mat-radio-button></div>
                                                <div class="col-lg-6"><mat-radio-button value="no"> No </mat-radio-button></div>
                                              </mat-radio-group>                               
                                        </div>
                                        </div>
                                        <div class="section row">
                                          <div class="col-lg-12 ph10 mb5">
                                            <label class="control-label" > <h6 class="label-item">Will Revolution be required to send data to other client vendors for any entity  Revolution payrolls? </h6></label>
                                          </div>
                                          <div class="col-lg-6">
                                              <mat-radio-group class="gui-input" style="border: none;" formControlName="sendDataToOtherClientsControl" >
                                                  <div class="col-lg-6"><mat-radio-button value="yes" class="md-primary"> Yes</mat-radio-button></div>
                                                  <div class="col-lg-6"><mat-radio-button value="no"> No </mat-radio-button></div>
                                                </mat-radio-group>                               
                                          </div>
                                          </div>
                                          <div class="section">
                                            <label> <p style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;">Note: A legal entity under an ALE  controlled group is known as ALE Member and is subjected to a separate 1094-C if it is employed any full-time employees. If revolution will perform ACA IRS Reporing service from any legal entitiesor employees not payrolled by Revolution, Revolution will need to set up a data transfer feed with all third-party payroll providers, insurance carriers, and /or  systems used by client. Client will instruct third party vendors to cooperate with Revolution regarding these data transfer feeds. Revolution will provide feed specifications to client.</p></label>
                                          </div>
                                          <div class="row">
                                            <div class="form-group col-md-12">
                                              <button class="btn btn-success" data-toggle="tab" href="#menu4"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back </button>
                                              <button type="button" class="btn btn-success" data-toggle="tab" href="#menu6">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                            </div>
                                          </div>
                                     </div>
                            <div id="menu6" class="tab-pane fade">
                                <div class="section row">
                                    <div class="col-md-6 ph10 mb5">
                                    <label> <h4 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;">Payroll Information</h4></label>
                                    </div>
                                  </div>
                                  <div class="section row">
                                      <div class="col-md-4 ph10 mb5">
                                        <label class="col-lg-6 control-label" >
                                          <mat-checkbox formControlName="isEPControl"> Entertainment Partners</mat-checkbox>
                                        </label>
                                      </div>
                                      <div class="col-md-4 ph10 mb5">
                                        <label class="col-lg-6 control-label" >
                                          <mat-checkbox formControlName="isEMSControl"> EMS</mat-checkbox>
                                        </label>
                                      </div>
                                      <div class="col-md-4 ph10 mb5">
                                        <label class="col-lg-6 control-label" >
                                          <mat-checkbox formControlName="isCCControl"> Cast and Crew</mat-checkbox>
                                        </label>
                                      </div>
                                      <div class="col-md-4 ph10 mb5">
                                        <label class="col-lg-6 control-label" >
                                          <mat-checkbox formControlName="isMSControl"> Media Services</mat-checkbox>
                                        </label>
                                      </div>
                                      <div class="col-md-4 ph10 mb5">
                                        <label class="col-lg-6 control-label" >
                                          <mat-checkbox formControlName="isADPControl"> ADP</mat-checkbox>
                                        </label>
                                      </div>
                                      <div class="col-md-4 ph10 mb5">
                                        <label class="col-lg-6 control-label" >
                                          <mat-checkbox formControlName="isEASEControl">Extreme Reach</mat-checkbox>
                                        </label>
                                      </div>
                                      <div class="col-md-4 ph10 mb5">
                                        <label class="col-lg-6 control-label" >
                                          <mat-checkbox formControlName="isPaychexControl"> Paychex</mat-checkbox>
                                        </label>
                                      </div>
                                      <div class="col-md-4 ph10 mb5">
                                        <label class="col-lg-6 control-label" >
                                          <mat-checkbox formControlName="isCAPSControl"> CAPS</mat-checkbox>
                                        </label>
                                      </div>
                                      <div class="col-md-4 ph10 mb5">
                                        <label class="col-lg-6 control-label" >
                                          <mat-checkbox formControlName="isCeridianControl"> Ceridian</mat-checkbox>
                                        </label>
                                      </div>
                                      <div class="col-md-4 ph10 mb5">
                                        <label class="col-lg-3 control-label" >
                                          <mat-checkbox formControlName="isInHousePayrollControl" [(ngModel)]="inHousePayrollProvider" > In-house</mat-checkbox>
                                        </label>
                                        <input class="gui-input" style="width:70%; margin-left:37px;" *ngIf="inHousePayrollProvider" formControlName="inHousePayrollSystemsControl" placeholder="List any payroll programs used..." />
                                      </div>
                                      <div class="col-md-4 ph10 mb5">
                                        <label class="col-lg-3 control-label" >
                                          <mat-checkbox formControlName="isOtherPayrollControl" [(ngModel)]="otherPayrollProvider" > Other</mat-checkbox>
                                          
                                        </label>
                                          <input class="gui-input" style="width:60%; margin-left:10px;" *ngIf="otherPayrollProvider" formControlName="otherPayrollDetailsControl" placeholder="Specify..." />
                                      </div>
                                    </div> 
                                  <div class="section row">
                                    <div class="col-lg-12 ph10 mb5">
                                        <label class="control-label" > <h6 class="label-item">Are any corporate employees payrolled under the same FEIN as the production employees? </h6></label>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-radio-group class="gui-input" style="border: none;" formControlName="isCorpStaffUnderSameFEINControl" >
                                            <div class="col-lg-6"><mat-radio-button value="yes" class="md-primary"> Yes</mat-radio-button></div>
                                            <div class="col-lg-6"><mat-radio-button value="no"> No </mat-radio-button></div>
                                          </mat-radio-group>                               
                                    </div>
                                  </div> 
                                  <div class="section row">
                                      
                                        <label class="col-lg-12 control-label"> <h6 class="label-item">Payroll provider used for corporate employees</h6></label>
                                        <input type="text" class="gui-input" formControlName="corpPayrollProviderControl" placeholder="Please Enter Payroll provider used for corporate employees">
                                         
                                  </div> 
                                  <div class="row">
                                    <div class="form-group col-md-12">
                                      <button class="btn btn-success" data-toggle="tab" href="#menu5"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back </button>
                                      <button type="button" class="btn btn-success" data-toggle="tab" href="#menu7">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                    </div>
                                  </div>
                            </div>    
                            <div id="menu7" class="tab-pane fade">
                                <div class="section row">
                                    <label> <h4 style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px;">Insurance Information</h4></label>
                              </div>
                              <div class="section row">
                                  <div class="col-md-6 ph10 mb5">
                                    <label class="control-label" > <h6 class="label-item"> Roughly how many total production employees did you employee this year? </h6></label>
                                    <input class="gui-input" formControlName="numberOfProdEmployeesControl" placeholder="Please Enter the Total Production Employees"/>
                                  </div>
                                  <div class="col-md-6 ph10 mb5">
                                    <label class="control-label" > <h6 class="label-item">Is the insurance offered to your production employees? </h6></label>
                                    <mat-radio-group class="gui-input" style="border: none;" formControlName="isInsuranceOfferToProdStaffControl" [(ngModel)]="isInsuranceOfferedToProdStaff">
                                      <mat-radio-button value="yes" class="md-primary"> Yes</mat-radio-button>
                                      <mat-radio-button value="no"> No </mat-radio-button>
                                    </mat-radio-group>
                                  </div>
                                </div>
                                <div *ngIf="isInsuranceOfferedToProdStaff == 'yes'">
                                  <div class="section row">
                                    <div class="col-md-6 ph10 mb5">
                                      <label class="col-lg-6 control-label" > <h6 class="label-item"> Name of Insurance Carrier: </h6></label>
                                      <input class="gui-input"  formControlName="nameOfProdInsuranceControl" placeholder="Please Enter the Carrier Name"/>
                                    </div>
                                    <div class="col-md-6 ph10 mb5">
                                      <label class="col-lg-6 control-label" > <h6 class="label-item"> Contact</h6></label>
                                      <input class="gui-input"  formControlName="prodInsuranceContactNameControl" placeholder="Please Enter the Contact"/>
                                    </div>
                                  </div>
                                  <div class="section row">
                                    <div class="col-md-6 ph10 mb5">
                                      <label class="control-label" > <h6 class="label-item"> Is the plan </h6></label>
                                      <mat-radio-group formControlName="insuranceTypeForProdInsuranceControl">
                                        <mat-radio-button value="fullyinsured" class="md-primary"> fully insured or </mat-radio-button>
                                        <mat-radio-button value="selfinsured"> self-insured </mat-radio-button>
                                      </mat-radio-group>
                                    </div>
                                  </div>
                                  <div class="section row">
                                    <div class="col-md-6 ph10 mb5">
                                     <label class="control-label" > <h6 class="label-item"> Is the health plan ACA compliant?</h6></label>
                                    </div>
                                  </div>
                                  <div class="section row">
                                    <div class="col-md-6 ph10 mb5">
                                      <mat-checkbox formControlName="prodMinEssentialCoverageControl"> Plan provides "Minimum Essential Coverage"?</mat-checkbox>
                                    </div>
                                  </div>
                                  <div class="section row">
                                    <div class="col-md-6 ph10 mb5">
                                      <mat-checkbox formControlName="prodAffordablePlanControl" [(ngModel)]="affordablePlan"> Plan is affordable?</mat-checkbox>
                                    </div>
                                    </div>
                                  <div class="section row" *ngIf="affordablePlan">
                                    <div class="col-md-6 ph10 mb5">
                                      <label class="control-label" > <h6 class="label-item"> Which affordability safe habor is used?</h6></label>
                                      <mat-radio-group formControlName="prodSafeHaborControl">
                                        <mat-radio-button value="w2" class="md-primary"> W2 </mat-radio-button>
                                        <mat-radio-button value="fpl"> FPL </mat-radio-button>
                                        <mat-radio-button value="rateofpay"> Rate of Pay </mat-radio-button>
                                      </mat-radio-group>
                                    </div>
                                  </div>
                                  <div class="section row">
                                    <div class="col-md-6 ph10 mb5">
                                      <mat-checkbox formControlName="prodMinValueControl"> Plan provides "Minimum Value"</mat-checkbox>
                                    </div>
                                    </div>
                                  <div class="section row">
                                    <div class="col-md-6 ph10 mb5">
                                      <label class="control-label" > <h6 class="label-item"> Who is eligible to enroll in the plan</h6></label>
                                    </div>
                                    </div>
                                  <div class="section row">
                                    <div class="col-md-6 ph10 mb5">
                                      <mat-radio-group formControlName="prodMinEssentialCoverageControl">
                                        <div class="col-md-6 ph10 mb5"><mat-radio-button value="emp" class="md-primary"> Employee Only </mat-radio-button></div>
                                        <div class="col-md-6 ph10 mb5"><mat-radio-button value="empandspouse"> Employee + Spouse Only </mat-radio-button></div>
                                        <div class="col-md-6 ph10 mb5"><mat-radio-button value="empanddependents"> Employee + Dependents </mat-radio-button></div>
                                        <div class="col-md-6 ph10 mb5"><mat-radio-button value="all"> Employee + Spouse + Dependents </mat-radio-button></div>
                                      </mat-radio-group>
                                     </div> 
                                  </div>
                                </div>
                              <div class="row">
                                  <div class="form-group col-md-12">
                                    <button class="btn btn-success" data-toggle="tab" href="#menu6"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</button>
                                    <button type="submit" class="btn btn btn-success" data-dismiss="modal" (click)="addClientOnboardingInfo()">Save</button>
                                  </div>
                              </div>
                                </div>    
                              </div>    
                          </section>
                        </form> 
                      </div> 
                    </div>     
                  </div>
                </div>
              </div>
            </form>
          </div> 
        </div>
    </div>
  </section>      
    