<!-- -------------- Main Wrapper -------------- -->
<section id="content_wrapper">
    <!-- Topbar -->
    <header id="topbar" class="ph10 alt allcp-form theme-primary">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="panel-title">
            <span class="parent-item">
              <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
              <span class="fa fa-angle-right"></span>
            </span>Stability Period Report</span>
          <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" (click)="downloadPdf()" *ngIf="!downloadPdfInProgress"  id="btnDownloadPdf"
            title="Download PDF">Download PDF</button>
            <button class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadPdfInProgress">
              <i class="fa fa-spinner fa-spin"></i> &nbsp; Downloading...
              </button>
           
          <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" (click)="downloadExcel()" *ngIf="!downloadExcelInProgress" id="btnDownloadExcel"
            title="Download Excel">Download Excel</button>
            <button class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadExcelInProgress">
              <i class="fa fa-spinner fa-spin"></i> &nbsp; Downloading...
              </button>
           
        </div>
      </div>
    </header>
    <!--- Content -->
    <section class="allcp-form theme-primary table-layout animated fadeIn">
  
      <div class="col-md-12">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>   
        <div class="panel panel-visible p20 mb20" id="spy3">
          <div class="panel-body pn" style="margin-top:0">
            <div class="form-horizontal">
              <div class="row">
                <div class="form-group" class="col-sm-10">
                  <div class="col-sm-6">
                    <label for="year" class="col-sm-5 control-label">Year</label>
                    <input type="date" class="form-control" data-date-format='YYYY-MM-DD' id="year" [(ngModel)]="selectedWorkYear">
                   
                  </div>
                  <div class="col-sm-6">
                    <label for="controlgroup" class="col-sm-5 control-label">Control Group</label>
                    <div class="select-wrap">
                    <label class="field select">
                      <ss-multiselect-dropdown [options]="myOptions" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="selectedControlGroup"></ss-multiselect-dropdown>
                    </label>
                  </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="select-wrap">
                    <label for="empstatus" class="col-sm-5 control-label">Employment Status</label>
                    <ss-multiselect-dropdown [options]="myEmpOptions" [settings]="myEmpSettings"[texts]="myEmpTexts" [(ngModel)]="selectedEmpStatus"></ss-multiselect-dropdown>
                  </div>
                  </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="form-horizontal mbn mt25">
                          <div class="form-group col-sm-12 mbn prn">
                              <button class="btn btn-info" type="button" (click)="Search()">Filter</button>                          
                              <button class="btn btn-danger mr10 " type="button" (click)="reset()">Reset</button>
                              
                          </div>
                        </div>
                      </div>
                </div>
  
                </div>
                <div class="form-group " class="col-sm-2" style="cursor:pointer">
                  <div class="panel-primary teal_block" style="cursor:pointer">
                    <div class="panel-primary teal_block">
                      <div class="panel-body" (click)="stabilityPeriodReportData()">
                        <h1>{{stabilityPeriodReportCount}} </h1>
                      </div>
                      <div class="panel-footer" (click)="stabilityPeriodReportData()">ACA Stability Period </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>





        <div class="panel panel-visible p20" id="spy3" *ngIf="dataLoaded">
          <div class="panel-body pn mn">
            <div class="row">
              <div class="col-sm-6">
                <div class="panel-heading">
                  <div class="panel-title hidden-xs">
                    Report Details
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-6 pull-right">
                      <input type="text" class="form-control" id="inputTableSearch" placeholder="Search Details" *ngIf="config.filtering" [ngTableFiltering]="config.filtering"
                        (tableChanged)="onChangeTable(config)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
     
          <div class="row">
            <div class="col-sm-12">
                <div #topScroll (scroll)='scroller(bottomScroll, topScroll)' style="overflow:scroll;overflow-y:hidden">
                    <div [style.width.px]="topScrollWidth" style="height: 20px;"></div>                
                </div>
  
                <div #bottomScroll class="table-responsive over-x_table"(scroll)='scroller(topScroll,bottomScroll)'>
                <ng-table #ngTable id="datatable" ngclass="table table-striped table-bordered table-hover" [config]="config" (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                </ng-table>
                <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize" [boundaryLinks]="false" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
                </pagination>

              </div>
            </div>
          </div>





          <div class="modal fade" id="confirm-excel-download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Excel Download</h4>
                </div>
                <div class="modal-body">
                  <h4 class="text-center">Download is Dangerous!</h4>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-bordered btn-primary mb5" data-dismiss="modal" (click)="downloadExcel()">Ok</button>
                  <button type="reset" class="btn btn-bordered mb5" data-dismiss="modal"> Cancel</button>
                </div>
              </div>
            </div>
          </div>









        </div>
      </div>





       
  
  
  
  
  
  
        



        
        <!-- excel download -->
        <!-- <div class="modal fade" id="confirm-excel-download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Excel Download</h4>
              </div>
              <div class="modal-body">
                <h4 class="text-center">Download is Dangerous!</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-bordered btn-primary mb5" data-dismiss="modal" (click)="downloadExcel()">Ok</button>
                <button type="reset" class="btn btn-bordered mb5" data-dismiss="modal"> Cancel</button>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </section>
  