@charset "UTF-8";
body{background: #ffffff;}
table a{color: #213848; text-decoration: underline; cursor: pointer} 
table a:hover{color: #079700;}
.margin-auto{margin: 0 auto}
.allcp-form .panel{margin-bottom: 0; box-shadow: none; background: #fafafa}
.allcp-form .panel-heading .panel-title {font-size:18px !important; color: #000 !important; padding:0 0 0 20px !important;}
.allcp-form .panel-primary>.panel-heading { border:none; padding: 0; background: #eff0f2 !important;}
.allcp-form.table-layout > div {
    padding: 30px 15px 50px;
}
.allcp-form .panel-primary>.panel-heading .panel-icon .fa  {    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #2abed0;
    border-radius: 20px;
    padding: 6px 5px 5px 5px;
    color: #fff;
    text-align: center;}
.allcp-form .panel-body{padding: 0px 0px 25px 0px}
#content.table-layout > div, #content.table-layout > section { padding: 30px 15px 50px;}
.form-horizontal .col-xs-1, .form-horizontal .col-sm-1, .form-horizontal .col-md-1, .form-horizontal .col-lg-1, .form-horizontal .col-xl-1, .form-horizontal .col-xs-2, .form-horizontal .col-sm-2, .form-horizontal .col-md-2, .form-horizontal .col-lg-2, .form-horizontal .col-xl-2, .form-horizontal .col-xs-3, .form-horizontal .col-sm-3, .form-horizontal .col-md-3, .form-horizontal .col-lg-3, .form-horizontal .col-xl-3, .form-horizontal .col-xs-4, .form-horizontal .col-sm-4, .form-horizontal .col-md-4, .form-horizontal .col-lg-4, .form-horizontal .col-xl-4, .form-horizontal .col-xs-5, .form-horizontal .col-sm-5, .form-horizontal .col-md-5, .form-horizontal .col-lg-5, .form-horizontal .col-xl-5, .form-horizontal .col-xs-6, .form-horizontal .col-sm-6, .form-horizontal .col-md-6, .form-horizontal .col-lg-6, .form-horizontal .col-xl-6, .form-horizontal .col-xs-7, .form-horizontal .col-sm-7, .form-horizontal .col-md-7, .form-horizontal .col-lg-7, .form-horizontal .col-xl-7, .form-horizontal .col-xs-8, .form-horizontal .col-sm-8, .form-horizontal .col-md-8, .form-horizontal .col-lg-8, .form-horizontal .col-xl-8, .form-horizontal .col-xs-9, .form-horizontal .col-sm-9, .form-horizontal .col-md-9, .form-horizontal .col-lg-9, .form-horizontal .col-xl-9, .form-horizontal .col-xs-10, .form-horizontal .col-sm-10, .form-horizontal .col-md-10, .form-horizontal .col-lg-10, .form-horizontal .col-xl-10, .form-horizontal .col-xs-11, .form-horizontal .col-sm-11, .form-horizontal .col-md-11, .form-horizontal .col-lg-11, .form-horizontal .col-xl-11, .form-horizontal .col-xs-12, .form-horizontal .col-sm-12, .form-horizontal .col-md-12, .form-horizontal .col-lg-12, .form-horizontal .col-xl-12 {    padding-left: 10px /*/ 2*/;
    padding-right: 10px /*/ 2*/;}
	
.text-white {color:#fff;}

body.sb-l-m .sidebar-menu > li > a:hover > .sidebar-title { background-color:#67d3e0;}
.sidebar-menu > li > ul > li:first-child > a {
  padding-top: 0;
}
body.sb-l-m .sidebar-menu li > ul > li > a {
    padding: 0px 15px 0px 15px;
}
table.dataTable thead th {background-color:#2a2f43 !important; color:#fff;}
.over-x_table thead th {background-color:#0b6598 !important; color:#fff;}

.allcp-form .select .fa{
    pointer-events: none;
    position: absolute;
    top: 14px;
    right: 4px;
    width: 24px;
    height: 24px;
    color: #67d3e0;
    z-index: 100;
}
.over-x_table {overflow-x:scroll;}
.over-x_table th{    white-space: nowrap; text-transform:capitalize !important; }
.tm-tag {margin-bottom:4px; display:inline-block;}
.btn-group {margin-bottom:4px;}
.max_hgt180 {max-height: 180px; overflow-y: auto;}

/*.form-horizontal .control-label {text-align:left;}*/
.form-horizontal .control-label .fa {font-size:20px; padding-right:8px;}

.summaryBlock .btn-group{ display:inline-block;margin-right:20px;}
.summaryBlock .btn-group .btn:first-child{margin-right:2px;}

.bg-dark{
    background-color: #2a2f43 !important;
}
#sidebar_left, .sidebar-menu > li > ul {
    background-color: #076499 !important;
}
.sidebar-left-content {
    background-color:#0d79ba !important;
    -webkit-box-shadow: -39px 7px 0 0 #0d79ba  inset;
    box-shadow: -39px 7px 0 0 #0d79ba inset;
}
.sidebar-menu .sidebar-label {
    color: #fff;
}
.nano.affix>.nano-pane {
    
    background: #076499 !important;
}
.navbar-logo-wrapper {background: #fff !important}
.navbar {
    background-color:#0d79ba !important;
}
body.sb-l-m .sidebar-menu > li > a:hover > .sidebar-title, body.sb-l-m .sidebar-menu > li > a > .sidebar-title {
    background-color: #5a5386 ;
}
.nano.affix>.nano-pane>.nano-slider {
    background:#0d79ba !important;
}
body.sb-l-m #sidebar_left.nano > .nano-content {    width: 60px;}
.select2_search .select2 {width:100% !important;}
.select2-results__option:after {  font-family: FontAwesome;
    display: inline-block;
    content: "\f096";font-size: 1.2em;
    color: #67d3e0;
    width: 1.2em;height:1em;float:right;}
.select2-results__option.active:after {
    content: "\f14a";}
.select2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius:4px;
}
.ad {background-color: #dc6630}
.form-horizontal .radio, .form-horizontal .checkbox {
    min-height: 21px;
	padding-top:0;
}
.option-group.field {margin:8px 0;}

.popup-basic >.panel-primary > .panel-heading > .panel-title {color:#fff;}
.popup-basic {border-radius:4px;}

.allcp-form .green_block { background-color:#5bb34d; color:#fff; text-align:center;}
.allcp-form .green_block .panel-body {padding:10px;}
.allcp-form .green_block h1 {margin:0; color:#fff;}
.allcp-form .green_block .panel-footer { background-color:#429636; color:#fff; border:none; font-weight:bold;}

.allcp-form .blue_block { background-color:#3094c8; color:#fff; text-align:center;}
.allcp-form .blue_block .panel-body {padding:10px;}
.allcp-form .blue_block h1 {margin:0; color:#fff;}
.allcp-form .blue_block .panel-footer { background-color:#2281b1; color:#fff; border:none; font-weight:bold;}

.allcp-form .teal_block { background-color:#218e6e; color:#fff; text-align:center;}
.allcp-form .teal_block .panel-body {padding:10px;}
.allcp-form .teal_block h1 {margin:0; color:#fff;}
.allcp-form .teal_block .panel-footer { background-color:#147156; color:#fff; border:none; font-weight:bold;}

.allcp-form .orange_block { background-color:#ef8c55; color:#fff; text-align:center;}
.allcp-form .orange_block .panel-body {padding:10px;}
.allcp-form .orange_block h1 {margin:0; color:#fff;}
.allcp-form .orange_block .panel-footer { background-color:#ff7022; color:#fff; border:none; font-weight:bold;}
.allcp-form .btn-primary, .allcp-form .btn-primary:active {
    background-color: #0d79ba; border-radius:18px; padding:6px 35px
}
.btn {
   /* border-radius:18px; */
    padding:6px 35px
}
 .allcp-form .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #0d79ba;
    background-color: transparent;
}
.allcp-form .dropdown-menu {    background-color: #dde4e9;border-bottom: 2px solid #c5d6e2;}
.allcp-form .dropdown-toggle.btn {border-radius:4px;    padding: 6px 15px;}
.login-wrapper #main:before{ background: url(../../../img/patterns/backgrounds/background-login.jpg) no-repeat center top}
.mw450{max-width: 450px}
.login-wrapper .form-head{ background: #de662f; text-align: center; border-radius: 5px 5px 0 0;}
.login-wrapper .form-head h2{ font-size: 25px; color: #fff;  margin: 0; padding: 12px 0; font-weight: normal;}
.login-wrapper .allcp-form .section button { width: 100%; border-radius: 3px; padding: 5px 0;}
.allcp-form .field-icon i{color: #999;}
.reglink a{color: #636161}
.login-wrapper .logo{text-align: center}
.login-wrapper .logo h1{color: #fff}
.navbar .nav > li > a{color: #fff}
/* #content_wrapper{background: #fff} */
#topbar.alt{background: #eff0f2}
#content .panel{background: #fafafa}
.parent-item{color: #ea0000; padding-right: 10px;}
.filemanger-uploadbtn {
    border-radius: 3px;
    background: #68686b;
    color: #fff !important;
}
.check_box_filemanager{display: inline-block; text-align: center; width: 100%;}
.select-wrap .dropdown-inline{width: 100%}
.no-records{padding: 15px;}
.req-ast { color:red;font-size: 20px}


/*Tabber styles*/
.tab-info{display: inline-block; width: 100%; margin-top: 25px;}
.tab-info .nav-tabs {background: #4da1ff; border: 2px solid #c5ddf9; border-radius: 4px; padding:2px;margin-bottom: 25px;}
.nav-tabs>li {margin-right: 5px; /*  background: url(bg-border.png) no-repeat left 1px top 7px; */  padding: 0 0 0 18px;}
.nav-tabs li:first-child{background: none; margin-left: 0px; padding-left: 0}
.nav-tabs>li.active, .nav-tabs>li.active + li{background: none}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li a:hover{background: #0d79ba; color: #fff; border: none;}
.nav-tabs>li>a{color: #fff; border: none; padding: 10px 65px;box-sizing: content-box; border: none; -o-text-overflow: clip; text-overflow:clip; text-align: center; transform: skewX(20deg); border-radius:0px;}
.nav-tabs li a p {transform: skew(-20deg);margin: 0 0 0px;}
.nav-tabs li:first-child a{clip-path: polygon(7.5% 0%, 100% 0%,100% 100%, 0 100%); margin-left: -7px;  padding-left: 55px }