<section id="content_wrapper">
  <!-- Topbar -->
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span> File Manager</span>
        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" (click)="resetModel()" data-toggle="modal"
          data-target="#myModal">Upload</button>
      </div>
    </div>
  </header>
  <section id="content" class="allcp-form theme-primary table-layout animated fadeIn">

    <div class="col-md-12">
      <div class="panel panel-visible p20 mb20" id="spy3">
        <div class="panel-body pn" style="margin-top:0">
          <div class="row">
            <alert></alert>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="form-horizontal">
              <div class="form-group" class="col-sm-4">
                <label for="inputTableSearch" class="control-label">Data Type<span class="req-ast"> * </span>:</label>
                <label class="field select">
                  <select id="selYear" name="country" [(ngModel)]="selectedDateType" aria-placeholder="Select Datatype">
                    <option value="-1" default>Select a Data Type</option>
                    <option value="ALE" >ALE</option>
                    <option value="1094">1094</option>
                    <option value="1095">1095</option>
                    <option value="INSURANCE">INSURANCE</option>
                    <option value="PAYROLL">PAYROLL</option>
                  </select>
                  <i class="arrow"></i>
                </label>
              </div>
              <div class="form-group" class="col-sm-4">
                <label for="inputTableSearch2" class="control-label">Start Date<span class="req-ast"> * </span>:</label>
                <my-date-picker name="enddate" [options]="myDatePickerOptions" (dateChanged)="onStartDateChanged($event)" [(ngModel)]="selectedStartDate"
                  required></my-date-picker>
              </div>
              <div class="form-group" class="col-sm-4">
                <label for="inputTableSearch3" class="control-label">End Date<span class="req-ast"> * </span>:</label>
                <my-date-picker name="enddate" [options]="myDatePickerOptions" (dateChanged)="onEndDateChanged($event)" [(ngModel)]="selectedEndDate"
                  required></my-date-picker>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-horizontal mt15">
              <div class="form-group col-sm-12 mbn">
                <button class="btn btn-danger pull-right" type="button" (click)="reset()">Reset</button>
                <button class="btn btn-info mr15  pull-right" type="button" (click)="getListOfFiles()">Filter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel" *ngIf="dataLoaded">
        <div class="panel-body no-padding" style="margin-top:  0px">
          <table class="table dataTable table-striped table-bordered table-hover">
            <thead style="background-color: #767777;color: #fff;">
            <tr>
              <th>Data Type</th>
              <th>File Name</th>
              <th>Uploaded Date</th>
              <th>File Status</th>
              <th>File Type</th>
              <th>Has Errors</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="fileDataList?.length === 0">
              <td colspan="10">
                <p class="no-records">No records Found</p>
              </td>
            </tr>
            <tr *ngFor="let item of fileDataList">
              <td>{{item.dataType}}</td>
              <td><a href="#/reporting/filesummary/${{item.dataFileControlId}}">{{item.fileName}}</a></td>
              <td>{{item.fileUploadDate | date: 'MM/dd/yyyy' }}</td>
              <td>
                <select id="selYear" name="irsSubmissionStatus" [(ngModel)]="item.fileStatus" (ngModelChange)="onChange($event, item.dataFileControlId)">
                  <option value="PENDING">Pending</option>
                  <option value="APPROVED">Approved</option>
                </select>
                <i class="arrow"></i>
              </td>
              <td>{{item.fileType}}</td>
              <td><div *ngIf="item.hasErrors">
                    <a href="#/reporting/fileerrors/${{item.dataFileControlId}}" style="color:red">{{item.hasErrors}}</a>
                  </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <!--<div class="panel-body pn" style="margin-top:0">
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive over-x_table">
                <ng-table id="datatable" ngclass="table table-striped table-bordered table-hover" [config]="config" (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                </ng-table>
                <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize" [boundaryLinks]="false" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
                </pagination>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </section>

  <!-- File upload Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="alert alert-success alert-dismissable  user_sucess" *ngIf="successMessage">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            {{successMessage}}
          </div>
          <h4 class="modal-title">Upload your file</h4>
        </div>
        <div class="modal-body">

          <div class="datatype">
            <label> Select Data Type :</label>
            <select class="form-control" [(ngModel)]="fileUploadDataType">
              <option value="ALE">ALE</option>
              <option value="1094">1094</option>
              <option value="1095">1095</option>
              <option value="INSURANCE">INSURANCE</option>
              <option value="PAYROLL">PAYROLL</option>
            </select>
            <i class="fa fa-chevron-down"></i>
          </div>
          <div class="check_box_filemanager">
            <div class="col-md-12 ph10 mb15 ml20">
              <div class="radio">
                <label class="radio-inline">
                  <input id="first" type="radio" name="content" [(ngModel)]="content" value="first"> New</label>
                <label class="radio-inline">
                  <input id="other" type="radio" name="content" [(ngModel)]="content" value="other"> Existing</label>
              </div>
              <!-- <div *ngIf="content == 'first'"></div>
              <div *ngIf="content == 'other'">
                <div class="selectfile">
                  <select class="form-control">
                    <option value="">Select File</option>
                    <option value="1">file.xls</option>
                    <option value="2">new.csv</option>
                  </select>
                </div>
              </div> -->
            </div>
          </div>

          <div class="fileupload">
            <p>Select a file to upload</p>
            <div class="fileUpload btn btn-primary uploadbtn ">
              <span>Browse Files</span>
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>
              <input type="file" class="upload" (change)="fileChange($event)" #fileRef placeholder="Upload file"
                     accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
            </div>
            <br>
            <span class="filename" *ngIf="fileName">
              <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{fileName}}</span>
            <p>Only .xlsx, .csv files with maximum file size 10 MB allowed</p>
          </div>

          <div class="modal-footer">
            <div class="submitbtn">
              <button type="submit" [disabled]="fileName==''" (click)="submitFile(fileRef)" class="btn btn-primary sub"
                      *ngIf="!uploadingInProgress">
                Submit
              </button>
              <button class="btn btn-primary sub" *ngIf="uploadingInProgress">
                <i class="fa fa-spinner fa-spin"></i>  &nbsp; Uploading
              </button>
              <button class="btn btn-danger pull right" type="button" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
