.modal-dialog {
  width: 700px;
  height: 800px;
  /* New width for default modal */
}

/*table th {
  background: rgba(244, 244, 244, 1);
  background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(240, 240, 240, 1) 49%, rgba(238, 238, 238, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244, 244, 244, 1)), color-stop(49%, rgba(240, 240, 240, 1)), color-stop(100%, rgba(238, 238, 238, 1)));
  background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(240, 240, 240, 1) 49%, rgba(238, 238, 238, 1) 100%);
  background: -o-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(240, 240, 240, 1) 49%, rgba(238, 238, 238, 1) 100%);
  background: -ms-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(240, 240, 240, 1) 49%, rgba(238, 238, 238, 1) 100%);
  background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(240, 240, 240, 1) 49%, rgba(238, 238, 238, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f9f8fb;
}*/

.modal-body .form-control {
  width: 240px;
  float: left;
}

.modal-body fa fa-chevron-down {
  position: relative;
  right: 200px;
}

.modal-body select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #fff!important;
  border: width 1px black;
}

.modal-body select::-ms-expand {
  display: none;
}

.modal-body select+i.fa {
  float: right;
  margin-top: -26px;
  margin-right: 10px;
  pointer-events: none;
  background-color: transparent;
  color: black;
  padding-right: 5px;
  position: relative;
  right: 35px;
  top: 33px;
  font-size: 20px
}

select option {
  padding-right: 21px;
}

.fileupload {
  text-align: center;
  border: 2px dashed #ccc;
  width: 90%;
  margin: 0 auto 18px auto;
  padding: 19px 0;
  border-radius: 3px;
}

.modal-body .fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  border-radius: 8px;
  width: 178px;
  background: #edf2f4;
  border: 1px solid #e4e2e4;
}

.modal-body .fileUpload:hover {
  background: #1d7db8;
  color: #fff
}

.modal-body .fileUpload:hover i,
.modal-body .fileUpload:hover span {
  color: #fff
}

.modal-body .fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.datatype {
  padding: 20px 0 0px 0;
  display: inline-block
}

.datatype label {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
  float: left;
  margin: 0 20px 0 130px;
}

.data_file_upload {
  clear: both;
  text-align: center;
}

.modal-dialog {
  margin-top: 60px;
}

.fa fa-chevron-down {
  font-size: 30px;
}

.fileUpload {
  background-color: #ccf5ff;
  position: relative;
  float: center;
}

.modal-body {
  background: #fff
}

.fileUpload span {
  font-size: 15px;
  color: black;
  margin: 0 5px 0 0;
}

.fileUpload i {
  font-size: 15px;
  color: black;
}

.submitbtn {
  text-align: center;
  margin: 10px 0 25px 0
}

.submitbtn button {
  border-radius: 5px;
}

table a {
  text-decoration: underline
}

.selectfile {
  text-align: center;
  margin: 0 0 0 52px;
  display: inline-block;
  position: relative;
}

.user_sucess {
  position: absolute;
  top: -57px;
  width: 100%;
  left: 0;
}

.filename {
  background: #4fc1e9;
  color: #fff;
  padding: 3px 12px;
  border-radius: 4px;
}

.sucessmessage {
  color: #2b8b00;
}

table a {
  color: #00384b;
  text-decoration: underline
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.alert-success a {
  color: #3c763d;
}
