<!-- -------------- Main Wrapper -------------- -->
<section id="content_wrapper">
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span>Employer Size</span>
        <button type="button" class="btn btn-info btn-lg pull-right mr25" id="btnDownloadPdf" (click)="downloadPDF()"  *ngIf="!downloadPdfInProgress">Download PDF</button>
        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadPdfInProgress">
          <i class="fa fa-spinner fa-spin"></i>&nbsp;Downloading.... 
        </button>
        <button type="button" class="btn btn-info btn-lg pull-right mr25" id="btnDownloadExcel" title="Download Excel" (click)="downloadExcel()" *ngIf="!downloadExcelInProgress">Download Excel</button>
        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadExcelInProgress">
          <i class="fa fa-spinner fa-spin"></i> &nbsp;Download.....
          

        </button>
      </div>
    </div>
  </header>

  <section class="allcp-form theme-primary table-layout animated fadeIn">
    <div class="col-sm-12">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <div class="panel panel-visible p20 mb20" id="" data-panel-color="false" data-panel-fullscreen="false" data-panel-remove="false"
        data-panel-title="false">
        <div class="panel-body mn">
          <div class="form-horizontal">
            <div class="row">
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <label for="ddlYear" class="col-sm-12 control-label">Year</label>
                    <div class="select-wrap">
                    <label class="field select">
                      <select id="ddlYear" (change)="yearChange($event)" name="ddlYear" [(ngModel)]="selectedYear" aria-placeholder="Select year">
                        <option value="-1">Select Year</option>
                        <option *ngFor="let year of Years" value={{year}}>
                          {{year}}
                        </option>
                      </select>
                      <i class="arrow"></i>
                    </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="ddlcontrolgroup" class="col-sm-6 control-label">Controlled Group</label>
                    <div class="select-wrap">
                    <ss-multiselect-dropdown [options]="controlGroupOptions" [settings]="controlGroupSettings" [texts]="controlGroupTexts" [(ngModel)]="selectedControlGroup"></ss-multiselect-dropdown>
                    <!-- <label class="field select">
                                            <select id="ddlcontrolgroup" name="ddlcontrolgroup" [(ngModel)]="selectedControlGroup">
                                                <option value="-1">All</option>
                                                <option *ngFor="let group of ControlGroups" value={{group}}>
                                                    {{group}}
                                                </option>
                                            </select>
                                            <i class="arrow"></i>
                                        </label> -->
                  </div>
                  </div>
                  <div class="col-sm-12 pt20">
                    <button class="btn btn-info mr15" type="button" (click)="Search()">Filter</button>
                    <button class="btn btn-danger" type="button" (click)="reset()">Reset</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-primary teal_block" style="cursor:pointer">
                      <div class="panel panel-primary teal_block">
                        <div class="panel-body" (click)="annualizedMonthlyReportData()">
                          <h1>{{annulaizedMonthly}}</h1>
                        </div>
                        <div class="panel-footer" (click)="annualizedMonthlyReportData()">Annualized Monthly</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="table-responsive" *ngIf="yrsLoaded">
                  <table class="table table-striped table-bordered table-hover" cellspacing="0">
                    <tr>
                      <th>Work Month</th>
                      <th>Full Time</th>
                      <th>Part Time</th>
                      <th>Total</th>
                    </tr>
                    <tr *ngFor="let row of EmpByWorkYear">
                      <td>{{row.workMonth}}</td>
                      <td>{{row.fullTimeCount}}</td>
                      <td>{{row.partTimeCount}}</td>
                      <td>{{(row.fullTimeCount-0) + (row.partTimeCount-0)}}</td>
                    </tr>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-visible p20" id="spy3" *ngIf="dataLoaded">

        <div class="panel-body pn">
          <div class="row">
            <div class="col-sm-6">
              <div class="panel-heading">
                <div class="panel-title hidden-xs">
                  Report Details
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-horizontal">
                <div class="form-group">
                    <input type="text" class="form-control  pul-right" id="inputTableSearch" placeholder="Search Details" *ngIf="config.filtering" [ngTableFiltering]="config.filtering"
                      (tableChanged)="onChangeTable(config)">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
                <div #topScroll (scroll)='scroller(bottomScroll, topScroll)' style="overflow:scroll;overflow-y:hidden">
                    <div [style.width.px]="topScrollWidth" style="height: 20px;"></div>                
                </div>
  
                <div #bottomScroll class="table-responsive over-x_table"(scroll)='scroller(topScroll,bottomScroll)'>
                <ng-table #ngTable id="datatable" ngclass="table table-striped table-bordered table-hover" [config]="config" (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                </ng-table>
                <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize" [boundaryLinks]="false" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
                </pagination>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- -------------- /Content -------------- -->
</section>
