<script src="irs-file-management.component.ts"></script>
<section id="content_wrapper">
  <!-- Topbar -->
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span> IRS File Management</span>
        <!--<button class="btn btn-info btn-lg pull-right filemanger-uploadbtn">Generate XML &nbsp;&nbsp;
          <i class="fa fa-file-excel-o" aria-hidden="false"></i>
        </button>-->
      </div>
    </div>
  </header>
  <section id="content" class="allcp-form theme-primary table-layout animated fadeIn">
    <div class="col-md-12">
      <div class="panel mb20">
        <div class="panel-body no-padding" style="margin-top: 0px">
          <div class="row">
            <alert></alert>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="form-group col-md-6">
              <label class="exampleSelect1">Tax Year <span class="req-ast">*</span></label>
              <label class="field select">
                <select class="form-control" id="exampleSelect1" [(ngModel)]="selectedYear">
                  <option value="-1" default>Select Year</option>
                  <option *ngFor="let tax of taxYearList" [ngValue]="tax">{{tax}}</option>
                </select>
                <i class="arrow"></i>
              </label>
            </div>
            <div class="form-group col-md-6">
              <label for="exampleSelect1">EIN <span class="req-ast">*</span> :</label>
              <label class="field select">
                <select class="form-control" id="exampleSelect1" [(ngModel)]="selectedEIN">
                  <option value="-1" default>Select EIN</option>
                  <option *ngFor="let ein of einList" [ngValue]="ein">{{ein}}</option>
                </select>
                <i class="arrow"></i>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="form-horizontal mt15">
              <div class="form-group col-sm-12 mbn">
                <button class="btn btn-danger pull-right" type="button" (click)="reset()">Reset</button>
                <button class="btn btn-info mr15  pull-right" type="button" (click)="getAllIRSBySearchCriteria()">Filter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- *ngIf="dataLoaded" -->
      <div class="panel">
        <div class="panel-body no-padding" style="margin-top:  0px">
          <table class="table dataTable table-striped table-bordered table-hover">
            <thead style="background-color: #767777;color: #fff;">
              <tr>
                <th>Tax Year</th>
                <th>EIN</th>
                <th>Count Of 1095</th>
                <th>XML File</th>
                <th>Process Status</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th>Modified Date</th>
                <th>Modified By</th>
                <th>IRS Submission Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="fileIRSList?.length === 0">
                <td colspan="10">
                  <p class="no-records">No records Found</p>
                </td>
              </tr>
              <tr *ngFor="let item of fileIRSList">
                <td>{{item.taxYear}}</td>
                <td>{{item.ein | EIN}}</td>
                <td>{{item.count1095}}</td>
                <td>
                  <div *ngIf="item.xmlGenerated">
                    <a href="{{downloadLink}}{{item.irsSubmissionId}}" target="_blank">Click to Download</a>
                  </div>
                </td>
                <td>{{item.processStatus}}</td>
                <td>{{item.createdDate}}</td>
                <td>{{item.createdBy}}</td>
                <td>{{item.modifiedDate}}</td>
                <td>{{item.modifiedBy}}</td>
                <td>
                  <select id="selYear" name="irsSubmissionStatus" [(ngModel)]="item.irsSubmissionUserAction" (ngModelChange)="onChange($event, item)">
                    <option value="PROCESSING">Processing</option>
                    <option value="PARTIALLY-ACCEPTED">Partially-Accepted</option>
                    <option value="ACCEPTED">Accepted</option>
                    <option value="ACCEPTED WITH ERRORS">Accepted with Errors</option>
                    <option value="REJECTED">Rejected</option>
                    <option value="NOT FOUND">Not Found</option>
                  </select>
                  <i class="arrow"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
