<!-- -------------- Main Wrapper -------------- -->
<section id="content_wrapper">
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span>Initial Measurement Period Report</span>
        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" (click)="downloadPdf()" *ngIf="!downloadPdfInProgress" id="btnDownloadPdf"
          title="Download PDF">Download PDF</button>
          <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadPdfInProgress">
            <i class="fa fa-spinner fa-spin"></i>&nbsp;Downloading.... 
          </button>
        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" (click)="downloadExcel()" *ngIf="!downloadExcelInProgress"id="btnDownloadExcel"
          title="Download Excel">Download Excel</button>
          <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadExcelInProgress">
            <i class="fa fa-spinner fa-spin"></i> &nbsp;Download.....
            

          </button>
      </div>
    </div>
  </header>

  <!-- -------------- /Topbar -------------- -->
  <!-- -------------- Content -------------- -->
  <section class="allcp-form theme-primary table-layout animated fadeIn">
    <div class="col-md-12">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <div class="panel panel-visible p20 mb20" id="">
        <div class="panel-body mn">
          <div class="form-horizontal">
            <div class="row">
              <div class="col-sm-10">
                <div class="form-group" class="col-sm-6" style="display:none">
                  <div class="select-wrap">
                  <label for="year" class="col-sm-5 control-label">Select Year</label>
                  <ss-multiselect-dropdown [options]="myYearOptions" [settings]="myYearSettings" [texts]="myYearTexts" [(ngModel)]="selectedYear"></ss-multiselect-dropdown>
                </div>
              </div>
                <div class="form-group" class="col-sm-6">
                  <label for="year" class="col-sm-5 control-label">Controlled Group </label>
                  <div class="select-wrap">
                  <ss-multiselect-dropdown [options]="myOptions" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="selectedControlGroup"></ss-multiselect-dropdown>
                </div>
              </div>
                <div class="form-group" class="col-sm-6 ">
                  <label for="" class="col-sm-12 control-label">Type of Hours</label>
                  <div class = "select-wrap">
                  <label class="field select">
                    <select id="selTypeofHours" class="form-control" name="typeofHours" [(ngModel)]="selectedTypeOfHours">
                      <option value="-1">All</option>
                      <option *ngFor="let hour of TypeOfHours" value={{hour}}>
                        {{hour}}
                      </option>
                    </select>
                    <i class="arrow"></i>
                  </label>
                  </div>
                </div>
                <div class="form-group" class="col-sm-6">
                  <label for="year" class="col-sm-12 control-label">Calendar</label>
                  <div class="select-wrap">
                  <!-- <ss-multiselect-dropdown [options]="myMonthOptions" [settings]="myMonthSettings" [texts]="myMonthTexts" [(ngModel)]="selectedHireMonth"></ss-multiselect-dropdown> -->
                  <input class="form-control" type="date" data-date-format="YYYY-MM-DD" id="year" [(ngModel)]="selectedHireMonth">
                  <!-- <label for="txtMeasureStartDate" class="col-lg-6 control-label"><h6 class="label-item">Measurement Start Date</h6></label>
                                            <input type="date" data-date-format="YYYY-MM-DD" id="txtMeasureStartDate" formControlName="measurementStartDateControl" class="form-control" placeholder="Measurement Start Date..."> -->
                </div>
              </div>
                <div class="form-group" class="col-sm-6">
                  <label for="year" class="col-sm-12 control-label">Avg. Weekly Hours Threshold</label>
                  <div class="select-wrap">
                  <label class="field select">
                    <select id="selweeklyHours" name="weeklyHours" [(ngModel)]="selectedAvgWeeklyHrsThr">
                      <option value="-1">SELECT</option>
                      <option *ngFor="let wkHr of AvgWeeklyHrs" value={{wkHr}}>
                        {{wkHr}}
                      </option>
                    </select>
                    <i class="arrow"></i>
                  </label>
                </div>
                </div>
                <div class="form-group" class="col-sm-6">
                  <label for="year" class="col-sm-12 control-label">Categories </label>
                  <div class="select-wrap">
                  <ss-multiselect-dropdown [options]="nonFullTimeOptions" [settings]="nonFullTimeSettings" [texts]="nonFullTimeTexts" [(ngModel)]="selectedNonFullTimeCatgeories"></ss-multiselect-dropdown>
                </div>
              </div>
                <div class="form-group col-sm-6 mbn mt25">
                  <button class="btn btn-info mr15 ml15" type="button" (click)="Search()">Filter</button>
                  <button class="btn btn-danger" type="button" (click)="reset()">Reset</button>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="row" style="display: none;">
                  <div class="col-md-12">
                    <input type="hidden" [(ngModel)]="selectedweekCount" />
                    <div class="panel panel-primary green_block" style="cursor:pointer">
                      <div class="panel-body" (click)="getWeekData(13)">
                        <h1>{{count13Weeks}}</h1>
                      </div>
                      <div class="panel-footer" (click)="getWeekData(13)">13 WEEKS</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="panel panel-primary blue_block" style="cursor:pointer">
                      <div class="panel panel-primary blue_block">
                        <div class="panel-body" (click)="getWeekData(26)">
                          <h1>{{count26Weeks}}</h1>
                        </div>
                        <div class="panel-footer" (click)="getWeekData(26)">26 WEEKS</div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-primary teal_block  mt25" style="cursor:pointer">
                      <div class="panel panel-primary teal_block">
                        <div class="panel-body" (click)="getWeekData(47)">
                          <h1>{{count47Weeks}}</h1>
                        </div>
                        <div class="panel-footer" (click)="getWeekData(47)">11 Months</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12" style="display: none">
                    <div class="panel panel-primary orange_block" style="cursor:pointer">
                      <div class="panel panel-primary orange_block">
                        <div class="panel-body" (click)="getWeekData(52)">
                          <h1>{{count52Weeks}}</h1>
                        </div>
                        <div class="panel-footer" (click)="getWeekData(52)">12 Months</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-visible p20" id="spy3" *ngIf="dataLoaded">
        <div class="panel-body pn">
          <div class="row">
            <div class="col-sm-6">
              <div class="panel-heading">
                <div class="panel-title hidden-xs">
                  Report Details
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-6 pull-right">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Search Details" *ngIf="config.filtering" [ngTableFiltering]="config.filtering"
                      (tableChanged)="onChangeTable(config)">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div #topScroll (scroll)='scroller(bottomScroll, topScroll)' style="overflow:scroll;overflow-y:hidden">
                <div [style.width.px]="topScrollWidth" style="height: 20px;"></div>                
              </div>

              <div #bottomScroll class="table-responsive over-x_table"(scroll)='scroller(topScroll,bottomScroll)'>

                <ng-table #ngTable id="datatable" ngclass="table table-striped table-bordered table-hover" [config]="config" (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                </ng-table>
                <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize" [boundaryLinks]="false" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
                </pagination>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- -------------- /Content -------------- -->

  <!-- excel download -->
  <div class="modal fade" id="confirm-excel-download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Excel Download</h4>
        </div>
        <div class="modal-body">
          <h4 class="text-center">Download is Dangerous!</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bordered btn-primary mb5" data-dismiss="modal" (click)="downloadExcel()">Ok</button>
          <button type="reset" class="btn btn-bordered mb5" data-dismiss="modal"> Cancel</button>
        </div>
      </div>
    </div>
  </div>
</section>