<section id="content_wrapper">
  <!-- Topbar -->
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <span class="panel-title">
            <span class="parent-item">
              <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
              <span class="fa fa-angle-right"></span>
            </span> <a [routerLink]="['../../filemanager']">File Manager</a>&nbsp;&nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>File Errors</span>
            <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" [routerLink]="['../../filemanager']">Back</button>
        </div>
    </div>
  </header>
  <section id="content" class="table-layout animated fadeIn">
    <div class="modal-body">
      <!-- <not closed> -->
      <div class="chute chute-center">
        <!-- <not closed> -->
        <div class="allcp-form theme-primary">
          <div class="panel" id="p2" data-panel-color="false" data-panel-fullscreen="false" data-panel-remove="false" data-panel-title="false">
            <div class="panel-heading">
              <!-- Trigger the modal with a button -->
              <table class="table dataTable table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>File Name </th>
                    <th>Data Type</th>
                    <th>SSN</th>
                    <th>EIN</th>
                    <th>status</th>
                    <th>Modified Date</th>
                    <th>Error</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of fileErrors">
                    <td>1</td>
                    <td>file.csv</td>
                    <td>ALE data</td>
                    <td>{{item.ssn | SSN}}</td>
                    <td>{{item.ein | EIN}}</td>
                    <td>File Process with Errors</td>
                    <td>{{item.modifiedDate}}</td>
                    <td>{{item.errorDescription}}</tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>