<div class="utility-page sb-l-c sb-r-c login-wrapper">
  <!-- -------------- Body Wrap  -------------- -->
  <div id="main" class="animated fadeIn">
    <!-- -------------- Main Wrapper -------------- -->
    <section id="content_wrapper">
      <!-- -------------- Content -------------- -->
      <section id="content">
        <!-- -------------- Login Form -------------- -->
        
            

        <div class="allcp-form mw450 margin-auto" id="login">
            <div class="login-logo"><img src="../assets/img/sipra.jpg" title="logo"></div>
          <div class="form-head">
            <h2>ACA Analytics</h2>
          </div>
          <div class="panel">
            <alert></alert>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <form (ngSubmit)="login()" method="post" action="/" id="form-login">
              <div class="panel-body pn mv10">
                <div class="section mb15">
                  <label for="username" class="field prepend-icon">
                    <input type="text" name="username" id="username" class="gui-input" placeholder="Email ID" [(ngModel)]="model.username">
                    <label for="username" class="field-icon">
                      <i class="fa fa-user"></i>
                    </label>
                  </label>
                </div>
                <!-- -------------- /section -------------- -->
                <div class="section mb15">
                  <label for="password" class="field prepend-icon">
                    <input type="password" name="password" id="password" class="gui-input" placeholder="Password" [(ngModel)]="model.password">
                    <label for="password" class="field-icon">
                      <i class="fa fa-lock"></i>
                    </label>
                  </label>
                </div>
                <!-- -------------- /section -------------- -->
                <!-- <div class="section">
                        <div class="bs-component pt5">
                            <div class="radio-custom radio-primary mb5 lh25">
                                <input type="radio" id="remember" name="remember">
                                <label for="remember">Remember me</label>
                            </div>
                        </div>
                    </div> -->
                <div class="section mb10">
                  <div class="bs-component pt5">
                    <button type="submit" class="btn btn-bordered btn-primary">Log in</button>
                  </div>
                </div>
                <!-- <div class="section mbn reglink">
                                        <a routerLink="#" >Forgot your password ?</a>
                                </div> -->
                <!-- -------------- /section -------------- -->
              </div>
              <!-- -------------- /Form -------------- -->
            </form>
          </div>
          <!-- -------------- /Panel -------------- -->
        </div>
        <!-- -------------- /Spec Form -------------- -->
      </section>
      <!-- -------------- /Content -------------- -->
    </section>
    <!-- -------------- /Main Wrapper -------------- -->
  </div>
</div>
<!-- -------------- /Body Wrap  -------------- -->
<!-- -------------- Scripts -------------- -->
<!-- -------------- Page JS -------------- -->
