<!-- -------------- Main Wrapper -------------- -->
<section id="content_wrapper">
    <!-- -------------- Topbar -------------- -->
    <header id="topbar" class="ph10 alt allcp-form theme-primary">
       <div class="panel panel-primary">
        <div class="panel-heading">
           <span class="panel-title">Controlled Group</span>
        </div>
      </div>
    </header>
    <!-- -------------- /Topbar -------------- -->

    <!-- -------------- Filter , New ControlGroup , ControlGroup ,  -------------- -->
    <section id="content" class="table-layout animated fadeIn">
        <div class="chute chute-center">
               <div class="row"  style="display: none">
                   <div class="col-xs-12">
                       <div class="panel mb25 mt5">
                            <form method="post" action="/" id="allcp-form">
                                <div class="allcp-form theme-primary btn-bordered center-block">
                                     <div class="section row">
                                           <div class="col-md-4 ph10 mb5">
                                                <h6 class="">Controlled Group</h6>
                                                 <label for="itemsearch" class="field">
                                                   <input type="search" name="itemsearch" id="itemsearch" class="gui-input" placeholder="Controlled Group....">
                                                  </label>
                                           </div>
                                           <div class="col-md-4 ph10 mb5" style="display:none">
                                                <h6 class="">Filtering</h6>
                                                <label class="field select">
                                                <select id="language" name="language">
                                                    <option value="">Select Filter</option>
                                                    <option value="EN">English</option>
                                                    <option value="FR">French</option>
                                                    <option value="SP">Spanish</option>
                                                    <option value="CH">Chinese</option>
                                                    <option value="RU">Russian</option>
                                                </select>
                                                <i class="arrow double"></i>
                                            </label>
                                            </div>
                                            <div class="col-sm-2">
                                            <h6>&nbsp;</h6>
                                                <button class="btn-primary" type="submit">Filter</button>
                                            </div>
                                            <div class="col-sm-2">
                                                <h6>&nbsp;</h6>
                                                <button class="btn-primary" type="reset">Clear</button>
                                            </div>
                                     </div>
                                </div>
                            </form>
                       </div>
                   </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                    <div class="panel">
                        <div class="panel-custom">
                               <a href="#"  data-toggle="modal" data-target="#myModalNew" (click)="clearControlGroupObjectFromForm()" class="btn btn-primary btn-sm ml10 text-right" title="New User">
                               <span class="fa fa-plus pr5"></span> New Controlled Group</a>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="panel-heading">
                           <span class="panel-title hidden-xs">Controlled Group</span>
                        </div>
                        <div class="panel-body pn">
                            <div class="table-responsive">
                                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                                    <thead>
                                        <tr class="bg-light">
                                            <!--<th class="text-center"></th>
                                            <th class="text-center"></th>-->
                                            <th class="">Controlled Group ID</th>
                                            <!-- <th class="">EIN</th> -->
                                            <th class="">Controlled Group Name</th>
                                            <!--<th class="">Active</th>
                                            <th class="">Deleted</th>-->
                                            <th class="text-right">Standard Measurement Period Start Date</th>
                                            <th class="text-right">Standard Measurement Period End Date</th>
                                            <!-- <th class="text-right">End Date 1</th>
                                            <th class="text-right">End Date 2</th>
                                            <th class="text-right">End Date 3</th>
                                            <th class="text-right">End Date 4</th>  -->
                                            <!-- <th class="text-right">Modified By</th>
                                            <th class="text-right">Modified Date</th>
                                            <th class="text-right">Created By</th>
                                            <th class="text-right">Created Date</th>
                                            <th class="text-right">Action</th>-->

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of data">
                                            <!--<td class="text-center">
                                                <label class="option block mn">
                                                    <input type="checkbox" name="inputname" value="FR">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </td>
                                            <td class="w100">
                                                <img class="img-responsive mw40 ib mr10" title="user" src="assets/img/pages/products/1.jpg">
                                            </td>-->
                                            <td class="">{{row?.controlGroupId}}</td>
                                            <!-- <td class="">{{row?.controlGroupEIN}}</td> -->
                                            <td class="">{{row?.controlGroupName}}</td>
                                            <!--<td class="">{{row?.active}}</td>
                                            <td class="">{{row?.deleted}}</td>-->
                                            <td class="text-right">{{row?.measurementStartDate}}</td>
                                            <td class="text-right">{{row?.measurementEndDate}}</td>
                                            <!-- <td class="text-right">{{row?.measurementEndDate1}}</td>
                                            <td class="text-right">{{row?.measurementEndDate2}}</td>
                                            <td class="text-right">{{row?.measurementEndDate3}}</td>
                                            <td class="text-right">{{row?.measurementEndDate4}}</td> -->
                                            <!--<td class="">{{row?.modifiedBy}}</td>
                                            <td class="">{{row?.modifiedDate}}</td>
                                            <td class="">{{row?.controlGroupId}}</td>
                                            <td class="">{{row?.createdBy}}</td>
                                            <td class="">{{row?.createdDate}}</td>-->

                                            <td class="text-right">                                                
                                                <div class="btn-group text-right">
                                                    <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false"> Action
                                                        <span class="caret ml5"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a class="" data-toggle="modal" data-target="#myModalEdit" (click)="editControlGroup(row.controlGroupId,row.controlGroupName)">Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="" data-toggle="modal" data-target="#myModalDelete" (click)="deleteControlGroup(row.controlGroupId,row.controlGroupName)">Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>               
        </div>
    </section>
    <!-- -------------- /Filter , New ControlGroup , ControlGroup ,  -------------- -->
    
</section>
<!-- Modal Popups -->
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit">
    <!-- <not closed> -->
    <div class="modal-dialog modal-lg" role="document">
        <!-- <not closed> -->
        <div class="modal-content">
            <!-- <not closed> -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelEdit">Edit Controlled Group</h4>
            </div>
            <div class="modal-body">
                <!-- <not closed> -->
                <div class="chute chute-center">
                    <!-- <not closed> -->
                    <div class="allcp-form theme-primary center-block">
                        <!-- <closed> -->
                        <form method="post" (ngSubmit)="updateControlGroup()" id="allcp-form" novalidate="novalidate">
                            <!-- <not closed> -->
                            <div class="panel-body">
                                <!-- <not closed> -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- -------------- Standard Fields -------------- -->
                                        <div class="panel">
                                            <div class="panel-body no-padding">
                                                <form class="form-horizontal" role="form" [formGroup]="cgForm">                                                    
                                                    <div class="section row">
                                                        <div class="col-md-6 ph10 mb5">                                                            
                                                            <div class="mb5 mt5">
                                                                <h6 class="">Controlled Group Name</h6>
                                                                <!-- <div>{{nameControl.value}}</div> -->
                                                                <input disabled="disabled" type="text" id="txtControlGroup" formControlName="nameControl" class="form-control" placeholder="Controlled group Name...">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ph10 mb5">
                                                            <div class="mb5 mt5">
                                                                <h6 class="">Controlled Group ID</h6>
                                                                <!-- <div>{{EINControl.value}}</div> -->
                                                                <input type="text" id="txtControlGroupEIN" disabled="disabled" formControlName="idControl" class="form-control" placeholder="EIN...">
                                                            </div>
                                                        </div>  
                                                    </div>

                                                    <div class="section row">
                                                        <div class="col-md-6 ph10 mb5">
                                                            <label for="txtMeasureStartDate" class="col-lg-6 control-label"><h6 class="label-item">Standard Measurement Period Start Date</h6></label>
                                                            <input type="text" id="txtMeasureStartDate" formControlName="measurementStartDateControl" class="form-control" placeholder="Standard Measurement Period Start Date...">
                                                        </div>
                                                        <div class="col-md-6 ph10 mb5">
                                                            <label class="col-lg-6 control-label" for="txtMeasureEndDate"><h6 class="label-item">Standard Measurement Period End Date</h6></label>
														    <input class="form-control" id="txtMeasureEndDate" formControlName="measurementEndDateControl" placeholder="Standard Measurement Period End Date..." />
                                                        </div>
                                                    </div>


                                                    <div class="section row" style="display:none;">  
                                                        <div class="col-md-6 ph10 mb5">
                                                            <label class="col-lg-6 control-label" for="txtMeasureEndDate1"><h6 class="label-item">Measurement End Date 1</h6></label>
                                                            <input class="form-control" id="txtMeasureEndDate1" formControlName="measureEndDate1Control" placeholder="Measurement Start Date 1..." />
                                                        </div>
                                                        <div class="col-md-6 ph10 mb5">
                                                            <label class="col-lg-6 control-label" for="txtMeasureEndDate2"><h6 class="label-item">Measurement End Date 2</h6></label>
														    <input class="form-control" id="txtMeasureEndDate2" formControlName="measureEndDate2Control" placeholder="Measurement Start Date 2..." />
                                                        </div>
                                                    </div>

                                                    <div class="section row"  style="display:none;">  
                                                        <div class="col-md-6 ph10 mb5">
                                                            <label class="col-lg-6 control-label" for="txtMeasureEndDate3"><h6 class="label-item">Measurement End Date 3</h6></label>
                                                            <input class="form-control" id="txtMeasureEndDate3" formControlName="measureEndDate3Control" placeholder="Measurement Start Date 3..." />
                                                        </div>
                                                        <div class="col-md-6 ph10 mb5">
                                                            <label class="col-lg-6 control-label" for="txtMeasureEndDate4"><h6 class="label-item">Measurement End Date 4</h6></label>
														    <input class="form-control" id="txtMeasureEndDate4" formControlName="measureEndDate4Control" placeholder="Measurement Start Date 4..." />
                                                        </div>
                                                    </div>
                                                    <div class="section row">
                                                        <div class="col-md-6 ph10 mb5 hgfgt">
                                                            <label class="control-label" for="chkActive"><h6 class="label-item">Active</h6></label>                                                
                                                             <input id="chkActive" type="checkbox" checked formControlName="isActiveControl"/>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <button type="submit" class="btn-primary" (click)="updateControlGroup()" data-dismiss="modal"> Submit</button>
                                <button type="reset" class="btn-primary" data-dismiss="modal"> Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelDelete">Controlled Group</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-center">Are you sure want to <span>Delete</span>?</h4>
            </div>
            <div class="panel-footer text-right">                
                <button type="submit" class="btn btn-bordered btn-primary mb5" data-toggle="modal" data-target="#confirm-delete"  data-dismiss="modal"  (click)="deleteControlGroupConfirm()"> Confirm</button>
                <button type="reset" class="btn btn-bordered mb5" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

 <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Information</h4>
                </div>
                <div class="modal-body">
                    <h4 class="text-center">Deleted Sucessfully</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-bordered btn-primary mb5" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabelNew">
    <!-- <not closed> -->
    <div class="modal-dialog modal-lg" role="document">
        <!-- <not closed> -->
        <div class="modal-content">
            <!-- <not closed> -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelNew">Create Controlled Group</h4>
            </div>
            <div class="modal-body">
                <!-- <not closed> -->
                <div class="chute chute-center">
                    <!-- <not closed> -->
                    <div class="allcp-form theme-primary center-block">
                        <!-- <closed> -->
                        <form method="post" (ngSubmit)="createControlGroup()" id="allcp-form" novalidate="novalidate">
                            <!-- <not closed> -->
                            <div class="panel-body">
                                <!-- <not closed> -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- -------------- Standard Fields -------------- -->
                                        <div class="panel">
                                            <div class="panel-body no-padding">
                                                <form class="form-horizontal" role="form" [formGroup]="cgForm">
                                                    <div class="section row">
                                                        <div class="col-md-6 ph10 mb5">
                                                           <label for="txtControlGroup" class="col-lg-5 control-label"> <h6 class="label-item"> Controlled Group Name</h6></label>                                                      
                                                            <input type="text" id="txtControlGroup" formControlName="nameControl" class="gui-input" placeholder="Controlled group Name...">     
                                                        </div>
                                                        <div class="col-md-6 ph10 mb5" style="display: none">
                                                        <label for="txtControlGroupEIN" class="col-lg-5 control-label"> <h6 class="label-item"> Controlled Group EIN</h6></label>
														<input type="text" id="txtControlGroupEIN" formControlName="EINControl" class="gui-input" placeholder="EIN...">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="section row">
                                                        <div class="col-md-6 ph10 mb5">
                                                            <label for="txtMeasureStartDate" class="col-lg-6 control-label"> <h6 class="label-item"> Standard Measurement Period Start Date</h6></label>                                                       
                                                             <input type="text" id="txtMeasureStartDate" formControlName="measurementStartDateControl" class="gui-input" placeholder="Standard Measurement Period Start Date...">
                                                        </div>
                                                        <div class="col-md-6 ph10 mb5">
                                                        <label class="col-lg-6 control-label" for="txtMeasureEndDate"> <h6 class="label-item"> Standard Measurement Period End Date</h6></label>
                                                         <input class="gui-input" id="txtMeasureEndDate" formControlName="measurementEndDateControl" placeholder="Standard Measurement Period End Date..." />
                                                        </div>
                                                    </div>
                                                    <div class="section row"  style="display:none;">
                                                        <div class="col-md-6 ph10 mb5">
                                                             <label class="col-lg-6 control-label" for="txtMeasureEndDate1"> <h6 class="label-item"> Measurement End Date 1</h6>   </label>                                                    
                                                            <input class="gui-input" id="txtMeasureEndDate1" formControlName="measureEndDate1Control" placeholder="Measurement Start Date 1..." />     
                                                        </div>
                                                        <div class="col-md-6 ph10 mb5">
                                                        <label class="col-lg-6 control-label" for="txtMeasureEndDate2"> <h6 class="label-item"> Measurement End Date 2</h6></label>
                                                         <input class="gui-input" id="txtMeasureEndDate2" formControlName="measureEndDate2Control" placeholder="Measurement Start Date 2..." />
                                                        </div>
                                                    </div>
                                                    <div class="section row"  style="display:none;">
                                                        <div class="col-md-6 ph10 mb5">
                                                            <label class="col-lg-6 control-label" for="txtMeasureEndDate3"> <h6 class="label-item"> Measurement End Date 3</h6>  </label>                                                     
                                                             <input class="gui-input" id="txtMeasureEndDate3" formControlName="measureEndDate3Control" placeholder="Measurement Start Date 3..." />
                                                        </div>
                                                        <div class="col-md-6 ph10 mb5">
                                                       <label class="col-lg-6 control-label" for="txtMeasureEndDate4"> <h6 class="label-item"> Measurement End Date 4</h6></label>
                                                         <input class="gui-input" id="txtMeasureEndDate4" formControlName="measureEndDate4Control" placeholder="Measurement Start Date 4..." />
                                                        </div>
                                                    </div>
                                                    <div class="section row">
                                                        <div class="col-md-6 ph10 mb5 hgfgt">
                                                            <label class="control-label" for="chkActive"><h6 class="label-item">Active</h6></label>                                                
                                                             <input id="chkActive" type="checkbox" checked formControlName="isActiveControl"/>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <button type="submit" [disabled]="!cgForm.valid" class="btn-primary" (click)="createControlGroup()" data-dismiss="modal"> Submit</button>
                                <button type="reset" class="btn-primary" data-dismiss="modal"> Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---Closed Model Popups-->