<!-- -------------- Main Wrapper -------------- -->
<section id="content_wrapper">
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span>Employee Activity Report</span>
        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" id="btnDownloadPdf" (click)="downloadPdf()"  *ngIf="!downloadPdfInProgress">&nbsp;&nbsp;Download PDF</button>
        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadPdfInProgress">
          <i class="fa fa-spinner fa-spin"></i>&nbsp;Downloading.... 
        </button>
        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" id="btnDownloadExcel" *ngIf="!downloadExcelInProgress"title="Download Excel"
          (click)="downloadExcel()">&nbsp;&nbsp;Download Excel</button>
          <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadExcelInProgress">
            <i class="fa fa-spinner fa-spin"></i> &nbsp;Download.....
            

          </button>
      </div>
    </div>
  </header>
  <!-- -------------- Content -------------- -->
  <section id="content" class="allcp-form theme-primary table-layout animated fadeIn">
    <div class="col-md-12">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <div class="panel  panel-primary p20 mb20" id="spy3">
        <div class="panel-body mn pn">
          <div class="form-horizontal">
            <div class="row">
              <div class=" col-sm-6">
                <label for="inputEmail3" class="col-sm-3 control-label"> Year</label>
                <div class="select-wrap">
                <!-- <label class="field select">
                                            <select id="selYear" (change)="yearChange($event)" name="country" formControlName="yearControl" aria-placeholder="Select year">
                                                <option value="-1" selected >Select Year</option>
                                                <option *ngFor="let year of Years" value={{year}}>
                                                    {{year}}
                                                </option>
                                            </select>
                                            <i clas-->
                <ss-multiselect-dropdown [options]="myOptionsYear" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="selectedYears"></ss-multiselect-dropdown>
              </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="inputEmail3" class="col-sm-4 control-label">Control Group</label>
                <div class="select-wrap">
                <!--    <label class="field select">
                                            <select id="selcontrolgroup" name="controlgroup" formControlName="controlGroup" [ngClass]="{'error':!validateControlGroups()}">
                                                <option selected disabled value="">All</option>
                                                <option *ngFor="let group of ControlGroups" value={{group}}>
                                                    {{group}}
                                                </option>
                                            </select>
                                            <i class="arrow"></i>
                                        </label>
                                        <em *ngIf="!validateControlGroups()">Please select valid Control Group</em> -->
                <ss-multiselect-dropdown [options]="myOptionsCG" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="selectedControlGroups"></ss-multiselect-dropdown>
              </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-horizontal mt15 mr10">
              <div class="form-group col-sm-12 mbn prn">
                <button class="btn btn-danger pull-right" type="button" (click)="reset()">Reset</button>
                <button class="btn btn-info mr5  pull-right" type="button" (click)="Search()">Filter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-visible p20" id="spy3" *ngIf="dataLoaded">
        <div class="panel-heading">
          <div class="panel-title hidden-xs">

          </div>
        </div>
        <div class="panel-body pn">
          <div class="row">
            <div class="col-sm-6"> Report Details</div>
            <div class="col-sm-6">
              <div class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-6 pull-right">
                   

                    <input type="text" class="form-control" id="inputEmail3" placeholder="Search " *ngIf="config.filtering" [ngTableFiltering]="config.filtering"
                      (tableChanged)="onChangeTable(config)" >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
                <div #topScroll (scroll)='scroller(bottomScroll, topScroll)' style="overflow:scroll;overflow-y:hidden">
                    <div [style.width.px]="topScrollWidth" style="height: 20px;"></div>                
                </div>
                <div #bottomScroll class="table-responsive over-x_table"(scroll)='scroller(topScroll,bottomScroll)'>
                    
            
                <ng-table #ngTable id="datatable" ngclass="table table-striped table-bordered table-hover" [config]="config" (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                </ng-table>
                <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                  [maxSize]="maxSize" [boundaryLinks]="false" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                  (numPages)="numPages = $event">
                </pagination>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- -------------- /Content -------------- -->
  <!-- excel download -->
  <div class="modal fade" id="confirm-excel-download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Excel Download</h4>
        </div>
        <div class="modal-body">
          <h4 class="text-center">Download is Dangerous!</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bordered btn-primary mb5" data-dismiss="modal" (click)="downloadExcel()">Ok</button>
          <button type="reset" class="btn btn-bordered mb5" data-dismiss="modal"> Cancel</button>
        </div>
      </div>
    </div>
  </div>
</section>
