<!-- -------------- Main Wrapper -------------- -->
<section id="content_wrapper">

    <!-- -------------- Topbar -------------- -->
    <header id="topbar" class="ph10">
        <div class="topbar-left">
            <div class="allcp-form theme-primary">
                <div class="panel panel-primary" id="p2" data-panel-color="false" data-panel-fullscreen="false" data-panel-remove="false"
                    data-panel-title="false">
                    <div class="panel-heading">
                        <span class="panel-title">Insurance Info Report</span>
                        <span class="panel-icon pull-right">
                            <a id="btnDownloadPdf" title="Download PDF" class="fa fa-file-pdf-o" (click)="downloadPdf()"></a>
                            <a id="btnDownloadExcel" (click)="downloadExcel()" title="Download Excel" class="fa fa-file-excel-o"></a>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-3">


                                    <div class="form-group">
                                         <label for="selYear" class="col-sm-5 control-label"><i class="fa fa-calendar"></i> Year</label>
                                         <div class="col-sm-7">                                           
                                            <ss-multiselect-dropdown [options]="myOptionsYear" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="selectedYear"></ss-multiselect-dropdown>
                                        </div>    
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="selcontrolgroup" class="col-sm-5 control-label"><i class="fa fa-group"></i> Control Group</label>
                                        <div class="col-sm-6">                                       
                                            <ss-multiselect-dropdown [options]="myOptionsCG" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="selectedControlGroup"></ss-multiselect-dropdown>    
                                        </div>                                 
                                    </div>
                                </div>
                                 <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                    <button class="btn btn-primary" type="button" (click)="Search()">Filter</button>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary" type="button" (click)="reset()">Reset</button>
                                </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- -------------- /Topbar -------------- -->
    <section id="content" class="table-layout animated fadeIn" *ngIf="dataLoaded">
        <div class="panel panel-visible p20" id="spy3">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">
                    Report Details
                </div>
            </div>
            <div class="panel-body pn">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputTableSearch" class="col-sm-2 control-label">Search</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputTableSearch" placeholder="Search" *ngIf="config.filtering" [ngTableFiltering]="config.filtering"
                                                (tableChanged)="onChangeTable(config)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive over-x_table">
                                    <ng-table id="datatable" ngclass="table table-striped table-bordered table-hover" [config]="config" (tableChanged)="onChangeTable(config)"
                                        (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                                    </ng-table>
                                    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                                        [maxSize]="maxSize" [boundaryLinks]="false" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                                        (numPages)="numPages = $event">
                                    </pagination>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- excel download -->
    <div class="modal fade" id="confirm-excel-download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Excel Download</h4>
                </div>
                <div class="modal-body">
                    <h4 class="text-center">Download is Dangerous!</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-bordered btn-primary mb5" data-dismiss="modal" (click)="downloadExcel()">Ok</button>
                     <button type="reset" class="btn btn-bordered mb5" data-dismiss="modal"> Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>
