ul{margin: 0; padding:0 }
.error-template{ text-align: center; vertical-align: center; font-family: 'Roboto', sans-serif; }
.error-template ul li{list-style: none}
.error-template ul li i{font-size: 120px; color: #a75a6c; padding-top: 65px;}
.error-template ul li h1{font-size: 200px; color: #385366; font-weight: bold; padding: 0px; line-height: 200px; margin: 0}
.error-template ul li h3{font-size:48px; color:  #000; font-weight: bold; margin: 0 }
.error-template ul li p{font-size:20px; color: #0a97b5;}
.button {font-size:18px; color:#fff; padding:2px 22px; background-color: #21b6d6; border-radius: 5px; margin-top:10px;border-color: transparent;}
a{text-decoration: none;color: #fff;}
button:hover{background-color: #0a9cbb; cursor: pointer;}