<section class="error-template">
  <ul>
    <li><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></li>
    <li><h1>403</h1></li>
    <li><h3>ACCESS DENIED</h3></li>
    <li><p>You do not have permission to view this resource</p></li>
    <li><button class="button"><a href="/">GO TO LOGIN</a> </button></li>	
    </ul>
</section>