<section id="content_wrapper">
  <!-- Topbar -->
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span> 1095C Management</span>
      </div>
    </div>
  </header>
  <section id="content" class="allcp-form theme-primary table-layout animated fadeIn">
    <div class="col-md-12">
      <alert></alert>
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <div class="panel" style="margin-bottom: 25px">
        <div class="panel-body no-padding" style="margin-top: 0px">
          <div class="row">
            <div class="form-group col-md-6">
              <label class="exampleSelect1">Tax Year <span class="req-ast"> * </span>:</label>
              <label class="field select">
                <select class="form-control" [(ngModel)]="selectedYear" (change)="onChangeOftaxyear()">
                  <option value="-1" default>Select Year</option>
                  <option *ngFor="let year of taxYearList" [ngValue]="year">{{year}}</option>
                </select>
                <i class="arrow"></i>
              </label>
            </div>
            <div class="form-group col-md-6">
                <label class="exampleSelect1">Control Group  <span class="req-ast"> * </span>:</label>
                <label class="field select">
                  <select class="form-control" [(ngModel)]="selectedGroup " (change)="onChangeofcontrolgroup()">
                    <option value="-1" default>Select Control Group</option>
                    <option *ngFor="let controlgroup of controlGroupList" [ngValue]="controlgroup">{{controlgroup}}</option>
                  </select>
                  <i class="arrow"></i>
                </label>
              </div>
          </div>
          <div class="row">
              <div class="form-group col-md-6">
                  <label for="exampleSelect1">EIN:</label>
                  <label class="field select">
                    <select class="form-control" [(ngModel)]="selectedEIN"  (change)="onChangeofEINlist()">
                      <option value="-1" default>Select EIN</option>
                      <option *ngFor="let ein of einList" [ngValue]="ein">{{ein}}</option>
                    </select>
                    <i class="arrow"></i>
                  </label>
                </div>
            <div class="form-group col-md-6">
              <label class="exampleSelect1">SSN:</label>
              <label class="field select">
                <select class="form-control" [(ngModel)]="selectedSSN">
                  <option value="-1" default>Select SSN</option>
                  <option *ngFor="let ssn of ssnList" [ngValue]="ssn">{{ssn}}</option>
                </select>
                <i class="arrow"></i>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label class="exampleSelect1">Source Id:</label>
              <label class="field select">
                  <select class="form-control" [(ngModel)]="selectedSource">
                      <option value="-1" default>Select Source Id</option>
                      <option *ngFor="let ssid of sourceids" [ngValue]= "ssid">{{ssid}}</option>
                    </select>
                    <i class="arrow"></i>
              </label>
            </div>
          </div>
          <div class="row filterbtn-container">
            <div class="form-group col-md-12">
              <button type="button" class="btn btn-danger pull-right" (click)="reset()">RESET </button>
              <button type="button" class="btn btn-info mr15  pull-right" (click)="getAll1095BySearchCriteria()"> FILTER
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel" *ngIf="dataLoaded">
        <div style="">
          <button type="button" class="btn btn-info btn-lg  mr25 " id="btnDownloadPdf" (click)="approve1095()" *ngIf="!approve1095Progress">  Approve</button>
          <button class="btn btn-info btn-lg  mr25" *ngIf="approve1095Progress">
            <i class="fa fa-spinner fa-spin"></i>  &nbsp; Approving
          </button>
          <button type="button" class="btn btn-danger btn-lg  mr25 " id="btnDownloadPdf" (click)="delete1095()" *ngIf="!delete1095Progress"> Delete</button>
          <button class="btn btn-danger btn-lg  mr25" *ngIf="delete1095Progress">
            <i class="fa fa-spinner fa-spin"></i>  &nbsp; Deleting
          </button>
        </div>
        <div class="panel-body no-padding" style="margin-top:  0px">
          <table class="table dataTable table-striped table-bordered table-hover">
            <thead style="background-color: #767777;color: #fff;">
              <tr>
                <th class="text-center">
                  <input type="checkbox" name="all"
                         [checked]="isAllChecked()" (change)="checkAll($event)"/>
                </th>
                <th>Tax Year</th>
                <th>EIN</th>
                <th>Ale Name</th>
                <th>Control Group</th>
                <th>SSN</th>
                <th>Active</th>
                <th>Process Status</th>
                <th>Client Approval Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="file1095List?.length === 0">
                <p class="no-records">No records Found</p>
              </tr>
              <tr *ngFor="let item of file1095List">
                <td class="text-center">
                  <input type="checkbox"
                         value="{{item.dataRecord1095Id}}" [(ngModel)]="item.checked"/>
                </td>
                <td>
                  {{item.taxYear}}
                </td>
                <td>
                  {{item.p1EmployerEin | EIN}}
                </td>
                <td>
                    {{item.p1EmployerName1}}
                  </td>
                <td>
                  {{item.controlGroupName}}
                </td>
                <td>
                  <a (click)="shareObj(item)">{{item.p1EmployeeSsn | SSN}}</a>
                </td>
                <td>
                  {{item.isActive}}
                </td>
                <td>
                  {{item.processStatus}}
                </td>
                <td>
                  {{item.clientApprovalStatus}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
