@charset "UTF-8";
.allcp-form .dropdown-toggle.btn {    padding: 6px 15px;}
.allcp-form .panel-heading {padding:8px 10px;}
.allcp-form .panel-heading .panel-title {font-size:18px;     font: 700 20px/24px 'Lato';font-weight:bold;}
.allcp-form .panel-primary>.panel-heading { border-top-color:transparent;line-height: 30px;}
.allcp-form .panel-primary>.panel-heading .panel-icon .fa  {    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #2abed0;
    border-radius: 20px;
    padding: 6px 5px 5px 5px;
    color: #fff;
    text-align: center;}

.form-horizontal .col-xs-1, .form-horizontal .col-sm-1, .form-horizontal .col-md-1, .form-horizontal .col-lg-1, .form-horizontal .col-xl-1, .form-horizontal .col-xs-2, .form-horizontal .col-sm-2, .form-horizontal .col-md-2, .form-horizontal .col-lg-2, .form-horizontal .col-xl-2, .form-horizontal .col-xs-3, .form-horizontal .col-sm-3, .form-horizontal .col-md-3, .form-horizontal .col-lg-3, .form-horizontal .col-xl-3, .form-horizontal .col-xs-4, .form-horizontal .col-sm-4, .form-horizontal .col-md-4, .form-horizontal .col-lg-4, .form-horizontal .col-xl-4, .form-horizontal .col-xs-5, .form-horizontal .col-sm-5, .form-horizontal .col-md-5, .form-horizontal .col-lg-5, .form-horizontal .col-xl-5, .form-horizontal .col-xs-6, .form-horizontal .col-sm-6, .form-horizontal .col-md-6, .form-horizontal .col-lg-6, .form-horizontal .col-xl-6, .form-horizontal .col-xs-7, .form-horizontal .col-sm-7, .form-horizontal .col-md-7, .form-horizontal .col-lg-7, .form-horizontal .col-xl-7, .form-horizontal .col-xs-8, .form-horizontal .col-sm-8, .form-horizontal .col-md-8, .form-horizontal .col-lg-8, .form-horizontal .col-xl-8, .form-horizontal .col-xs-9, .form-horizontal .col-sm-9, .form-horizontal .col-md-9, .form-horizontal .col-lg-9, .form-horizontal .col-xl-9, .form-horizontal .col-xs-10, .form-horizontal .col-sm-10, .form-horizontal .col-md-10, .form-horizontal .col-lg-10, .form-horizontal .col-xl-10, .form-horizontal .col-xs-11, .form-horizontal .col-sm-11, .form-horizontal .col-md-11, .form-horizontal .col-lg-11, .form-horizontal .col-xl-11, .form-horizontal .col-xs-12, .form-horizontal .col-sm-12, .form-horizontal .col-md-12, .form-horizontal .col-lg-12, .form-horizontal .col-xl-12 {    padding-left: 10px /*/ 2*/;
    padding-right: 10px /*/ 2*/;}
	
.text-white {color:#fff;}

body.sb-l-m .sidebar-menu > li > a:hover > .sidebar-title { background-color:#67d3e0;}
.sidebar-menu > li > ul > li:first-child > a {
  padding-top: 0;
}
body.sb-l-m .sidebar-menu li > ul > li > a {
    padding: 0px 15px 0px 15px;
}
table.dataTable thead th {background-color:#2a2f43 !important; color:#fff;}
.over-x_table thead th {background-color:#0b6598 !important; color:#fff;}

.allcp-form .select .fa{
    pointer-events: none;
    position: absolute;
    top: 14px;
    right: 4px;
    width: 24px;
    height: 24px;
    color: #67d3e0;
    z-index: 100;
}
.over-x_table {overflow-x:scroll;}
.over-x_table th{    white-space: nowrap; text-transform:capitalize !important; }
.tm-tag {margin-bottom:4px; display:inline-block;}
.btn-group {margin-bottom:4px;}

/*.form-horizontal .control-label {text-align:left;}*/
.form-horizontal .control-label .fa {font-size:20px; padding-right:8px;}

.summaryBlock .btn-group{ display:inline-block;margin-right:20px;}
.summaryBlock .btn-group .btn:first-child{margin-right:2px;}

.bg-dark, .sidebar-left-content {
    background-color: #0d79ba !important;
}
#sidebar_left, .sidebar-menu > li > ul {
    background-color: #105781 !important;
}
.sidebar-left-content {
    -webkit-box-shadow: -39px 7px 0 0 #105781 inset;
    box-shadow: -39px 7px 0 0 #105781 inset;
}
.sidebar-menu .sidebar-label {
    color: #fff;
}
.navbar-logo-wrapper {
    background-color: #de662f !important;
}
body.sb-l-m .sidebar-menu > li > a:hover > .sidebar-title, body.sb-l-m .sidebar-menu > li > a > .sidebar-title {
    background-color: #0d79ba ;
}