<section id="content_wrapper">
  <!-- Topbar -->
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span>User Management</span>
        <!-- <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn" [routerLink]="[addcustomer]">Add User</button> -->
        <a class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" data-toggle="modal" data-target="#myModal">Add User</a>
      </div>
    </div>
  </header>

  <section id="content" class="allcp-form theme-primary table-layout animated fadeIn" >
    <div class="panel panel-visible p20" id="spy3" >
      <div class="panel-body pn">
        <div class="row">

          <div class="col-sm-12">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="table-responsive over-x_table" *ngIf="dataLoaded">
              <!-- <ng-table id="datatable" ngclass="table table-striped table-bordered table-hover" [config]="config" (tableChanged)="onChangeTable(config)"
                                (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                      </ng-table> -->
              <ng-table id="datatable" ngclass="table table-striped table-bordered table-hover" [config]="config" (tableChanged)="onChangeTable(config)"
                (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
              </ng-table>
              <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize" [boundaryLinks]="false" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                (numPages)="numPages = $event">
              </pagination>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <form class="form-horizontal" name="adduser" role="form" (ngSubmit)='adduserFunction()'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <alert></alert>

          <h4 class="modal-title">Add New User</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="section row">
              <ngx-loading [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
              <div class="col-md-6 ph10 mb5">
                <label for="txtFirstName" class="\control-label">
                  <h6 class="label-item"> First Name</h6>
                </label>
                <input type="text" id="txtFirstName" class="form-control" [(ngModel)]='addUser.firstName' name="firstName" placeholder="Please enter First Name">
              </div>
              <div class="col-md-6 ph10 mb5">
                <label for="txtLastName" class="control-label">
                  <h6 class="label-item">Last Name</h6>
                </label>
                <input type="text" id="txtLastName" class="form-control" [(ngModel)]='addUser.lastName' name="lastName" placeholder="Please enter Last Name">
              </div>
            </div>
            <div class="section row">
              <div class="col-md-6 ph10 mb5">
                <label for="txtEmailId" class="control-label">
                  <h6 class="label-item">Email ID</h6>
                </label>
                <input type="text" id="txtEmailId" class="form-control" [(ngModel)]='addUser.username' name="username" placeholder="Please enter Email Id">
              </div>
              <div class="col-md-6 ph10 mb5">
                <label for="txtEmailId" class="control-label">
                  <h6 class="label-item">Password</h6>
                </label>
                <input type="text" id="txtEmailId" class="form-control" [(ngModel)]='addUser.password' name="password" placeholder="Please enter Password">
                <ng2-password-strength-bar [passwordToCheck]="addUser.password" [barLabel]="pwdStrengthbarLabel" name="passwordStrength">
                </ng2-password-strength-bar>
              </div>
            </div>
            <div class="section row">
              <div class="col-md-6 ph10 mb5">
                <label for="txtUserName" class="control-label">
                  <h6 class="label-item">Role {{addUser.role}} </h6>
                </label>
                <select class="form-control" [(ngModel)]='addUser.role'>
                  <option value="" disabled>Select Option</option>
                  <option value="Admin">Admin</option>
                </select>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-info btn-lg btn-green">Add Customer</button>
            <button class="btn btn-danger" type="button" data-dismiss="modal" (click)="clearAlerts()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="myModalupdate" class="modal fade" role="dialog">

  <form class="form-horizontal" name="adduser" role="form" (ngSubmit)='updateuserFunction()'>

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <alert></alert>

          <h4 class="modal-title">Update User</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="section row">
              <ngx-loading [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
              <div class="col-md-6 ph10 mb5">
                <label for="txtFirstName" class="control-label">
                  <h6 class="label-item">First Name</h6>
                </label>
                <input type="text" id="txtFirstName" class="form-control" [(ngModel)]='updateUser.firstName' name="fName">
              </div>
              <div class="col-md-6 ph10 mb5">
                <label for="txtLastName" class="control-label">
                  <h6 class="label-item">Last Name</h6>
                </label>
                <input type="text" id="txtLastName" class="form-control" [(ngModel)]='updateUser.lastName' name="lName">
              </div>
            </div>
            <div class="section row">
              <div class="col-md-6 ph10 mb5">
                <label for="txtEmailId" class="control-label">
                  <h6 class="label-item">Email ID</h6>
                </label>
                <input type="text" id="txtEmailId" class="form-control" [(ngModel)]='updateUser.backupUserName' name='email'>
              </div>
              <div class="col-md-6 ph10 mb5">
                <label for="txtEmailId" class="control-label">
                  <h6 class="label-item">Password</h6>
                </label>
                <input type="text" id="txtEmailId" class="form-control" [(ngModel)]='updateUser.newPassword' name="pass" placeholder="Please enter new Password">
                <ng2-password-strength-bar [passwordToCheck]="updateUser.newPassword" [barLabel]="pwdStrengthbarLabel" name="passwordStrength">
                </ng2-password-strength-bar>
              </div>
            </div>
            <div class="section row">
              <div class="col-md-6 ph10 mb5">
                <label for="txtUserName" class="control-label">
                  <h6 class="label-item">Role</h6>
                </label>
                <select class="form-control">
                  <option value="">Select Option</option>
                  <option value="">Admin</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-info btn-lg btn-green">Update Customer</button>
            <button class="btn btn-danger" type="button" data-dismiss="modal" (click)="clearAlerts()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
