table thead th {
  background-color: #2a2f43 !important;
  color: #fff;
}
.modal-dialog {
  width: 700px;
}
.sucessmessage {
  color: #2b8b00;
  margin: 7px 0 0 10px;
}
.sucessmessage i {
  margin-right: 5px;
}

.user_sucess {
  position: absolute;
  top: -57px;
  width: 100%;
  left: 0;
}


.btn-green {
  background: #4fd8b0;
  border-radius: 3px;
}
.modal-dialog {
  margin-top: 60px;
}
.modal-body {
  overflow: hidden;
}
.modal-body label h6 {
  margin-bottom: 0
}

.alert-success{
    color: #3c763d;
    background-color: #dff0d8;
}
.alert-success a{
    color: #3c763d;
}