<section id="content_wrapper">
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span> 1095C Management</span>
        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" [routerLink]="['../',1095]">Back</button>
      </div>
    </div>
  </header>

  <section class="table-layout animated fadeIn" id="content">
    <div class="allcp-form theme-primary center-block">
      <div class="col-md-12">
        <div class="row">
          <div class="panel">
            <div class="panel-body no-padding" style="margin-top: 0px">
              <!-- Sub Heading -->
              <div class="section heading_panel">
                <label>
                  <h4 style="margin-bottom: 0px;">Form 1095-C</h4>
                </label>
                <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" id="btnDownloadPdf" (click)="viewPdf(details.dataRecord1095Id)"
                  *ngIf="!downloading1095Progress">&nbsp;&nbsp;Download 1095c PDF</button>
                <button class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloading1095Progress">
                  <i class="fa fa-spinner fa-spin"></i> &nbsp; Downloading...
                </button>
              </div>
              <!-- Form -->
              <div class="row">
                <alert></alert>
                <div class="form-group col-md-6">
                  <label for="text">Tax Year:</label>
                  <input type="text" class="form-control" id="year" [(ngModel)]="details.taxYear">
                </div>
                <div class="form-group col-md-6">
                  <label for="text">EIN:</label>
                  <input type="text" class="form-control" id="ein" [(ngModel)]="details.p1EmployerEin">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="text">Control Group:</label>
                  <input type="text" class="form-control" id="year" [(ngModel)]="details.controlGroupName">
                </div>
                <div class="form-group col-md-6">
                  <label for="text">SSN:</label>
                  <input type="text" class="form-control" id="ein" [(ngModel)]="details.p1EmployeeSsn">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="email">Process Status:</label>
                  <label class="field select">
                    <select class="form-control" [(ngModel)]="details.processStatus">
                      <option value="ORIGINAL">Original</option>
                      <option value="CORRECTION">Correction</option>
                    </select>
                    <i class="arrow"></i>
                  </label>
                </div>
                <div class="form-group col-md-6">
                  <label for="email">Client Approval Status:</label>
                  <label class="field select">
                    <select class="form-control" [(ngModel)]="details.clientApprovalStatus" [value]='details.clientApprovalStatus'>
                      <option value="APPROVED">Approved</option>
                      <option value="UNAPPROVED">Unapproved</option>
                    </select>
                    <i class="arrow"></i>
                  </label>
                </div>
              </div>
              <!-- Taber start -->
              <section class="tab-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#home">
                      <p>ALE Part - 1</p>
                    </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#menu1">
                      <p>ALE Part - 2</p>
                    </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#menu2">
                      <p>ALE Part - 3</p>
                    </a>
                  </li>

                </ul>
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    <h5 style="margin-bottom: 25px;">
                      <strong>Employee:</strong>
                    </h5>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="text">First Name of employee:</label>
                        <input type="text" class="form-control" name="First Name" [(ngModel)]="details.p1EmployeeFirstName" required #firstName="ngModel">
                        <div class="error" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                          <div *ngIf="firstName.errors.required">
                            First Name of employee is required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email"> Last Name of employee: </label>
                        <input type="text" class="form-control" name="Last Name" [(ngModel)]="details.p1EmployeeLastName" required #lastName="ngModel">
                        <div class="error" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                          <div *ngIf="lastName.errors.required">
                            Last Name of employee is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="text">Middle Name of employee</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="details.p1EmployeeMiddleInitial" required maxlength="1"
                          #midName="ngModel">
                        <div class="error" *ngIf="midName.invalid && (midName.dirty || midName.touched)">
                          <div *ngIf="midName.errors.required">
                            Name is required & Name must be only 1 character long.
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">Social security number (SSN):</label>
                        <input type="text" class="form-control" [(ngModel)]="details.p1EmployeeSsn" required #socSecNum="ngModel">
                        <div class="error" *ngIf="socSecNum.invalid && (socSecNum.dirty || socSecNum.touched)">
                          <div *ngIf="socSecNum.errors.required">
                            Social security number is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="text">Email</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="details.p1EmployeeEmailAddress " required #emailId="ngModel">
                        <div class="error" *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
                          <div *ngIf="emailId.errors.required">
                            Email is required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">Street address line 1 (including apartment no.): </label>
                        <input type="text" class="form-control" [(ngModel)]="details.p1EmployeeAddressLine1" required #streetAdd1="ngModel">
                        <div class="error" *ngIf="streetAdd1.invalid && (streetAdd1.dirty || streetAdd1.touched)">
                          <div *ngIf="streetAdd1.errors.required">
                            Street address line 1 is Required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="text">Street address (including apartment no.):</label>
                        <input type="text" class="form-control" name="streetAddress" [(ngModel)]="details.p1EmployeeAddressLine2 " required #streetAdd2="ngModel">
                        <div class="error" *ngIf="streetAdd2.invalid && (streetAdd2.dirty || streetAdd2.touched)">
                          <div *ngIf="streetAdd2.errors.required">
                            Street address line 2 is Required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">City or town:</label>
                        <input type="text" class="form-control" name="city" [(ngModel)]="details.p1EmployeeCityOrTown" required #cityRtown="ngModel">
                        <div class="error" *ngIf="cityRtown.invalid && (cityRtown.dirty || cityRtown.touched)">
                          <div *ngIf="cityRtown.errors.required">
                            City or town is Required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="text">State or province:</label>
                        <input type="text" class="form-control" name="state" [(ngModel)]="details.p1EmployeeStateOrProvince" required #stateOrProvince="ngModel">
                        <div class="error" *ngIf="stateOrProvince.invalid && (stateOrProvince.dirty || stateOrProvince.touched)">
                          <div *ngIf="stateOrProvince.errors.required">
                            State or province is Required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">Country and ZIP or foreign postal code:</label>
                        <input type="text" class="form-control" name="state" [(ngModel)]="details.p1EmployeeZipOrFrnPstlcd" required #zipRpostal="ngModel">
                        <div class="error" *ngIf="zipRpostal.invalid && (zipRpostal.dirty || zipRpostal.touched)">
                          <div *ngIf="zipRpostal.errors.required">
                            Country and ZIP or foreign postal code is Required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="email">Country</label>
                        <input type="text" class="form-control" name="state" [(ngModel)]="details.p1EmployeeCountry " required maxlength="2" #countryName1="ngModel">
                        <div class="error" *ngIf="countryName1.invalid && (countryName1.dirty || countryName1.touched)">
                          <div *ngIf="countryName1.errors.required">
                            Name is required.
                          </div>
                        </div>
                      </div>

                      <div class="form-group col-md-6">
                        <label for="email">Employee Suffix</label>
                        <input type="text" class="form-control" name="EmployeeSuffix " [(ngModel)]="details.p1EmployeeSuffix " required #empSuff="ngModel">
                        <div class="error" *ngIf="empSuff.invalid && (empSuff.dirty || empSuff.touched)">
                          <div *ngIf="empSuff.errors.required">
                            Employee Suffix is Required
                          </div>
                        </div>
                      </div>
                    </div>
                    <h5 style="margin-bottom: 25px;">
                      <strong>Applicable Large Employer Member (Employer):</strong>
                    </h5>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="text"> First Name of Employer:</label>
                        <input type="text" class="form-control" name="First Name" [(ngModel)]="details.p1EmployerName1" required #firstName1="ngModel">
                        <div class="error" *ngIf="firstName1.invalid && (firstName1.dirty || firstName1.touched)">
                          <div *ngIf="firstName1.errors.required">
                            First Name of Employer is Required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">Last Name of Employer:</label>
                        <input type="text" class="form-control" name="Last Name" [(ngModel)]="details.p1EmployerName2" required #lastName1="ngModel">
                        <div class="error" *ngIf="lastName1.invalid && (lastName1.dirty || lastName1.touched)">
                          <div *ngIf="lastName1.errors.required">
                            LAst Name of Employer is Required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="text">Employer Identification Number (EIN):</label>
                        <input type="text" class="form-control" name=" ein" [(ngModel)]="details.p1EmployerEin" required #empIdentNum1="ngModel">
                        <div class="error" *ngIf="empIdentNum1.invalid && (empIdentNum1.dirty || empIdentNum1.touched)">
                          <div *ngIf="empIdentNum1.errors.required">
                            Employer Identification Number (EIN) is Required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">Street Address line 1 (including room or suite no.):</label>
                        <input type="text" class="form-control" name="Street Address line 1 " [(ngModel)]="details.p1EmployerAddressLine1" required
                          #streetAdd11="ngModel">
                        <div class="error" *ngIf="streetAdd11.invalid && (streetAdd11.dirty || streetAdd11.touched)">
                          <div *ngIf="streetAdd11.errors.required">
                            Street Address line 1 is Required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="text">Street Address line 2 (including room or suite no.):</label>
                        <input type="text" class="form-control" name="Street Address line 2" [(ngModel)]="details.p1EmployerAddressLine2" required
                          #streetAdd12="ngModel">
                        <div class="error" *ngIf="streetAdd12.invalid && (streetAdd12.dirty || streetAdd12.touched)">
                          <div *ngIf="streetAdd12.errors.required">
                            Street Address line 2 is Required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">Contact Telephone Number:</label>
                        <input type="text" class="form-control" name="phone" [(ngModel)]="details.p1EmployerTelephoneNumber" required #contTelNum1="ngModel">
                        <div class="error" *ngIf="contTelNum1.invalid && (contTelNum1.dirty || contTelNum1.touched)">
                          <div *ngIf="contTelNum1.errors.required">
                            Contact Telephone Number is Required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="text">City or Town:</label>
                        <input type="text" class="form-control" name="City or Town" [(ngModel)]="details.p1EmployerCityOrTown" required #cityRtown1="ngModel">
                        <div class="error" *ngIf="cityRtown1.invalid && (cityRtown1.dirty || cityRtown1.touched)">
                          <div *ngIf="cityRtown1.errors.required">
                            City or Town is Required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">State or Province:</label>
                        <input type="text" class="form-control" name="state" [(ngModel)]="details.p1EmployerStateOrProvince" required #stateRprov12="ngModel">
                        <div class="error" *ngIf="stateRprov12.invalid && (stateRprov12.dirty || stateRprov12.touched)">
                          <div *ngIf="stateRprov12.errors.required">
                            State or Province is Required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="text"> ZIP or Foreign postal code:</label>
                        <input type="text" class="form-control" name="zip" [(ngModel)]="details.p1EmployerZipOrFrnPstlcd" required #zipRpost12="ngModel">
                        <div class="error" *ngIf="zipRpost12.invalid && (zipRpost12.dirty || zipRpost12.touched)">
                          <div *ngIf="zipRpost12.errors.required">
                            ZIP or Foreign postal code is Required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="text">Country </label>
                        <input type="text" class="form-control" name="Country" [(ngModel)]="details.p1EmployerCountry" required maxlength="2" #countryName="ngModel">
                        <div class="error" *ngIf="countryName.invalid && (countryName.dirty || countryName.touched)">
                          <div *ngIf="countryName.errors.required">
                            Name is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="text"> foreign address indicator</label>
                        <input type="text" class="form-control" name=" foreign address indicator" [(ngModel)]="details.p1ForeignAddressIndicator"
                          required #forAddIndicator="ngModel">
                        <div class="error" *ngIf="forAddIndicator.invalid && (forAddIndicator.dirty || forAddIndicator.touched)">
                          <div *ngIf="forAddIndicator.errors.required">
                            foreign address indicator is Required
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div id="menu1" class="tab-pane fade">
                    <h5 style="margin-bottom: 25px;">
                      <strong>Employee Offer of Coverage:</strong>
                    </h5>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <table class="table table-bordered detail_1095">
                          <thead style="background:#d4e2f7; color: #000">
                            <tr>
                              <th width="130"></th>
                              <th style="text-align: center; vertical-align: middle;">All 12 Months</th>
                              <th style="text-align: center; vertical-align: middle;">Jan</th>
                              <th style="text-align: center; vertical-align: middle;">Feb</th>
                              <th style="text-align: center; vertical-align: middle;">Mar</th>
                              <th style="text-align: center; vertical-align: middle;">Apr</th>
                              <th style="text-align: center; vertical-align: middle;">May</th>
                              <th style="text-align: center; vertical-align: middle;">Jun</th>
                              <th style="text-align: center; vertical-align: middle;">Jul</th>
                              <th style="text-align: center; vertical-align: middle;">Aug</th>
                              <th style="text-align: center; vertical-align: middle;">Sep</th>
                              <th style="text-align: center; vertical-align: middle;">Oct</th>
                              <th style="text-align: center; vertical-align: middle;">Nov</th>
                              <th style="text-align: center; vertical-align: middle;">Dec</th>
                            </tr>

                          </thead>
                          <tbody style="background: #f1f5fc">
                            <tr>
                              <td>Offer of Coverage (enter required code)</td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="all12Months" [(ngModel)]="details.p2OfferOfCoverageAll12">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="jan" [(ngModel)]="details.p2OfferOfCoverageJan14">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="feb" [(ngModel)]="details.p2OfferOfCoverageFeb14">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="mar" [(ngModel)]="details.p2OfferOfCoverageMar14">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="apr" [(ngModel)]="details.p2OfferOfCoverageApr14">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="may" [(ngModel)]="details.p2OfferOfCoverageMay14">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="jun" [(ngModel)]="details.p2OfferOfCoverageJun14">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="july" [(ngModel)]="details.p2OfferOfCoverageJul14">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="aug" [(ngModel)]="details.p2OfferOfCoverageAug14">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="sep" [(ngModel)]="details.p2OfferOfCoverageSep14">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="oct" [(ngModel)]="details.p2OfferOfCoverageOct14">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="nov" [(ngModel)]="details.p2OfferOfCoverageNov14">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="dec" [(ngModel)]="details.p2OfferOfCoverageDec14">
                              </td>

                            </tr>
                            <tr>
                              <td> Employee Required Contribution (see instructions) </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="all12Months" (blur)="onModelChange($event,'p2LowestCostMnthPreAll12')" [ngModel]="details.p2LowestCostMnthPreAll12 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="jan" (blur)="onModelChange($event,'p2LowestCostMnthPreJan15')" [ngModel]="details.p2LowestCostMnthPreJan15 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="feb" (blur)="onModelChange($event,'p2LowestCostMnthPreFeb15')" [ngModel]="details.p2LowestCostMnthPreFeb15 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="mar" (blur)="onModelChange($event,'p2LowestCostMnthPreMar15')" [ngModel]="details.p2LowestCostMnthPreMar15 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="apr" (blur)="onModelChange($event,'p2LowestCostMnthPreApr15')" [ngModel]="details.p2LowestCostMnthPreApr15 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="may" (blur)="onModelChange($event,'p2LowestCostMnthPreMay15')" [ngModel]="details.p2LowestCostMnthPreMay15 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="jun" (blur)="onModelChange($event,'p2LowestCostMnthPreJun15')" [ngModel]="details.p2LowestCostMnthPreJun15 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="jul" (blur)="onModelChange($event,'p2LowestCostMnthPreJul15')" [ngModel]="details.p2LowestCostMnthPreJul15 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="aug" (blur)="onModelChange($event,'p2LowestCostMnthPreAug15')" [ngModel]="details.p2LowestCostMnthPreAug15 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="sep" (blur)="onModelChange($event,'p2LowestCostMnthPreSep15')" [ngModel]="details.p2LowestCostMnthPreSep15 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="ov" (blur)="onModelChange($event,'p2LowestCostMnthPreOct15')" [ngModel]="details.p2LowestCostMnthPreOct15 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="nov" (blur)="onModelChange($event,'p2LowestCostMnthPreNov15')" [ngModel]="details.p2LowestCostMnthPreNov15 | round">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="dec" (blur)="onModelChange($event,'p2LowestCostMnthPreDec15')" [ngModel]="details.p2LowestCostMnthPreDec15 | round">
                              </td>
                            </tr>
                            <tr>
                              <td>Section 4980H Safe Harbor and Other Relief (enter code, if applicable)</td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="all12Months" [(ngModel)]="details.p2ApplSafeharborAll12">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="jan" [(ngModel)]="details.p2ApplSafeharborJan16">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="feb" [(ngModel)]="details.p2ApplSafeharborFeb16">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="mar" [(ngModel)]="details.p2ApplSafeharborMar16">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="apr" [(ngModel)]="details.p2ApplSafeharborApr16">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="may" [(ngModel)]="details.p2ApplSafeharborMay16">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="jun" [(ngModel)]="details.p2ApplSafeharborJun16">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="jul" [(ngModel)]="details.p2ApplSafeharborJul16">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="aug" [(ngModel)]="details.p2ApplSafeharborAug16">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="sep" [(ngModel)]="details.p2ApplSafeharborSep16">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="oct" [(ngModel)]="details.p2ApplSafeharborOct16">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="nov" [(ngModel)]="details.p2ApplSafeharborNov16">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="dec" [(ngModel)]="details.p2ApplSafeharborDec16">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>


                  </div>
                  <div id="menu2" class="tab-pane fade">
                    <h5 style="margin-bottom: 25px;">
                      <strong>Covered Individuals:</strong>
                    </h5>
                   
                    <div class="row">
                      <div class="form-group col-md-12">
                          <!-- <p><input type="checkbox" [checked]="details.p3IsSelfInsuredCoverage == '1'" (click)="p3IsSelfInsuredCoverage($event)"  [value]="1"> {{details.p3IsSelfInsuredCoverage}}
                            If Employer provided self-insured coverage, check the box and enter the information for each individual enrolled in coverage, including the employee.</p> -->

                        <table class="table table-bordered">
                          <thead style="background:#d4e2f7; color: #000">
                            <tr>
                              <th style="vertical-align: middle; text-align:center;">(a)
                                <br> Name of covered individual(s) </th>
                              <th style="vertical-align: middle; text-align:center;">(b)
                                <br> SSN or other TIN</th>
                              <th style="vertical-align: middle; text-align:center;">(c)
                                <br> DOB (If SSN or other TIN is not available)</th>
                              <th style="vertical-align: middle; text-align:center;">(d)
                                <br> Covered all 12 months</th>
                              <th>
                                <table>
                                  <tr style="border-bottom: 1px solid #ccc;">
                                    <th colspan="12" style="text-align: center; padding-bottom: 5px; color: #000;">(e)
                                      <br> Months of Coverage</th>
                                  </tr>
                                  <tr>
                                    <th style="text-align: center; padding: 10px;">Jan</th>
                                    <th style="text-align: center; padding: 10px;">Feb</th>
                                    <th style="text-align: center; padding: 10px;">Mar</th>
                                    <th style="text-align: center; padding: 10px;">Apr</th>
                                    <th style="text-align: center; padding: 10px;">May</th>
                                    <th style="text-align: center; padding: 10px;">Jun</th>
                                    <th style="text-align: center; padding: 10px;">Jul</th>
                                    <th style="text-align: center; padding: 10px;">Aug</th>
                                    <th style="text-align: center; padding: 10px;">Sep</th>
                                    <th style="text-align: center; padding: 10px;">Oct</th>
                                    <th style="text-align: center; padding: 10px;">Nov</th>
                                    <th style="text-align: center; padding: 10px;">Dec</th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </thead>
                          <tbody style="background: #f1f5fc">
                            <tr *ngFor="let dep of details.dependents; let i = index">
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="coveredInsd" [(ngModel)]="dep.p3DependentFirstName">
                                <!-- <input type="text" class="form-control" name="coveredInsd" [(ngModel)]="dep.p3DependentLastName"> -->
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="ssn" [(ngModel)]="dep.p3DependentSsn">
                              </td>
                              <td style="vertical-align:middle">
                                <input type="text" class="form-control" name="dob" [(ngModel)]="dep.p3DependentDateOfBirth">
                              </td>
                              <td align="center">
                                <input type="checkbox" name="12months" (click)="p3CoveredAll12MonthsF($event, i)" [checked]="dep.p3CoveredAll12Months == '1'" [value]="'1'">
                              </td>
                              <td>
                                <table width="100%">
                                  <tr>
                                    <td colspan="12"></td>
                                  </tr>
                                  <tr align="center">
                                    <td>
                                      <input type="checkbox" name="jan" (click)="p3MonthsOfCoverageJanF($event, i)" [checked]="dep.p3MonthsOfCoverageJan == '1'" [value]="'1'">
                                    </td>
                                    <td>
                                      <input type="checkbox" name="feb" (click)="p3MonthsOfCoverageFebF($event, i)" [checked]="dep.p3MonthsOfCoverageFeb == '1'" [value]="'1'">
                                    </td>
                                    <td>
                                      <input type="checkbox" name="mar" (click)="p3MonthsOfCoverageMarF($event, i)" [checked]="dep.p3MonthsOfCoverageMar == '1'" [value]="'1'">
                                    </td>
                                    <td>
                                      <input type="checkbox" name="apr" (click)="p3MonthsOfCoverageAprF($event, i)" [checked]="dep.p3MonthsOfCoverageApr == '1'" [value]="'1'">
                                    </td>
                                    <td>
                                      <input type="checkbox" name="may" (click)="p3MonthsOfCoverageMayF($event, i)" [checked]="dep.p3MonthsOfCoverageMay == '1'" [value]="'1'">
                                    </td>
                                    <td>
                                      <input type="checkbox" name="jun" (click)="p3MonthsOfCoverageJunF($event, i)" [checked]="dep.p3MonthsOfCoverageJun == '1'" [value]="'1'">
                                    </td>
                                    <td>
                                      <input type="checkbox" name="july" (click)="p3MonthsOfCoverageJulF($event, i)" [checked]="dep.p3MonthsOfCoverageJul == '1'" [value]="'1'">
                                    </td>
                                    <td>
                                      <input type="checkbox" name="aug" (click)="p3MonthsOfCoverageAugF($event, i)" [checked]="dep.p3MonthsOfCoverageAug == '1'" [value]="'1'">
                                    </td>
                                    <td>
                                      <input type="checkbox" name="sep" (click)="p3MonthsOfCoverageSepF($event, i)" [checked]="dep.p3MonthsOfCoverageSep == '1'" [value]="'1'">
                                    </td>
                                    <td>
                                      <input type="checkbox" name="oct" (click)="p3MonthsOfCoverageOctF($event, i)" [checked]="dep.p3MonthsOfCoverageOct == '1'" [value]="'1'">
                                    </td>
                                    <td>
                                      <input type="checkbox" name="nov" (click)="p3MonthsOfCoverageNovF($event, i)" [checked]="dep.p3MonthsOfCoverageNov == '1'" [value]="'1'">
                                    </td>
                                    <td>
                                      <input type="checkbox" name="dec" (click)="p3MonthsOfCoverageDecF($event, i)" [checked]="dep.p3MonthsOfCoverageDec == '1'" [value]="'1'">
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <button type="button" class="btn btn-success" (click)="save1095C(details)" *ngIf="!updatingInProgress">
                        Update 1095C</button>
                      <button class="btn btn-success" *ngIf="updatingInProgress">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Updating...
                      </button>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
