#content .panel {
  box-shadow: 1px 2px 0 #e5eaee;
  padding: 25px;
  background: #fafafa;
  border: none !important;
}

.allcp-form .panel-body {
  padding: 0px;
}

body {
  font-family: 'Lato', sans-serif;
}


/*----------1094,1095 styles---------*/

.btn-pdf button {
  border: 1px solid #dee0e3;
  background: #fff;
  border-radius: 3px;
  padding: 5px 12px;
  margin-left: 10px;
}

.btn-pdf button:hover {
  background: #ed1c24;
  color: #fff;
  border-color: #ed1c24
}

.btn-pdf button:hover .fa {
  color: #fff;
}

.btn-pdf .fa {
  color: #ed1c24
}

.heading_panel h4 {
  margin-top: 10px
}

.heading_panel {
  border-bottom: 1px solid #e6e8eb;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.nav-tabs>li {
  margin-right: 5px;
  background: url(bg-border.png) no-repeat left 1px top 7px;
  padding: 0 0 0 18px;
}

.nav-tabs li:first-child {
  background: none;
  margin-left: 0px;
  padding-left: 0
}

.nav-tabs>li.active,
.nav-tabs>li.active+li {
  background: none
}


.filterbtn-container {
  padding-top: 15px;
}

.filter {
  background-color: #385366;
  font-size: 13pt;
  color: white;
  border-radius: 10px;
  margin-right: 15px;
}

.filter:hover {
  background-color: #21b6d6;
  border-color: #21b6d6
}

.reset {
  background-color: #21b6d6;
  color: white;
  font-size: 13pt;
  border-radius: 10px;
}

.reset:hover {
  background-color: #385366;
  ;
  color: #fff
}


/*----------403 styles---------*/

.error-template {
  text-align: center;
  vertical-align: center;
  font-family: 'Roboto', sans-serif;
}

.error-template ul li i {
  font-size: 100px;
  color: #be0303;
  padding-top: 60px;
}

.error-template ul li h1 {
  font-size: 200px;
  color: #385366;
  font-weight: bold;
  padding: 20px 0px;
}

.error-template ul li h3 {
  font-size: 25px;
  color: #98999e;
  font-weight: bold;
  padding-top: 0px;
}

.error-template ul li p {
  font-size: 15px;
  color: #0a97b5;
  padding-top: 5px;
}

.button {
  font-size: 14px;
  color: #fff;
  padding: 5px 20px;
  background-color: #21b6d6;
  border-radius: 4px;
  margin-top: 45px;
  border-color: transparent;
  font-weight: bold;
}

.error-template a {
  text-decoration: none;
  color: #fff;
}

.error-template button:hover {
  background-color: #0a9cbb;
  cursor: pointer;
}

.detail_1095 .form-control {
  padding: 6px 9px;
}
