<!-- -------------- Sidebar  -------------- -->
<aside id="sidebar_left" class="nano nano-light affix">

    <!-- -------------- Sidebar Left Wrapper  -------------- -->
    <div class="sidebar-left-content nano-content">
        <!-- -------------- Sidebar Header -------------- -->
        <header class="sidebar-header">
            <!-- -------------- Sidebar - Author -------------- -->
            <!-- -------------- Sidebar - Author Menu  -------------- -->
            <div class="sidebar-widget menu-widget">
                <div class="row text-center mbn">
                    <div class="col-xs-2 pln prn">
                        <a [routerLink]="['/',route,dashboard]" class="text-primary" data-toggle="tooltip" data-placement="top" title="Dashboard">
                                <span class="fa fa-dashboard"></span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 pln prn">
                        <a href="charts-highcharts.html" class="text-info" data-toggle="tooltip" data-placement="top" title="Stats">
                                <span class="fa fa-bar-chart-o"></span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 pln prn">
                        <a href="sales-stats-products.html" class="text-system" data-toggle="tooltip" data-placement="top" title="Orders">
                                <span class="fa fa-info-circle"></span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 pln prn">
                        <a href="sales-stats-purchases.html" class="text-warning" data-toggle="tooltip" data-placement="top" title="Invoices">
                                <span class="fa fa-file"></span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 pln prn">
                        <a href="basic-profile.html" class="text-alert" data-toggle="tooltip" data-placement="top" title="Users">
                                <span class="fa fa-users"></span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 pln prn">
                        <a href="management-tools-dock.html" class="text-danger" data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="fa fa-cogs"></span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- -------------- /Sidebar Header -------------- -->

        <!-- -------------- Sidebar Menu  -------------- -->
        <ul class="nav sidebar-menu">
            <li class="sidebar-label pt30">Menu</li>
          <li>
            <a class="accordion-toggle pointer-events: none;" href="#">
              <span class="fa fa-tasks"></span>
              <span class="sidebar-title">Administration</span>
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li class="active">
                <a [routerLink]="['/',route,usermanagement]">
                  <span class="fa fa-file-text-o"></span> User Management
                </a>
              </li>
            </ul>
          </li>
            <li>
                <a class="accordion-toggle pointer-events: none;" href="#">
                        <span class="fa fa-dashboard"></span>
                        <span class="sidebar-title">On Boarding</span>
                        <span class="caret"></span>
                    </a>
                <ul class="nav sub-nav">
                    <li class="active">
                        <a [routerLink]="['/',route,onboardingcustomerinformation]">
                                <span class="fa fa-file-text-o"></span> Client Onboarding
                        </a>
                    </li>
                    <li class="active">
                        <a [routerLink]="['/',route,controlgroup]">
                                <span class="fa fa-file-text-o"></span> Controlled Group
                        </a>
                    </li>
                    <li class="active">
                        <a [routerLink]="['/',route,ale]">
                                <span class="fa fa-file-text-o"></span> ALE
                        </a>
                    </li>
                    <li class="active">
                        <a [routerLink]="['/',route,aledetails]">
                                <span class="fa fa-file-text-o"></span> ALE Details
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="accordion-toggle pointer-events: none;" href="#">
                    <span class="fa fa-share-square-o"></span>
                    <span class="sidebar-title">File Management</span>
                    <span class="caret"></span>
                </a>
                <ul class="nav sub-nav">
                    <!-- <li>
                        <a [routerLink]="['/',route,payrolldataupload]" routerLinkActive="active">
                                <span class="fa fa-file-text-o"></span> File Upload </a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/',route, filemanager]" routerLinkActive="active">
                                <span class="fa fa-file-text-o"></span> File Manager </a>
                    </li>
                    <!--<li>
                        <a [routerLink]="['/',route,insurancedataupload]" routerLinkActive="active">
                                <span class="fa fa-file-text-o"></span> File List </a>
                    </li>-->
                </ul>
            </li>

                <!--<li>

                <a class="accordion-toggle pointer-events: none;" href="#">
                        <span class="fa fa-desktop"></span>
                        <span class="sidebar-title">Data View</span>
                        <span class="caret"></span>
                    </a>
                <ul class="nav sub-nav">
                    <li class="active">
                        <a [routerLink]="['/',route,legalentities]">
                                <span class="fa fa-file-text-o"></span> Legal Entities </a>
                    </li>
                    <li class="active">
                        <a [routerLink]="['/',route,insuranceinfo]">
                                <span class="fa fa-file-text-o"></span> Insurance Data </a>
                    </li>
                    <li class="active">
                        <a [routerLink]="['/',route,acadata]">
                                <span class="fa fa-file-text-o"></span> ACA Data </a>
                    </li>
                    <li class="active">
                        <a [routerLink]="['/',route,onboardingcustomerinformation]">
                                <span class="fa fa-file-text-o"></span> 1094 </a>
                    </li>
                    <li class="active">
                        <a [routerLink]="['/',route,o1095c]">
                                <span class="fa fa-file-text-o"></span> 1095 </a>
                    </li>
                </ul>
            </li>-->
            <!--<li class="sidebar-label pt25">Eligibility</li>-->

            <li>
                <a class="accordion-toggle menu-open pointer-events: none;" href="#">
                        <span class="fa fa-wrench"></span>
                        <span class="sidebar-title">Reports</span>
                        <span class="caret"></span>
                    </a>
                <ul class="nav sub-nav">
                    <!-- <li>
                        <a [routerLink]="['/',route,empsummary]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-equalizer"></span> Employee Summary </a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/',route,empeligilbility]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-book"></span> Eligible </a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/',route,empdemographics]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-modal-window"></span> Demographics </a>
                    </li>
                    <li>
                        <a [routerLink]="['/',route,empbreakinservice]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-equalizer"></span> Break In Service </a>
                    </li>

                    <li>
                        <a [routerLink]="['/',route,nftreport]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-book"></span> Full Time New Hire </a>
                    </li>
                    <li>
                        <a [routerLink]="['/',route,enftreport]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-modal-window"></span> Initial Measurement Period </a>
                    </li>
                    <li>
                        <a [routerLink]="['/',route,ogreport]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-equalizer"></span> Standard Measurement Period </a>
                    </li>
                    <li>
                        <a [routerLink]="['/',route,empstabilityperiod]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-equalizer"></span> Stability Period </a>
                    </li>

                    <li>
                        <a [routerLink]="['/',route,ercreport]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-equalizer"></span> Employer Size </a>
                    </li>
                    <li>
                        <a [routerLink]="['/',route,pdareport]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-equalizer"></span> Employee Activity </a>
                    </li>
                    <li>
                        <a [routerLink]="['/',route,shownames]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-equalizer"></span> Show Names </a>
                    </li>
                    <li>
                        <a [routerLink]="['/',route,payhistory]" routerLinkActive="active">
                                <span class="glyphicon glyphicon-equalizer"></span> Pay History </a>
                    </li>

                </ul>
            </li>
          <!--  <li class="sidebar-label pt25">IRS</li>-->
            <li>
                <a class="accordion-toggle pointer-events: none;" href="#">
                    <span class="fa fa-check-square-o"></span>
                    <span class="sidebar-title">1094C/1095C Management</span>
                    <span class="caret"></span>
                </a>
                <ul class="nav sub-nav">
                    <li>
                    <a [routerLink]="['/',route,1094]">
                    <span class="fa fa-file-text-o"></span> 1094C Management</a>
                    </li>
                    <li>
                    <a [routerLink]="['/',route,1095]">
                    <span class="fa fa-file-text-o"></span>1095C Management</a>
                    </li>
                </ul>
            </li>
          <li>
            <a class="accordion-toggle pointer-events: none;" href="#">
              <span class="fa fa-check-square-o"></span>
              <span class="sidebar-title">IRS Management</span>
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li><a [routerLink]="['/',route,generateirs]"><span class="glyphicon glyphicon-shopping-cart"></span> Generate IRS File </a></li>
              <li>
                    <a [routerLink]="['/',route,irsfilemanagement]">
                    <span class="fa fa-file-text-o"></span> IRS File Management</a>
                </li>
            </ul>
          </li>
         <!-- <ul class="nav sidebar-menu">
            <li class="sidebar-label pt30">Administration</li>-->
<!--            <li>
              <a class="accordion-toggle pointer-events: none;" href="#">
                <span class="fa fa-tasks"></span>
                <span class="sidebar-title">Administration</span>
                <span class="caret"></span>
              </a>
              <ul class="nav sub-nav">
                <li class="active">
                        <a [routerLink]="['/',route,usermanagement]">
                        <span class="fa fa-file-text-o"></span> User Management</a>
                    </li>
                &lt;!&ndash;<li class="active">
                  <a [routerLink]="['/',route,listcustomer]">
                    <span class="fa fa-file-text-o"></span> List Customers </a>
                </li>&ndash;&gt;
                &lt;!&ndash; <li>
                        <a [routerLink]="['/',route,filemanager]" routerLinkActive="active">
                                <span class="fa fa-file-text-o"></span> File Manager </a>
                    </li> &ndash;&gt;
                &lt;!&ndash;<li class="sidebar-label pt25">File Management</li>&ndash;&gt;
              </ul>
            </li>-->
          <!--</ul>-->
        </ul>
        <!-- -------------- /Sidebar Menu  -------------- -->

        <!-- -------------- Sidebar Hide Button -------------- -->
        <div class="sidebar-toggler">
            <a href="#">
                    <span class="fa fa-arrow-circle-o-left"></span>
                </a>
        </div>
        <!-- -------------- /Sidebar Hide Button -------------- -->

    </div>
    <!-- -------------- /Sidebar Left Wrapper  -------------- -->

</aside>
