  <!-- -------------- Header  -------------- -->
    <header class="navbar navbar-fixed-top">
        <div class="navbar-logo-wrapper">
            <a class="navbar-logo-text" [routerLink]="['\dashboard']">
               
                    <img src="../assets/img/sipra.jpg" title="logo">
                 
                </a>
            <span id="sidebar_left_toggle" class="ad ad-lines"></span>
        </div>

        <h3 class="text-white pull-left"></h3>

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown dropdown-fuse">
                <a href="#" class="dropdown-toggle fw600" data-toggle="dropdown">
                        Welcome <span class="hidden-xs">
                            <!--<span>Admin</span> -->
                </span>
                        <span class="fa fa-caret-down hidden-xs mr15"></span>
                        <!--<img src="assets/img/pages/clipart2.png" alt="avatar" class="mw55">-->
                    </a>
                <ul class="dropdown-menu list-group keep-dropdown w250" role="menu">


                    <!--<li class="list-group-item">-->
                        <!--<a href="#" class="animated animated-short fadeInUp">-->
                                <!--<span class="fa fa-bell"></span> Notifications-->
                            <!--</a>-->
                    <!--</li>-->
                    <!--<li class="list-group-item">-->
                        <!--<a href="#" class="animated animated-short fadeInUp">-->
                                <!--<span class="fa fa-cogs"></span> Settings-->
                            <!--</a>-->
                    <!--</li>-->
                    <li class="dropdown-footer text-center">
                        <a href="#" class="btn btn-primary btn-sm btn-bordered">
                                <span class="fa fa-power-off pr5"></span> Logout
                            </a>
                    </li>
                </ul>
            </li>
        </ul>


    </header>
    <!-- -------------- /Header  -------------- -->

<!-- -------------- Topbar Menu Wrapper -------------- -->
            <div id="topbar-dropmenu-wrapper">
                <div class="topbar-menu row">
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="service-box bg-danger">
                        <span class="fa fa-music"></span>
                        <span class="service-title">Audio</span>
                    </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="service-box bg-success">
                        <span class="fa fa-picture-o"></span>
                        <span class="service-title">Images</span>
                    </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="service-box bg-primary">
                        <span class="fa fa-video-camera"></span>
                        <span class="service-title">Videos</span>
                    </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="service-box bg-alert">
                        <span class="fa fa-envelope"></span>
                        <span class="service-title">Messages</span>
                    </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="service-box bg-system">
                        <span class="fa fa-cog"></span>
                        <span class="service-title">Settings</span>
                    </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" class="service-box bg-dark">
                        <span class="fa fa-user"></span>
                        <span class="service-title">Users</span>
                    </a>
                    </div>
                </div>
            </div>
            <!-- -------------- /Topbar Menu Wrapper -------------- -->
