 


  #content .panel { box-shadow: 1px 2px 0 #e5eaee; padding: 25px; background: #fafafa; border: none !important;}
  .allcp-form .panel-body { padding: 0px;}
  body{font-family: 'Lato', sans-serif;}
/*New styles*/
.btn-pdf button{border:1px solid #dee0e3; background: #fff; border-radius: 3px; padding: 5px 12px; margin-left: 10px;}
.btn-pdf button:hover{background:#ed1c24; color: #fff; border-color: #ed1c24}
.btn-pdf button:hover .fa{color: #fff;}
.btn-pdf .fa{color: #ed1c24}
.heading_panel h4{margin-top: 10px}
.heading_panel{border-bottom: 1px solid #e6e8eb; padding-bottom: 20px; margin-bottom: 25px;}

.nav-tabs>li {margin-right: 5px;  background: url(bg-border.png) no-repeat left 1px top 7px;    padding: 0 0 0 18px;}
.nav-tabs li:first-child{background: none; margin-left: 0px; padding-left: 0}
.nav-tabs>li.active, .nav-tabs>li.active + li{background: none}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li a:hover{background: #385366; color: #fff; border: none;}
.filterbtn-container{padding-top: 15px;}
.filter{background-color :#385366; font-size: 13pt; color: white;   border-radius: 10px; margin-right: 15px;}
.filter:hover {background-color:#21b6d6; border-color: #21b6d6}
.reset {background-color :#21b6d6;color: white; font-size: 13pt; border-radius: 10px; }
.reset:hover {background-color:#385366;; color: #fff}
.panel thead {background-color: #767777;color: #fff;}
#content .panel tbody th {color: #888b8b;}
#content .panel tbody td {color: #8a8b8c;}  
.savefile label{ width: 100% }
.ale-2 { width: 50%}