<section id="content_wrapper">
  <!-- Topbar -->
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span> 1094C Management</span>
        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" [routerLink]="['../../',1094]">Back</button>
      </div>
    </div>
  </header>

  <body>
    <section class="table-layout animated fadeIn" id="content">
      <div class="allcp-form theme-primary center-block">
        <div class="col-md-12">
          <div class="row">
            <div class="panel">
              <div class="panel-body no-padding" style="margin-top: 0px">
                <!-- Sub Heading -->
                <div class="section heading_panel">
                  <label>
                    <h4 style="margin-bottom: 0px;">Form 1094-C</h4>
                  </label>
                  <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" id="btnDownloadPdf" (click)="viewPdf(year, details.p1AleMemberEin)"
                    *ngIf="!download1094InProgress">&nbsp;&nbsp;Download 1094c PDF</button>
                  <button class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="download1094InProgress">
                    <i class="fa fa-spinner fa-spin"></i> &nbsp; Downloading...
                  </button>
                  <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" id="btnDownloadPdf" (click)="view1095sPdf(year, details.p1AleMemberEin)"
                    *ngIf="!download1095InProgress">&nbsp;&nbsp;Download 1095c PDF</button>
                  <button class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="download1095InProgress">
                    <i class="fa fa-spinner fa-spin"></i> &nbsp; Downloading...
                  </button>
                </div>

                <!-- Form -->
                <div class="row">
                  <alert></alert>
                  <div class="form-group col-md-6">
                    <label for="text">Tax Year:</label>
                    <input type="text" class="form-control" id="year" [(ngModel)]="details.taxYear">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="text">EIN:</label>
                    <input type="text" class="form-control" id="ein" [(ngModel)]="details.p1AleMemberEin">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="email">Process Status:</label>
                    <label class="field select">
                      <select class="form-control" [(ngModel)]="details.processStatus">
                        <option value="ORIGINAL">Original</option>
                        <option value="CORRECTION">Correction</option>
                      </select>
                      <i class="arrow"></i>
                    </label>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="email">Client Approval Status:</label>
                    <label class="field select">
                      <select class="form-control" [(ngModel)]="details.clientApprovalStatus">
                        <option value="APPROVED">Approved</option>
                        <option value="UNAPPROVED">Unapproved</option>
                      </select>
                      <i class="arrow"></i>
                    </label>
                  </div>
                </div>
                <!-- Taber start -->
                <section class="tab-info">
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a data-toggle="tab" href="#home">
                        <p>ALE Part - 1</p>
                      </a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#menu1">
                        <p>ALE Part - 2</p>
                      </a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#menu2">
                        <p>ALE Part - 3</p>
                      </a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#menu3">
                        <p>ALE Part - 4</p>
                      </a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                      <h5 style="margin-bottom: 25px;">
                        <strong>Applicable Large Employer Member (ALE Member):</strong>
                      </h5>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="text">First Name of ALE Member (Employer):</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1AleMemberContactFirstName required #firstName="ngModel" >
                          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" >
                              <div class="error" *ngIf="firstName.errors.required">
                              First  Name is required
                              </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="email">Last Name of ALE Member (Employer): </label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1AleMemberContactLastName  required #lastName="ngModel" >
                          <div class="error" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" >
                              <div *ngIf="lastName.errors.required">
                              Last  Name is required
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="text"> Middle Name of ALE Member (Employer): </label>
                          <input minlength="1" type="text" class="form-control" [(ngModel)]=details.p1AleMemberContactMiddleInitial required maxlength="1"  #midName1="ngModel" >
                          <div class="error" *ngIf="midName1.invalid && (midName1.dirty || midName1.touched)" >
                            <div *ngIf="midName1.errors.required">
                           Middle   Name is required &  Name must be only 1 character long.
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="email">Employee identification number (EIN)</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1AleMemberEin  required #eiNumber="ngModel" >
                          <div class="error" *ngIf="eiNumber.invalid && (eiNumber.dirty || eiNumber.touched)" >
                              <div *ngIf="eiNumber.errors.required">
                                  Employee identification number  is required
                              </div>
                            </div>
                        </div>
                      </div>


                      <div class="row">
                          <div class="form-group col-md-6">
                              <label for="text">Contact Name (suffix)</label>
                              <input type="text" class="form-control" [(ngModel)]=details.p1AleMemberContactSuffix required maxlength="2"  #contactSuffix="ngModel">
                              <div class="error" *ngIf="contactSuffix.invalid && (contactSuffix.dirty || contactSuffix.touched)">
                                  <div *ngIf="contactSuffix.errors.required">
                                    Contact Suffix Required & That must be 2 Characters Only
                                  </div>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Contact telephone number</label>
                                <input type="text" class="form-control" [(ngModel)]=details.p1AleMemberTelephoneNumber required #contactTeleNumber="ngModel" >
                                <div class="error" *ngIf="contactTeleNumber.invalid && (contactTeleNumber.dirty || contactTeleNumber.touched)" >
                                    <div *ngIf="contactTeleNumber.errors.required">
                                        Contact telephone number is required
                                    </div>
                                  </div>
                              </div>
                            </div>









                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="text">Address line1 </label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1AleMemberAddressLine1 required #add1="ngModel" >
                          <div class="error" *ngIf="add1.invalid && (add1.dirty || add1.touched)" >
                              <div *ngIf="add1.errors.required">
                                 Address 1  is required
                              </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="email">Address line2 </label>
                          <input type="text" class="form-control" [(ngModel)]="details.p1AleMemberAddressLine2"  required #add2="ngModel" >
                          <div class="error" *ngIf="add2.invalid && (add2.dirty || add2.touched)" >
                              <div *ngIf="add2.errors.required">
                                  Address 2 is required
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="text">City or Town</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1AleMemberCityOrTown  required #cityRtown="ngModel" >
                          <div class="error" *ngIf="cityRtown.invalid && (cityRtown.dirty || cityRtown.touched)" >
                              <div *ngIf="cityRtown.errors.required">
                                  City or Town is required
                              </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="email">State or Province</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1AleMemberStateOrProvince  required #stateRprovi="ngModel" >
                          <div class="error" *ngIf="stateRprovi.invalid && (stateRprovi.dirty || stateRprovi.touched)" >
                              <div *ngIf="stateRprovi.errors.required">
                                  State or Province is required
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="text">Country</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1AleMemberCountry required maxlength="2" #countryName="ngModel">
                          <div class="error" *ngIf="countryName.invalid && (countryName.dirty || countryName.touched)">
                              <div *ngIf="countryName.errors.required">
                                  Country Name is required & Must be 2 characters Only
                              </div>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="text">ZIP or foreign postal code</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1AleMemberZipOrForeignPostalCode  required #zipRpost="ngModel" >
                          <div class="error" *ngIf="zipRpost.invalid && (zipRpost.dirty || zipRpost.touched)" >
                              <div *ngIf="zipRpost.errors.required">
                                  ZIP or foreign postal code is required
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="email">First Name of person to contact</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1NameOfPersonToContactFirstName  required #firstPersonToContact="ngModel" >
                          <div class="error" *ngIf="firstPersonToContact.invalid && (firstPersonToContact.dirty || firstPersonToContact.touched)" >
                              <div *ngIf="firstPersonToContact.errors.required">
                                  First Name of person to contact is required
                              </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="text"> Last Name of person to contact</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1NameOfPersonToContactLastName required #lastPersonToContact="ngModel" >
                          <div class="error" *ngIf="lastPersonToContact.invalid && (lastPersonToContact.dirty || lastPersonToContact.touched)" >
                              <div *ngIf="lastPersonToContact.errors.required">
                                  Last Name of person to contact is required
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="email"> Middle Name of person to contact</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1NameOfPersonToContactMiddleInitial required maxlength="1"  #midName="ngModel" >
                          <div class="error" *ngIf="midName.invalid && (midName.dirty || midName.touched)" >
                            <div *ngIf="midName.errors.required">
                              Name is required &  Name must be only 1 character long.
                            </div>
                          </div>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="text">Contact telephone number(suffix)</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1NameOfPersonToContactSuffix required maxlength="2"  #contactSuffix="ngModel">
                          <div class="error" *ngIf="contactSuffix.invalid && (contactSuffix.dirty || contactSuffix.touched)">
                              <div *ngIf="contactSuffix.errors.required">
                                Contact Suffix Required & That must be 2 Characters Only
                              </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="email">Contact telephone number</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1NameOfPersonToContactNumber required #contactTeleNumber="ngModel" >
                          <div class="error" *ngIf="contactTeleNumber.invalid && (contactTeleNumber.dirty || contactTeleNumber.touched)" >
                              <div *ngIf="contactTeleNumber.errors.required">
                                  Contact telephone number is required
                              </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="text">Employer identification number (EIN)</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1DesignatedGovernmentEin  required #empIdenNum="ngModel" >
                          <div class="error" *ngIf="empIdenNum.invalid && (empIdenNum.dirty || empIdenNum.touched)" >
                              <div *ngIf="empIdenNum.errors.required">
                                  Employer identification number (EIN) is required
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="email">Street address line 1 (including room or suite no.)</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1DesignatedGovernmentEntityLine1  required #streetAdd1="ngModel" >
                          <div class="error" *ngIf="streetAdd1.invalid && (streetAdd1.dirty || streetAdd1.touched)" >
                              <div *ngIf="streetAdd1.errors.required">
                                  Street address line 1 is required
                              </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="text">Street address line 2</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1DesignatedGovernmentEntityLine2  required #streetAdd2="ngModel" >
                          <div class="error" *ngIf="streetAdd2.invalid && (streetAdd2.dirty || streetAdd2.touched)" >
                              <div *ngIf="streetAdd2.errors.required">
                                  Street address line 2 is required
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="email">Foreign address Indicator</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1DesignatedGovernmentForeignAddressIndicator  required #forAddInd="ngModel" >
                          <div class="error" *ngIf="forAddInd.invalid && (forAddInd.dirty || forAddInd.touched)" >
                              <div *ngIf="forAddInd.errors.required">
                                  Foreign address Indicator is required
                              </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="text">City or Town</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1DesignatedGovernmentCityOrTown   required #cityRTown1="ngModel" >
                          <div class="error" *ngIf="cityRTown1.invalid && (cityRTown1.dirty || cityRTown1.touched)" >
                              <div *ngIf="cityRTown1.errors.required">
                                  City or Town is required
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="email">State or Province </label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1DesignatedGovernmentStateOrProvince  required #stateRprovince1="ngModel" >
                          <div class="error" *ngIf="stateRprovince1.invalid && (stateRprovince1.dirty || stateRprovince1.touched)" >
                              <div *ngIf="stateRprovince1.errors.required">
                                  State or Province is required
                              </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="text">Country</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1DesignatedGovernmentCountry required maxlength="2"  #countryName1="ngModel">
                          <div class="error" *ngIf="countryName1.invalid && (countryName1.dirty || countryName1.touched)">
                              <div *ngIf="countryName1.errors.required">
                                 Country Name is required & Must be 2 characters Only
                              </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="text">ZIP or foreign postal code </label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1DesignatedGovernmentZipOrForeignPostalCode  required #zipRpostal="ngModel" >
                          <div class="error" *ngIf="zipRpostal.invalid && (zipRpostal.dirty || zipRpostal.touched)" >
                              <div *ngIf="zipRpostal.errors.required">
                                  ZIP or foreign postal code is required
                              </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="email">Total number of Forms 1095-C submitted with this transmittal :
                          </label>
                          <input type="text" class="form-control" [(ngModel)]=details.p1TotNumOfForms1095cSubWithThisTransmittal required #totNoForms="ngModel" >
                          <div class="error" *ngIf="totNoForms.invalid && (totNoForms.dirty || totNoForms.touched)" >
                              <div *ngIf="zipRpostal.errors.required">
                                  Total number of Forms 1095-C submitted with this transmittal is required
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-12">
                          <label class="checkbox-inline">
                            <!-- <input type="checkbox" [(ngModel)]=details.p1Resever>Reserved -->
                            <input type="checkbox" [checked]="details.p1Resever == '1'" (click)="reservedToggle($event)"  [value]="details.p1Resever">Reserved
                          </label>
                        </div>
                      </div>
                      <div class="savefile">
                        <div class="row">
                          <div class="form-group col-md-12">
                            <div class="">
                              <label class="checkbox-inline">
                                <input type="checkbox" [checked]="details.p1AuthTransmittalForThisAleMember == '1'"  (click)="AuthTransmittal($event)"  [value]="details.p1AuthTransmittalForThisAleMember"> Is this the authoritative transmittal for this ALE Member? If “Yes,” check the box and continue.
                                If “No,” see instructions.</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                      <h5 style="margin-bottom: 25px;">
                        <strong>ALE Member Information:</strong>
                      </h5>
                      <div class="ale-2">
                        <div class="row">
                          <div class="from-group col-md-12">
                            <label for="text">Total number of Forms 1095-C filed by and/or on behalf of ALE Member :</label>
                            <input type="text" class="form-control" [(ngModel)]=details.p2TotNumOfForms1095cFiledBehalfofAlemember>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="form-group col-md-12">
                          <p> Is ALE Member a member of an Aggregated ALE Group? </p>
                          <label class="checkbox-inline">
                            <input type="radio" (click)="updateALEgroup('1')" [checked]="details.p2IsAleMemberAMemberOfAnAggregatedAleGroup == '1'" [value]="'1'">Yes</label>
                          <label class="checkbox-inline">
                            <input type="radio" (click)="updateALEgroup('0')" [checked]="details.p2IsAleMemberAMemberOfAnAggregatedAleGroup == '0'" [value]="'0'">No</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-12">
                          <p> Certifications of Eligibility (select all that apply): </p>
                          <label class="checkbox-inline">
                            <input type="checkbox"  (click)="qualifyingOfferMethod($event)" [checked]="details.p2CertOfEligibilityAQualifyingOfferMethod == '1'" [value]="'1'">A) Qualifying Offer Method</label>
                          <label class="checkbox-inline">
                            <input type="checkbox" (click)="QualifyingOfferMethodReserved($event)" [checked]="details.p2CertOfEligibilityBQualifyingOfferMethodReserved == '1'">B) Reserved</label>
                          <label class="checkbox-inline">
                            <input type="checkbox" (click)="Section4980hTransitionRelief($event)"  [checked]="details.p2CertOfEligibilityCSection4980hTransitionRelief == '1'">C) Reserved</label>
                          <label class="checkbox-inline">
                            <input type="checkbox" (click)="EligibilityD98OfferMethod($event)" [checked]="details.p2CertOfEligibilityD98OfferMethod == '1'">D) 98% offer method</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <p> Under penalties of perjury, I declare that I have examined this return and accompanying documents,
                            and to the best of my knowledge And belief, they are true, correct, and complete. </p>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="text">Signature:</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p2Signature>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="email">Title :</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p2Title>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="email">Date:</label>
                          <input type="text" class="form-control" [(ngModel)]=details.p2SignatureDate>
                        </div>
                      </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                      <h5 style="margin-bottom: 25px;">
                        <strong>ALE Member Information—Monthly:</strong>
                      </h5>
                      <div class="row">
                        <div class="form-group col-md-12">
                          <table class="table table-bordered">
                            <thead style="background: #d4e2f7">
                              <tr>
                                <th width="130"></th>
                                <th>
                                  <table>
                                    <tr style="border-bottom: 1px solid #ccc;">
                                      <th colspan="2" style="text-align: center; padding-bottom: 5px;">(a) Minimum Essential Coverage Offer Indicator</th>
                                    </tr>
                                    <tr align="center">
                                      <th style="text-align: center; padding-top: 5px;">Yes</th>
                                      <th style="text-align: center; padding-top: 5px;">No</th>
                                    </tr>
                                  </table>
                                </th>
                                <th style="text-align: center; vertical-align: middle;">(b) Section 4980H Full-Time Employee Count for ALE Member</th>
                                <th style="text-align: center; vertical-align: middle;">(c) Total Employee Count for ALE Member</th>
                                <th style="text-align: center; vertical-align: middle;">(d) Aggregated Group Indicator</th>
                              </tr>
                            </thead>
                            <tbody style="background: #f1f5fc">
                              <tr>
                                <td>All 12 Months</td>
                                <td>
                                  <table width="100%">
                                    <tr>
                                      <td colspan="2"></td>
                                    </tr>
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonth12('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorAll == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonth12('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorAll == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p3FullTimeEmployeeCountForAleMemberAll>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p3TotalEmployeeCountForAleMemberAll>
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorAll($event)" [checked]="details.p3AggregatedGroupIndicatorAll == '1'" [value]="'1'">
                                </td>
                              </tr>

                              <!-- Jan -->
                              <tr>
                                <td>Jan</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio"(click)="alemembermonthjan('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorJan == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthjan('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorJan == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p3FullTimeEmployeeCountForAleMemberJan>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p3TotalEmployeeCountForAleMemberJan>
                                </td>
                                <td align="center">
                                  <input type="checkbox"(click)="p3AggregatedGroupIndicatorJan($event)" [checked]="details.p3AggregatedGroupIndicatorJan == '1'" [value]="'1'">
                                </td>
                              </tr>

                              <!-- Feb -->
                              <tr>
                                <td>Feb</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthfeb('1')"  [checked]="details.p3MinimumEssentialCoverageOfferIndicatorFeb == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthfeb('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorFeb == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3FullTimeEmployeeCountForAleMemberFeb">
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3TotalEmployeeCountForAleMemberFeb">
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorFeb($event)" [checked]="details.p3AggregatedGroupIndicatorFeb == '1'" [value]="'1'">
                                </td>
                              </tr>


                              <!-- March -->
                              <tr>
                                <td>Mar</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthmar('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorMar == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthmar('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorMar == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p3FullTimeEmployeeCountForAleMemberMar>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p3TotalEmployeeCountForAleMemberMar>
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorMar($event)" [checked]="details.p3AggregatedGroupIndicatorMar == '1'" [value]="'1'">
                                </td>
                              </tr>

                              <!-- Apr -->
                              <tr>
                                <td>Apr</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthapr('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorApr == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthapr('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorApr == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3FullTimeEmployeeCountForAleMemberApr">
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3TotalEmployeeCountForAleMemberApr">
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorApr($event)" [checked]="details.p3AggregatedGroupIndicatorApr == '1'" [value]="'1'">
                                </td>
                              </tr>

                              <!-- 'May' -->
                              <tr>
                                <td>May</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthmay('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorMay == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthmay('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorMay == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3FullTimeEmployeeCountForAleMemberMay">
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3TotalEmployeeCountForAleMemberMay">
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorMay($event)" [checked]="details.p3AggregatedGroupIndicatorMay == '1'" [value]="'1'">
                                </td>
                              </tr>

                              <!-- Jun -->
                              <tr>
                                <td>Jun</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthjun('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorJun == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthjun('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorJun == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3FullTimeEmployeeCountForAleMemberJun">
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3TotalEmployeeCountForAleMemberJun">
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorJun($event)" [checked]="details.p3AggregatedGroupIndicatorJun == '1'" [value]="'1'">
                                </td>
                              </tr>

                              <!-- july -->
                              <tr>
                                <td>July</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthjul('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorJul == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthjul('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorJul == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3FullTimeEmployeeCountForAleMemberJul">
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3TotalEmployeeCountForAleMemberJul">
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorJul($event)" [checked]="details.p3AggregatedGroupIndicatorJul == '1'" [value]="'1'">
                                </td>
                              </tr>

                              <!-- Aug -->
                              <tr>
                                <td>Aug</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthaug('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorAug == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthaug('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorAug == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3FullTimeEmployeeCountForAleMemberAug">
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3TotalEmployeeCountForAleMemberAug">
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorAug($event)" [checked]="details.p3AggregatedGroupIndicatorAug == '1'" [value]="'1'">
                                </td>
                              </tr>
                              <!-- Sep -->
                              <tr>
                                <td>Sep</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthsep('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorSep == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthsep('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorSep == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3FullTimeEmployeeCountForAleMemberSep">
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3TotalEmployeeCountForAleMemberSep">
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorSep($event)" [checked]="details.p3AggregatedGroupIndicatorSep == '1'" [value]="'1'">
                                </td>
                              </tr>
                              <!-- oct -->
                              <tr>
                                <td>Oct</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthoct('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorOct == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthoct('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorOct == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3FullTimeEmployeeCountForAleMemberOct">
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3TotalEmployeeCountForAleMemberOct">
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorOct($event)" [checked]="details.p3AggregatedGroupIndicatorOct == '1'" [value]="'1'">
                                </td>
                              </tr>
                              <!-- Nov -->
                              <tr>
                                <td>Nov</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthnov('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorNov == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthnov('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorNov == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3FullTimeEmployeeCountForAleMemberNov">
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3TotalEmployeeCountForAleMemberNov">
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorNov($event)" [checked]="details.p3AggregatedGroupIndicatorNov == '1'" [value]="'1'">
                                </td>
                              </tr>
                              <!-- Dec -->
                              <tr>
                                <td>Dec</td>
                                <td>
                                  <table width="100%">
                                    <tr align="center">
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthdec('1')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorDec == '1'" [value]="'1'">
                                      </td>
                                      <td width="50%">
                                        <input type="radio" (click)="alemembermonthdec('0')" [checked]="details.p3MinimumEssentialCoverageOfferIndicatorDec == '0'" [value]="'0'">
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3FullTimeEmployeeCountForAleMemberDec">
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]="details.p3TotalEmployeeCountForAleMemberDec">
                                </td>
                                <td align="center">
                                  <input type="checkbox" (click)="p3AggregatedGroupIndicatorDec($event)" [checked]="details.p3AggregatedGroupIndicatorDec == '1'" [value]="'1'">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                      <h5 style="margin-bottom: 25px;">
                        <strong>Other ALE Members of Aggregated ALE Group:</strong>
                      </h5>
                      <p>Enter the names and EINs of Other ALE Members of the Aggregated ALE Group (who were members at any
                        time during the calendar year)</p>
                      <div class="row">
                        <div class="form-group col-md-12">
                          <table class="table table-bordered">
                            <thead style="background:#d4e2f7; color: #000">
                              <tr align="center">
                                <th>Name</th>
                                <th>EIN</th>
                                <th>Name</th>
                                <th>EIN</th>
                              </tr>
                            </thead>
                            <tbody style="background: #f1f5fc">
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine11 >
                                </td>
                                <td>






                                <div>
                                    <input type="text" class="form-control"  [(ngModel)]=details.p4EmployerIdentificationNumberEin1 required maxlength="9"  #ein1="ngModel">
                                    <div class="error1" *ngIf="ein1.invalid && (ein1.dirty || ein1.touched)" >
                                        <div *ngIf="ein1.errors.required">
                                            Ein must be 9 characters only
                                        </div>
                                    </div>
                                   

                                </div>




                                  </td>
                                <td>

                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine116>
                                </td>
                                <td>
                                  <input  type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin16  maxlength="9"  #ein2="ngModel" required>

                                  <div class="error1" *ngIf="ein2.invalid && (ein2.dirty || ein2.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>

                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine12>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin2 maxlength="9" #ein3="ngModel" required >
                                  <div class="error1" *ngIf="ein3.invalid && (ein3.dirty || ein3.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine117>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin17 maxlength="9" #ein4="ngModel" required>
                                  <div class="error1" *ngIf="ein4.invalid && (ein4.dirty || ein4.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine13>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin3 maxlength="9" #ein5="ngModel" required>
                                  <div class="error1" *ngIf="ein5.invalid && (ein5.dirty || ein5.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine118>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin18 maxlength="9" #ein6="ngModel" required>
                                  <div class="error1" *ngIf="ein6.invalid && (ein6.dirty || ein6.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div> 
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine14>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin4 maxlength="9" #ein7="ngModel" required>
                                  <div class="error1" *ngIf="ein7.invalid && (ein7.dirty || ein7.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine119>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin19 maxlength="9" #ein8="ngModel" required>
                                  <div class="error1" *ngIf="ein8.invalid && (ein8.dirty || ein8.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine15>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin5 maxlength="9" #ein9="ngModel" required>
                                  <div class="error1" *ngIf="ein9.invalid && (ein9.dirty || ein9.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine120>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin20 maxlength="9" #ein10="ngModel" required>
                                  <div class="error1" *ngIf="ein10.invalid && (ein10.dirty || ein10.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine16>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin6 maxlength="9" #ein11="ngModel" required>
                                  <div class="error1" *ngIf="ein11.invalid && (ein11.dirty || ein11.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine121>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin21 maxlength="9" #ein12="ngModel" required>
                                  <div class="error1" *ngIf="ein12.invalid && (ein12.dirty || ein12.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine17>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin7 maxlength="9" #ein13="ngModel" required>
                                  <div class="error1" *ngIf="ein13.invalid && (ein13.dirty || ein13.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine122>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin22 maxlength="9" #ein14="ngModel" required>
                                  <div class="error1" *ngIf="ein14.invalid && (ein14.dirty || ein14.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine18>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin8 maxlength="9" #ein15="ngModel" required>
                                  <div class="error1" *ngIf="ein15.invalid && (ein15.dirty || ein15.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine123>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin23 maxlength="9" #ein16="ngModel" required>
                                  <div class="error1" *ngIf="ein16.invalid && (ein16.dirty || ein16.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine19>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin9 maxlength="9" #ein17="ngModel" required>
                                  <div class="error1" *ngIf="ein17.invalid && (ein17.dirty || ein17.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine124>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin24 maxlength="9" #ein18="ngModel" required>
                                  <div class="error1" *ngIf="ein18.invalid && (ein18.dirty || ein18.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine110>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin10 maxlength="9" #ein19="ngModel" required>
                                  <div class="error1" *ngIf="ein19.invalid && (ein19.dirty || ein19.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine125>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin25 maxlength="9" #ein20="ngModel" required>
                                  <div class="error1" *ngIf="ein20.invalid && (ein20.dirty || ein20.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine111>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin11 maxlength="9" #ein21="ngModel" required>
                                  <div class="error1" *ngIf="ein21.invalid && (ein21.dirty || ein21.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine126>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin26 maxlength="9" #ein22="ngModel" required >
                                  <div class="error1" *ngIf="ein22.invalid && (ein22.dirty || ein22.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine112>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin12 maxlength="9" #ein23="ngModel" required>
                                  <div class="error1" *ngIf="ein23.invalid && (ein23.dirty || ein23.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine127>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin27 maxlength="9" #ein24="ngModel" required>
                                  <div class="error1" *ngIf="ein24.invalid && (ein24.dirty || ein24.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine113>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin13 maxlength="9" #ein25="ngModel" required>
                                  <div class="error1" *ngIf="ein25.invalid && (ein25.dirty || ein25.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine128>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin28 maxlength="9" #ein26="ngModel" required>
                                  <div class="error1" *ngIf="ein26.invalid && (ein26.dirty || ein26.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine114>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin14 maxlength="9" #ein27="ngModel" required>
                                  <div class="error1" *ngIf="ein27.invalid && (ein27.dirty || ein27.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine129>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin29 maxlength="9" #ein28="ngModel" required>
                                  <div class="error1" *ngIf="ein28.invalid && (ein28.dirty || ein28.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine115>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin15 maxlength="9" #ein29="ngModel" required>
                                  <div class="error1" *ngIf="ein29.invalid && (ein29.dirty || ein29.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4NameOfAleMemberEmployerLine130>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [(ngModel)]=details.p4EmployerIdentificationNumberEin30 maxlength="9" #ein30="ngModel" required>
                                  <div class="error1" *ngIf="ein30.invalid && (ein30.dirty || ein30.touched)" >
                                      <div *ngIf="ein2.errors.required">
                                          Ein must be 9 characters only
                                      </div>
                                  </div>
                                </td>
                              </tr>


                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <button type="button" class="btn btn-success" *ngIf="!updatingInProgress" (click)="save1094C(details)">Save 1094C</button>
                        <button class="btn btn-success" *ngIf="updatingInProgress">
                          <i class="fa fa-spinner fa-spin"></i> &nbsp; Updating...
                        </button>
                      </div>
                    </div>

                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
