<!-- -------------- Main Wrapper -------------- -->
<section id="content_wrapper">
    <!-- -------------- Topbar -------------- -->
    <header id="topbar" class="ph10 alt allcp-form theme-primary">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Applicable Large Employer</span>
            </div>
        </div>
    </header>
    <!-- -------------- /Topbar -------------- -->

    <!-- -------------- Filter , New ControlGroup , ControlGroup ,  -------------- -->
    <section id="content" class="table-layout animated fadeIn">
        <div class="chute chute-center">
            <div class="row" style="display:none">
                <div class="col-xs-12">
                    <div class="panel mb25 mt5">
                        <form method="post" action="/" id="allcp-form">
                            <div class="allcp-form theme-primary btn-bordered center-block">
                                <div class="section row">
                                    <div class="col-md-4 ph10 mb5">
                                        <h6 class="">Name</h6>
                                        <label for="itemsearch" class="field">
                                            <input type="search" name="itemsearch" id="itemsearch" class="gui-input" placeholder="Name . . .">
                                        </label>
                                    </div>
                                    <div class="col-md-4 ph10 mb5" style="display: none">
                                        <h6 class="">Filtering</h6>
                                        <label class="field select">
                                                <select id="language" name="language">
                                                    <option value="">Select Filter</option>
                                                    <option value="EN">English</option>
                                                    <option value="FR">French</option>
                                                    <option value="SP">Spanish</option>
                                                    <option value="CH">Chinese</option>
                                                    <option value="RU">Russian</option>
                                                </select>
                                                <i class="arrow double"></i>
                                            </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <h6>&nbsp;</h6>
                                        <button class="btn btn-bordered btn-primary mb5 dsde" type="submit">Filter</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <h6>&nbsp;</h6>
                                        <button class="btn btn-bordered btn-primary mb5 dsde" type="reset">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel">
                        <div class="panel-custom">
                            <a href="#" data-toggle="modal" data-target="#myModalNew" (click)="clearControlGroupObjectFromForm()" class="btn btn-primary btn-sm ml10 text-right" title="New User">
                               <span class="fa fa-plus pr5"></span> New ALE</a>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="panel-heading">
                            <span class="panel-title hidden-xs">Applicable Large Employer</span>
                        </div>
                        <div class="panel-body pn">
                            <div class="table-responsive">
                                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                                    <thead>
                                        <tr class="bg-light">
                                            <!--<th class="text-center"></th>
                                            <th class="text-center"></th>
                                            <th class="">Id</th>-->
                                            <th class="">FEIN</th>
                                            <th class="">Name</th>
                                            <th class="text-right">First Name</th>
                                            <th class="text-right">Last Name</th>
                                            <th class="text-right">Contact Number</th>
                                            <!--<th class="">Active</th>
                                            <th class="">Deleted</th>
                                            <th class="text-right">Address1</th>
                                            <th class="text-right">Address2</th>-->
                                            <th class="text-right">City</th>
                                            <th class="text-right">Province</th>
                                            <th class="text-right">State</th>
                                            <th class="text-right">Zip</th>
                                            <th class="text-right">Country</th>
                                            <!--<th class="text-right">Modified By</th>
                                            <th class="text-right">Modified Date</th>
                                            <th class="text-right">Created By</th>
                                            <th class="text-right">Created Date</th>-->
                                            <th class=""></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of data">
                                            <!--<td class="text-center">
                                                <label class="option block mn">
                                                    <input type="checkbox" name="inputname" value="FR">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </td>
                                            <td class="w100">
                                                <img class="img-responsive mw40 ib mr10" title="user" src="assets/img/pages/products/1.jpg">
                                            </td>-->
                                            <!--<td class="">{{row?.aleId}}</td>-->
                                            <td class="">{{row?.aleFein}}</td>
                                            <td class="">{{row?.aleName}}</td>
                                            <td class="">{{row?.aleContactFirstName}}</td>
                                            <td class="">{{row?.aleContactLastName}}</td>
                                            <td class="">{{row?.aleContactContactNumber}}</td>
                                            
                                            <!--<td class="">{{row?.active}}</td
                                            <td class="">{{row?.deleted}}</td>
                                            <td class="">{{row?.aleAddress1}}</td>
                                            <td class="">{{row?.aleAddress2}}</td>>-->
                                            <td class="">{{row?.aleCity}}</td>
                                            <td class="">{{row?.aleProvince}}</td>
                                            <td class="">{{row?.aleState}}</td>
                                            <td class="">{{row?.aleZip}}</td>
                                            <td class="">{{row?.aleCountry}}</td>
                                            <!--<td class="">{{row?.modifiedBy}}</td>
                                            <td class="">{{row?.modifiedDate}}</td>
                                            <td class="">{{row?.controlGroupId}}</td>
                                            <td class="">{{row?.createdBy}}</td>
                                            <td class="">{{row?.createdDate}}</td>-->
                                            <td class="text-right">
                                                <div class="btn-group text-right">
                                                    <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Actions
                                                        <span class="caret ml5"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a class="" data-toggle="modal" data-target="#myModalEdit" (click)="editAle(row.aleId,row.aleName,row.aleFein)"> Edit</a></li>
                                                        <!--<li><a class="" data-toggle="modal" data-target="#myModalView"> View</a></li>-->
                                                        <li><a class="" data-toggle="modal" data-target="#myModalDelete" (click)="deleteAle(row.aleId,row.aleName,row.aleFein)"> Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <!--<td class="text-right">
                                                <div class="btn-group text-right">
                                                    <button type="button" class="btn btn-success br2 btn-xs fs12 " data-toggle="modal" data-target="#myModal" (click)="editAle(row.aleId,row.aleName,row.aleFein)"> Edit</button>
                                                    <button type="button" class="btn btn-danger br2 btn-xs fs12 " data-toggle="modal" data-target="#myModall" (click)="deleteAle(row.aleId,row.aleName,row.aleFein)"> Delete</button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="#" data-toggle="modal" data-target="#myModal">Edit</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -------------- /Filter , New ControlGroup , ControlGroup ,  -------------- -->

</section>

<!-- New Modal popup -->
<div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelEdit">New ALE</h4>
            </div>
            <div class="modal-body">
                <div class="chute chute-center">
                    <div class="allcp-form theme-primary center-block">
                        <form class="form-horizontal" method="post" role="form" (ngSubmit)="createAle()" [formGroup]="aleForm"  novalidate="novalidate">
                                
                                <div class="panel-body"> 
                                    
                                     <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                            <label for="txtALEName" class="col-lg-3 control-label"><h6 class="label-item">ALE Name</h6></label>
                                            <input type="text" formControlName="nameControl" id="txtALEName" class="form-control" placeholder="ALE Name...">
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                            <label for="txtFEIN" class="col-lg-3 control-label"><h6 class="label-item">FEIN</h6></label>
                                            <input type="text" formControlName="FEINControl" id="txtFEIN" class="form-control" placeholder="FEIN...">
                                        </div>
                                    </div>


                                    <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                            <label for="txtAddress1" class="col-lg-3 control-label"><h6 class="label-item">Address 1</h6></label>
                                            <input type="text" formControlName="address1Control" id="txtAddress1" class="form-control" placeholder="Address 1...">
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                            <label for="txtAddress2" class="col-lg-3 control-label"><h6 class="label-item">Address 2</h6></label>
                                            <input type="text" formControlName="address2Control" id="txtAddress2" class="form-control" placeholder="Address 2...">
                                        </div>
                                    </div>
                                                        

                                    <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-2 control-label" for="txtCity"><h6 class="label-item">City</h6></label>
                                            <input formControlName="cityControl" class="form-control" id="txtCity" placeholder="City..." />
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-2 control-label" for="txtState"><h6 class="label-item">State</h6></label>
                                            <input formControlName="stateControl" class="form-control" id="txtState" placeholder="State..." />
                                        </div>
                                    </div>
                                                                              

                                    <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-2 control-label" for="txtProvince"><h6 class="label-item">Province</h6></label>
                                            <input formControlName="provinanceControl" class="form-control" id="txtProvince" placeholder="Province..." />
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                              <label class="col-lg-3 control-label" for="ddlCountry"><h6 class="label-item">Country</h6></label>
                                              <label class="field select">
                                                <select id="ddlCountry" formControlName="countryControl">
                                                    <option>United States</option>
                                                </select>
                                                <i class="arrow"></i>
                                              </label>
                                               
                                        </div>
                                    </div>
                                                

                                    <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-2 control-label" for="txtZip"><h6 class="label-item">ZIP</h6></label>
                                            <input formControlName="zipControl" class="form-control" id="txtZip" placeholder="ZIP..." />
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                            <label for="txtFirstName" class="col-lg-5 control-label"><h6 class="label-item">Contact First Name</h6></label>
                                            <input formControlName="contactFirstNameControl" type="text" id="txtFirstName" class="form-control" placeholder="First Name">
                                        </div>
                                     
                                    </div>
<!-- 

                               
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-body"> -->
                                            

                                    <div class="section row">
                                        
                                        <div class="col-md-6 ph10 mb5">
                                            <label for="txtLastName" class="col-lg-5 control-label"><h6 class="label-item">Contact Last Name</h6></label>
                                            <input formControlName="contactLastNameControl" type="text" id="txtLastName" class="form-control" placeholder="Last Name">
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                            <label for="txtPhoneNo" class="col-lg-3 control-label"><h6 class="label-item">Phone No.</h6></label>
                                            <input formControlName="contactNumberControl" type="text" id="txtPhoneNo" class="form-control" placeholder="Phone No">
                                        </div>
                                    </div>


                                    <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-2 control-label" for="chkActive"><h6 class="label-item">Active</h6></label>                                            
                                            <label class="block mt15 option option-primary">
                                            <input id="chkActive" type="checkbox" checked formControlName="isActiveControl" />
                                            <span class="checkbox"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                            
                                        </div>
                                    </div>
                                                      
                                                    
                                                <!-- </div>
                                            </div>
                                        </div>
                                    </div> -->
                             
                                <div class="panel-footer text-right">
                                    <button type="submit" [disabled]="!aleForm.valid" class="btn-primary" (click)="createAle()" data-dismiss="modal"> Submit</button>
                                    <button class="btn-primary" data-dismiss="modal"> Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- New Modal popup -->

<!-- Edit Modal popup -->
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelEdit">Edit ALE</h4>
            </div>
            <div class="modal-body">
                <div class="chute chute-center">
                    <div class="allcp-form theme-primary center-block">
                        <form class="form-horizontal" role="form" (ngSubmit)="updateAle()" [formGroup]="aleForm">
                                <div class="panel-body">   
                                    
                                    <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                            <div class="mb5 mt5">
                                                <h6 class="">ALE Name</h6>
                                                <!-- <div>{{nameControl.value}}</div> -->
                                                <input type="text" formControlName="nameControl" disabled="disabled" id="txtALEName" class="form-control" placeholder="ALE Name...">
                                            </div>
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                            <div class="mb5 mt5">
                                                <h6 class="">FEIN</h6>
                                                <!-- <div>{{FEINControl.value}}</div> -->
                                                <input type="text" formControlName="FEINControl" disabled="disabled" id="txtFEIN" class="form-control" placeholder="FEIN...">
                                            </div>
                                        </div>
                                    </div>

                                     <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                            <label for="txtAddress1" class="col-lg-3 control-label"><h6 class="label-item">Address 1</h6></label>
                                            <input type="text" formControlName="address1Control" id="txtAddress1" class="form-control" placeholder="Address 1...">
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                            <label for="txtAddress2" class="col-lg-3 control-label"><h6 class="label-item">Address 2</h6></label>
										    <input type="text" formControlName="address2Control" id="txtAddress2" class="form-control" placeholder="Address 2...">
                                        </div>
                                    </div>

                                    <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-2 control-label" for="txtCity"><h6 class="label-item">City</h6></label>
                                            <input formControlName="cityControl" class="form-control" id="txtCity" placeholder="City..." />
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-2 control-label" for="txtState"><h6 class="label-item">State</h6></label>
										    <input formControlName="stateControl" class="form-control" id="txtState" placeholder="State..." />
                                        </div>
                                    </div>

                                    <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-2 control-label" for="txtProvince"><h6 class="label-item">Province</h6></label>
                                            <input formControlName="provinanceControl" class="form-control" id="txtProvince" placeholder="Province..." />
                                        </div>
                                        <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-3 control-label" for="ddlCountry"><h6 class="label-item">Country</h6></label>
										  
                                            
                                            <label class="field select">
                                                <select id="ddlCountry" formControlName="countryControl">
                                                    <option>United States</option>
                                                </select>
                                                <i class="arrow"></i>
                                            </label>
                                        
                                        </div>

                                        

                                    </div>

                                     <div class="section row">
                                        <div class="col-md-6 ph10 mb5">
                                            <label class="col-lg-2 control-label" for="txtZip"><h6 class="label-item">ZIP</h6></label>
                                            <input formControlName="zipControl" class="form-control" id="txtZip" placeholder="ZIP..." />
                                        </div>
                                         <div class="col-md-6 ph10 mb5">
                                            <label for="txtFirstName" class="col-lg-5 control-label"><h6 class="label-item">Contact First Name</h6></label>
                                            <input formControlName="contactFirstNameControl" type="text" id="txtFirstName" class="form-control" placeholder="First Name">
                                        </div>
                                    </div>
                                  
                                    
                                 
                                    <!-- <div class="form-group">
                                        <div class="col-lg-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-body">
                                                    <fieldset>
                                                        <legend>ACA Contact</legend> -->

                                                           <div class="section row">
                                                               
                                                                <div class="col-md-6 ph10 mb5">
                                                                    <label for="txtLastName" class="col-lg-5 control-label"><h6 class="label-item">Contact Last Name</h6></label>
                                                                    <input formControlName="contactLastNameControl" type="text" id="txtLastName" class="form-control" placeholder="Last Name">
                                                                </div>
                                                                 <div class="col-md-6 ph10 mb5">
                                                                    <label for="txtPhoneNo" class="col-lg-3 control-label"><h6 class="label-item">Phone No.</h6></label>
                                                                    <input formControlName="contactNumberControl" type="text" id="txtPhoneNo" class="form-control" placeholder="Phone No">
                                                                </div>
                                                            </div>


                                                           <div class="section row">
                                                               

                                                                <div class="col-md-6 ph10 mb5">
                                                                    <label class="col-lg-2 control-label" for="chkActive"><h6 class="label-item">Active</h6></label>
                                                                    <label class="block mt15 option option-primary">
                                                                        <input id="chkActive" type="checkbox" checked formControlName="isActiveControl" /> 
                                                                        <span class="checkbox"></span>
                                                                    </label>
                                                                </div>

                                                                <div class="col-md-6 ph10 mb5">
                                                                </div>
                                                            </div>
                                                        
                                                        
                                                    <!-- </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                
                                <div class="panel-footer text-right">
                                    <button type="submit" class="btn-primary" (click)="updateAle()" data-dismiss="modal"> Submit</button>
                                    <button class="btn-primary" data-dismiss="modal"> Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit Modal popup -->

<!-- Delete Modal popup -->
<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">ALE</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-center">Are you sure want to <span>Delete</span>?</h4>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-bordered btn-primary mb5" data-toggle="modal" data-target="#confirm-delete"  data-dismiss="modal" (click)="deleteAleConfirm()"> Confirm</button>
                
                    
                <button class="btn btn-bordered mb5" data-dismiss="modal"> Cancel</button>
            </div>
        </div>
    </div>
</div>

 <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Information</h4>
                </div>
                <div class="modal-body">
                    <h4 class="text-center">Deleted Sucessfully</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-bordered btn-primary mb5" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
<!-- Delete Modal popup -->