<section id="content_wrapper">
  <!-- Topbar -->
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span> 1094C Management</span>
      </div>
    </div>
  </header>
  <section id="content" class="allcp-form theme-primary table-layout animated fadeIn">
    <div class="col-md-12">
      <alert></alert>
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <div class="panel" style="margin-bottom: 25px">
        <div class="panel-body no-padding" style="margin-top: 0px">
          <div class="row">
            <div class="form-group col-md-6">
              <label class="exampleSelect1">Tax Year <span class="req-ast"> * </span>:</label>
              <label class="field select">
                <select class="form-control" [(ngModel)]="selectedYear" (change)="ontaxYearChange()">
                  <option value="-1" default>Select Year</option>
                  <option *ngFor="let year of taxYearList" [ngValue]="year">{{year}}</option>
                </select>
                <i class="arrow"></i>
              </label>
            </div>
            <div class="form-group col-md-6">
              <label class="exampleSelect1">Control Group :</label>
              <label class="field select">
                <select class="form-control" [(ngModel)]="selectedGroup" (change)="ongroupChange()">
                  <option value="-1" default>Select Control Group</option>
                  <option *ngFor="let controlgroup of controlGroupList" [ngValue]="controlgroup">{{controlgroup}}</option>
                </select>
                <i class="arrow"></i>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="exampleSelect1">EIN :</label>
              <label class="field select">
                <select class="form-control" [(ngModel)]="selectedEIN" aria-placeholder="Select Datatype">
                  <option value="-1" selected>Select EIN</option>
                  <option *ngFor="let ein of einList" [ngValue]="ein">{{ein}}</option>
                </select>
                <i class="arrow"></i>
              </label>
            </div>
          </div>
          <div class="row filterbtn-container">
            <div class="form-group col-md-12">
              <button type="button" class="btn btn-danger pull-right" (click)="reset()">RESET </button>
              <button type="button" class="btn btn-info mr15  pull-right" (click)="getAll1094BySearchCriteria()"> FILTER
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel" *ngIf="dataLoaded">

        <div class="panel-body no-padding" style="margin-top:  0px">
          <table class="table dataTable table-striped table-bordered table-hover">
            <thead style="background-color: #767777;color: #fff;">
              <tr>
                <th>Tax Year</th>
                <th>EIN</th>
                <th>ALE Name</th>

                <th>Process Status</th>
                <th>Client Approval Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="file1094List?.length === 0"><p class="no-records">No records Found</p></tr>
              <tr *ngFor="let item of file1094List">
                <td>
                  {{item.taxYear}}
                </td>
                <td>
                  <a (click)="shareObj(item)">{{item.p1AleMemberEin | EIN}}</a>
                </td>
                <td>
                  {{item.p1AleMemberEmployerLine1}}
                </td>
                <td>
                  {{item.processStatus}}
                </td>
                <td>
                  {{item.clientApprovalStatus}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
