<section id="content_wrapper">
  <!-- Topbar -->
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span>Employee Eligibility Report</span>
        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" (click)="downloadPdf()" *ngIf="!downloadPdfInProgress" id="btnDownloadPdf"
          title="Download PDF">Download PDF</button>
          <button class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadPdfInProgress">
            <i class="fa fa-spinner fa-spin"></i> &nbsp; Downloading...
            </button>

        <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" (click)="downloadExcel()"*ngIf="!downloadExcelInProgress" id="btnDownloadExcel"
          title="Download Excel">Download Excel</button>
          <button class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadExcelInProgress">
            <i class="fa fa-spinner fa-spin"></i> &nbsp; Downloading...
            </button>

      </div>
    </div>
  </header>
  <!-- -------------- Topbar -------------- -->

  <!-- -------------- /Topbar -------------- -->
  <section id="content" class="allcp-form theme-primary table-layout animated fadeIn">
    <div class="col-md-12">
      <div class="panel panel-visible p20 mb20" id="spy3">
        <div class="panel-body pn" style="margin-top:0">
          <div class="form-horizontal">
            <div class="row">
              <div class="form-group" class="col-sm-6">
                <label for="selYear" class="col-sm-5 control-label">Year</label>
                <div class="select-wrap">
                  <ss-multiselect-dropdown [options]="myOptionsYear" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="selectedYear"></ss-multiselect-dropdown>
                </div>
              </div>
              <div class="form-group" class="col-sm-6">
                <div class="select-wrap">
                <label for="selcontrolgroup" class="col-sm-5 control-label">Control Group</label>
                <ss-multiselect-dropdown [options]="myOptionsCG" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="selectedControlGroup"></ss-multiselect-dropdown>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="form-horizontal mt15">
                <div class="form-group col-sm-12 mbn prn">
                  <button class="btn btn-danger pull-right" type="button" (click)="reset()">Reset</button>
                  <button class="btn btn-info mr15  pull-right" type="button" (click)="Search()">Filter</button>
                </div>
              </div>
            </div>
            <div class="row" hidden>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="selUnionStatus" class="col-sm-5 control-label"> Uniton Status</label>
                  <div class="col-sm-7">
                    <div class="select-wrap">
                    <label class="field select">
                      <select id="selUnionStatus" name="unionStatus" [(ngModel)]="selectedUnionStatus">
                        <option value="-1">Select</option>
                        <option *ngFor="let us of UnionStatus" value={{us}}>
                          {{us}}
                        </option>
                      </select>
                      <i class="arrow"></i>
                    </label>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="selTypeOfHours" class="col-sm-5 control-label"> Type Of Hours</label>
                  <div class="col-sm-7">
                    <label class="field select">
                      <select id="selTypeOfHours" name="typeOfHours" [(ngModel)]="selectedTypeOfHours">
                        <option value="-1">Select</option>
                        <option *ngFor="let th of TypeOfHours" value={{th}}>
                          {{th}}
                        </option>
                      </select>
                      <i class="arrow"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-visible p20" id="spy3" *ngIf="dataLoaded">
        <div class="panel-body pn mn">
          <div class="form-horizontal">
            <div class="row">
              <div class="col-sm-6">
                <div class="panel-heading">
                  <div class="panel-title hidden-xs">
                    Report Details
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-6 pull-right">
                      <input type="text" class="form-control" id="inputTableSearch" placeholder="Search Records" *ngIf="config.filtering" [ngTableFiltering]="config.filtering"
                        (tableChanged)="onChangeTable(config)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive over-x_table">
                  <ng-table id="datatable" ngclass="table table-striped table-bordered table-hover" [config]="config" (tableChanged)="onChangeTable(config)"
                    (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                  </ng-table>
                  <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize" [boundaryLinks]="false" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event">
                  </pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- excel download -->
      <div class="modal fade" id="confirm-excel-download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Excel Download</h4>
            </div>
            <div class="modal-body">
              <h4 class="text-center">Download is Dangerous!</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-bordered btn-primary mb5" data-dismiss="modal" (click)="downloadExcel()">Ok</button>
              <button type="reset" class="btn btn-bordered mb5" data-dismiss="modal"> Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>