<!-- -------------- Main Wrapper -------------- -->
<section id="content_wrapper">
    <!-- -------------- Topbar -------------- -->
    <header id="topbar" class="ph10 alt allcp-form theme-primary">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="panel-title"><span class="parent-item"><span class="fa fa-dashboard"></span> Dashboard</span></span>
        </div>
      </div>
    </header>
    <!-- -------------- /Topbar -------------- -->
</section>