/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.error {
    position: absolute;
    right: 15px;
    background: #000;
    padding: 2px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
  }
  .error:after {
      bottom: 100%;
      right: 20%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(0, 0, 0, 0);
      border-bottom-color: #000;
      border-width: 5px;
      margin-left: -5px;
  }
  .error1 {
    padding-left:500px;
   
    right: 500px;
    background: #000;
    padding: 2px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
  }
  