<section id="content_wrapper">
  <!-- Topbar -->
  <header id="topbar" class="ph10 alt allcp-form theme-primary">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="parent-item">
            <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
            <span class="fa fa-angle-right"></span>
          </span> Generate IRS File</span>
        <button class="btn btn-info btn-lg pull-right filemanger-uploadbtn" [disabled]="!canGenerateIRSFile()" (click)="submitForGenerateIRSFile(generateIRSList.taxYear, generateIRSList.ein,
                  generateIRSList.count1095, generateIRSList.formType)">Generate XML
        </button>
      </div>
    </div>
  </header>
  <section id="content" class="allcp-form theme-primary table-layout animated fadeIn">
    <div class="col-md-12">
      <div class="panel" style="margin-bottom: 25px">
        <div class="panel-body no-padding" style="margin-top: 0px">
          <div class="row">
            <alert></alert>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="form-group col-md-6">
              <label class="exampleSelect1">Tax Year <span class="req-ast ">*</span> :</label>
              <label class="field select">
                <select class="form-control" [(ngModel)]="selectedYear"  (change)="ontaxYearChange()">
                  <option value="-1" default>Select Year</option>
                  <option *ngFor="let year of taxYearList" [ngValue]="year">{{year}}</option>
                </select>
                <i class="arrow"></i>
              </label>
            </div>
            <div class="form-group col-md-6">
              <label class="exampleSelect1">Control Group <span class="req-ast ">*</span>:</label>
              <label class="field select">
                <select class="form-control" [(ngModel)]="selectedGroup">
                  <option value="-1" default>Select Control Group</option>
                  <option *ngFor="let controlgroup of controlGroupList" [ngValue]="controlgroup">{{controlgroup}}</option>
                </select>
                <i class="arrow"></i>
              </label>
            </div>
            
          </div>
          <div class="row">
              <div class="form-group col-md-6">
                  <label class="exampleSelect1">Process Status <span class="req-ast ">*</span>:</label>
                  <label class="field select">
                    <select class="form-control" [(ngModel)]="selectedProcessStatus" (change)="onprocessstatusChange()" >
                      <option value="-1" default>Select Process Status</option>
                      <option value="ORIGINAL" default>ORIGINAL</option>
                      <option value="CORRECTION" default>CORRECTION</option>
                    </select>
                    <i class="arrow"></i>
                  </label>
                </div>
            <div class="form-group col-md-6">
              <label for="exampleSelect1">EIN <span class="req-ast ">*</span>:</label>
              <label class="field select">
                <select class="form-control" [(ngModel)]="selectedEIN">
                  <option value="-1" default>Select EIN</option>
                  <option *ngFor="let ein of einList" [ngValue]="ein">{{ein}}</option>
                </select>
                <i class="arrow"></i>
              </label>
            </div>
            
          </div>

          <div class="row filterbtn-container">
            <div class="form-group col-md-12">
              <button type="button" class="btn btn-danger pull-right" (click)="reset()">RESET </button>
              <button type="button" class="btn btn-info mr15  pull-right" (click)="getAllGenerateIRS()"> FILTER
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- *ngIf="dataLoaded" -->
      <div class="panel">
        <div class="panel-body no-padding" style="margin-top:  0px">
          <table class="table dataTable table-striped table-bordered table-hover">
            <thead style="background-color: #767777;color: #fff;">
              <tr>
                <th>Tax Year</th>
                <th>EIN</th>
                <th>Count Of 1095</th>
                <th>Process Status</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="generateIRSList.length === 0">
                <td colspan="5">
                  <p class="no-records">No records Found</p>
                </td>
              </tr>
              <tr *ngFor="let irs of generateIRSList">
                <td>
                  {{irs.taxYear}}
                </td>
                <td>
                  {{irs.employerEIN | EIN}}
                </td>
                <td>
                  {{irs.form1095Count}}
                </td>
                <td>
                  {{selectedProcessStatus}}
                </td>
                <td>
                  {{irs.status}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
