<!-- -------------- Main Wrapper -------------- -->
<section id="content_wrapper">
    <header id="topbar" class="ph10 alt allcp-form theme-primary">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">
                    <span class="parent-item">
                        <span class="fa fa-dashboard"></span> Dashboard &nbsp;&nbsp;
                        <span class="fa fa-angle-right"></span>
                    </span>Standard Measurement Period Report</span>
                <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" (click)="downloadPdf()"  *ngIf="!downloadPdfInProgress"id="btnDownloadPdf"
                    title="Download PDF">Download PDF</button>
                    <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadPdfInProgress">
                        <i class="fa fa-spinner fa-spin"></i>&nbsp;Downloading.... 
                      </button>
                <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" (click)="downloadExcel()" *ngIf="!downloadExcelInProgress" id="btnDownloadExcel"
                    title="Download Excel">Download Excel</button>
                    <button type="button" class="btn btn-info btn-lg pull-right filemanger-uploadbtn mr25" *ngIf="downloadExcelInProgress">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp;Download.....
                        
            
                      </button>
            </div>
        </div>
    </header>

    <!-- -------------- Content -------------- -->
    <section class="allcp-form theme-primary table-layout animated fadeIn">
        <div class="col-md-12">
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="panel panel-primary  p20 mb20" id="p2">
                <div class="panel-body mn">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-10">






                                
                                    <form novalidate [formGroup]="ogReportForm" (ngSubmit)="Search()">
                                    <div class="col-sm-6">
                                        <label for="inputEmail3" class="col-sm-12 control-label"> Controlled Group</label>
                                        <div class="select-wrap">
                                        <label class="field select">
                                            <select (change)="endDatesOfCG($event)" id="selcontrolgroup" name="controlgroup" formControlName="controlGroup" [ngClass]="{'error':!validateControlGroups()}">
                                                <option selected disabled value="">All</option>
                                                <option *ngFor="let group of controlGroups" value={{group}}>
                                                    {{group}}
                                                </option>
                                            </select>
                                            <i class="arrow"></i>
                                        </label>
                                        </div>
                                        <!-- <em *ngIf="!validateControlGroups()">Please select valid Controlled Group</em> -->
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputMeasureStartDate" class="col-sm-12 control-label">Standard Measurement Start Date</label>
                                        <div class="select-wrap">
                                        <label class="field select">
                                            <select id="seldate" name="date" formControlName="measurementStartDate">
                                                <option selected disabled value="">Select Date</option>
                                                <option *ngFor="let date of measurementStartDates" value={{date}}>
                                                    {{date}}
                                                </option>
                                            </select>
                                            <i class="arrow"></i>
                                        </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputEmail3" class="col-sm-12 control-label">Standard Measurement End Date</label>
                                        <div class="select-wrap">
                                        <label class="field select">
                                            <select id="seldate" name="date" formControlName="measurementEndDate">
                                                <option selected disabled value="">Select Date</option>
                                                <option *ngFor="let date of measurementEndDates" value={{date}}>
                                                    {{date}}
                                                </option>
                                            </select>
                                            <i class="arrow"></i>
                                        </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputPassword3" class="col-sm-12 control-label">Type of Hours</label>
                                        <div class="select-wrap">
                                        <label class="field select">
                                            <select id="selTypeofHours" name="typeofHours" formControlName="typeOfHour">
                                                <option selected disabled value="">All</option>
                                                <option *ngFor="let hour of typeOfHours" value={{hour}}>
                                                    {{hour}}
                                                </option>
                                            </select>
                                            <i class="arrow"></i>
                                        </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputPassword3" class="col-sm-12 control-label">Avg. Weekly Hours Threshold</label>
                                        <div class="select-wrap">
                                            <label class="field select">
                                                <select id="avgWeeklyThreshold" name="avgWeeklyThreshold" formControlName="avgWeeklyHoursThreshold">
                                                    <option delected disabled value="">SELECT</option>
                                                    <option *ngFor="let AvgWeekly of avgWeeklyThreshold" [value]="AvgWeekly">
                                                        {{AvgWeekly}}
                                                    </option>
                                                </select>

                                            </label>
                                        <!-- <input type="text" class="form-control" formControlName="avgWeeklyHoursThreshold" id="inputPassword3"> -->
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 mbn mt25">
                                        <button class="btn btn-info mr5 ml15 pull-left" type="button" (click)="Search()">Filter</button>
                                            <button class="btn btn-danger pull-left" type="button" (click)="reset()">Reset</button>

                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-2">
                                <div class="row" style="display:none;">
                                    <div class="col-md-6">
                                        <div class="panel panel-primary teal_block" style="cursor:pointer">
                                            <div class="panel panel-primary teal_block">
                                                <div class="panel-body" (click)="getWeekData(13)">
                                                    <h1>{{count13Weeks}}</h1>
                                                </div>
                                                <div class="panel-footer" (click)="getWeekData(13)">13 Months</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-primary orange_block" style="cursor:pointer">
                                            <div class="panel panel-primary orange_block">
                                                <div class="panel-body" (click)="getWeekData(26)">
                                                    <h1> {{count26Weeks}}</h1>
                                                </div>
                                                <div class="panel-footer" (click)="getWeekData(26)">26 Months</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="display:none;">
                                        <div class="panel panel-primary teal_block" style="cursor:pointer">
                                            <div class="panel panel-primary teal_block">
                                                <div class="panel-body" (click)="getWeekData(47)">
                                                    <h1>{{count47Weeks}}</h1>
                                                </div>
                                                <div class="panel-footer" (click)="getWeekData(47)">11 Months</div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="panel panel-primary orange_block mt25" style="cursor:pointer">
                                            <div class="panel panel-primary orange_block">
                                                <div class="panel-body" (click)="getWeekData()">
                                                    <h1> {{countWeeks}}</h1>
                                                </div>
                                                <div class="panel-footer" (click)="getWeekData()">{{countMonths}} Months</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <div class="panel panel-visible p20" id="spy3" *ngIf="dataLoaded">
                    <div class="panel-body pn mn">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="panel-heading">
                            <div class="panel-title hidden-xs">
                              Report Details
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-horizontal">
                            <div class="form-group">
                              <div class="col-sm-6 pull-right">
                                <input type="text" class="form-control" id="inputTableSearch" placeholder="Search Details" *ngIf="config.filtering" [ngTableFiltering]="config.filtering"
                                  (tableChanged)="onChangeTable(config)">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
            <!-- <div class="panel panel-visible p20" id="spy3" *ngIf="dataLoaded">
                <div class="panel-heading">
                    <div class="panel-title hidden-xs">
                        Report Details
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Search</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="inputEmail3" placeholder="Search" *ngIf="config.filtering" [ngTableFiltering]="config.filtering"
                                            (tableChanged)="onChangeTable(config)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-sm-12">
                                <div #topScroll (scroll)='scroller(bottomScroll, topScroll)' style="overflow:scroll;overflow-y:hidden">
                                        <div [style.width.px]="topScrollWidth" style="height: 20px;"></div>                
                                    </div>
                      
                                    <div #bottomScroll class="table-responsive over-x_table"(scroll)='scroller(topScroll,bottomScroll)'>
                                <ng-table #ngTable id="datatable" ngclass="table table-striped table-bordered table-hover" [config]="config" (tableChanged)="onChangeTable(config)"
                                    (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                                </ng-table>
                                <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                                    [maxSize]="maxSize" [boundaryLinks]="false" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                                    (numPages)="numPages = $event">
                                </pagination>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -------------- /Content -------------- -->

    <!-- excel download -->
    <div class="modal fade" id="confirm-excel-download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Information</h4>
                </div>
                <div class="modal-body">
                    <h4 class="text-center">Download is Dangerous!</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-bordered btn-primary mb5" data-dismiss="modal" (click)="downloadExcel()">Ok</button>
                    <button type="reset" class="btn btn-bordered mb5" data-dismiss="modal"> Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>
